.inmemdb {
    #ivInSearch {
        right: $inmemdbSearchLtlRightPosition;
    }

    &.btextDir-rtl {
        #ivInSearch {
            left: $inmemdbSearchRtlLeftPosition;
            right: auto;
        }
    }
}