//* page Option Title ==================================== *//
.jconfirm{
    .jconfirm-box{
        &.jconfirm-type-blue{
            border-top: 0px;
        }
        div{
            &.jconfirm-title-c{
                .jconfirm-title{
                    @include applicationJconfirmTitle;
                    padding: $applicationTitlePadding;
                    border-bottom: 1px solid $applicationBorderColor;
                    display: block;
                }
            }
            
        }
    }
}
//* page Option title ==================================== *//
