//* List of Custom Variables for Reports Module (Axpert's Iview) ==================================== *//
//* Reports Module's Icon Color  ==================================== */
$moduleIconColor: lighten($applicationTextColor,33.5%);
//* Reports Module's Labels or Headings color  ==================================== */
$moduleLabelsOrHeadingsColor: lighten($applicationTextColor,6.5%);
//* Reports Module's Input's Text Or Value Color  ==================================== */
$moduleTextOrValueColor: lighten($applicationTextColor,0.5%);
//* Reports Module's Labels or Headings Font Size  ==================================== */
$moduleLabelsOrHeadingsFontSize: 15px;
//* Reports Module's Labels or Headings Font Weight  ==================================== */
$moduleLabelsOrHeadingsFontWeight: 600;