@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:
        url('./fonts/global/Roboto_300.woff2') format('woff2'),
        url('./fonts/global/Roboto_300.woff') format('woff'),
        url('./fonts/global/Roboto_300.eot?#iefix') format('embedded-opentype'),
        url('./fonts/global/Roboto_300.svg#Roboto') format('svg'),
        url('./fonts/global/Roboto_300.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
        url('./fonts/global/Roboto_400.woff2') format('woff2'),
        url('./fonts/global/Roboto_400.woff') format('woff'),
        url('./fonts/global/Roboto_400.eot?#iefix') format('embedded-opentype'),
        url('./fonts/global/Roboto_400.svg#Roboto') format('svg'),
        url('./fonts/global/Roboto_400.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
        url('./fonts/global/Roboto_500.woff2') format('woff2'),
        url('./fonts/global/Roboto_500.woff') format('woff'),
        url('./fonts/global/Roboto_500.eot?#iefix') format('embedded-opentype'),
        url('./fonts/global/Roboto_500.svg#Roboto') format('svg'),
        url('./fonts/global/Roboto_500.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
        url('./fonts/global/Roboto_700.woff2') format('woff2'),
        url('./fonts/global/Roboto_700.woff') format('woff'),
        url('./fonts/global/Roboto_700.eot?#iefix') format('embedded-opentype'),
        url('./fonts/global/Roboto_700.svg#Roboto') format('svg'),
        url('./fonts/global/Roboto_700.ttf') format('truetype');
}