/* CSS Document */
body
{
    background-color: #ffffff;
    font-size: 14px;
    color: #707070;
    margin: 0px; /*margin: 0px 5px; height: auto; padding-left: 10px; padding-top: 20px;*/
}
.Family
{
    /*font-family: Segoe UI, Helvetica, sans-serif;*/ /*border: 1px solid #b8b8b7; height: 30px; border-radius: 3px; width:100%;*/
}


option
{
    background: #EFEFEF;
}

.gridHeader
{
    background: gray; /*width: 100%;*/
    clear: both;
    float: left;
}

.gridHeader th
{
    height: 30px;
    float: left;
    border-right: 1px solid #fff;
    text-align: center;
    color: white;
    padding: 2px;
    font-size: 14px;
    font-weight: 100;
}

.gridContent
{
    background: #ededed !important; /*width: 100%; height: 47px;*/
    clear: both;
}

.gridContent td
{
    height: 28px;
    float: left;
    border-bottom: 1px solid #fff;
    color: black;
    font-size: 14px;
    font-weight: 100;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align:middle;
}
.subGridContent td
{
    height: 28px;
    float: left;
    border-bottom: 1px solid #fff;
    color: black;
    font-size: 14px;
    font-weight: 100;
    padding-top: 2px;
    padding-bottom: 2px;
}

a:focus, a:hover
{
    color: #999;
}
a
{
    color: #666;
    text-decoration: underline;
}
/*
input[type=text], input[type=password], input[type=file], input.text, input.title, textarea, select
{
    margin: 0.1em 0;
    font-size: 11px;
}*/
#container
{
}
#header
{
    background-color: #ffffff; /*background: -moz-linear-gradient(top,  #ffffff,  #d4d4d4);     background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d4d4d4));     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d4d4'); */
    padding: 5px 10px;
    height: 70px;
}
/* ---------------------------------------------- styles for menu bar --------------------------------------------- */

#navbar
{
    border-top: 1px #d5d5d5 solid;
    border-bottom: 2px #999 solid;
    height: 35px;
}
.navbar
{
    background: #D4A017;
}

.fmenu
{
    background-color: Gray;
    border-color: #8EB4E3;
    width: 100%;
}

.MainMenu
{
    font-size: 8pt;
    color: #FFFFFF;
    padding-top: 2px;
}

.StaticMenuSelected
{
    background-color: #0056a2;
    color: #ffffff;
}

.StaticMenuStyle
{
    border-color: #0056a2;
}

.StaticMenuStyle a
{
    text-decoration: none;
    color: #fff;
}

.StaticHoverStyle
{
    background-color: #D4A017;
    color: #ffffff;
}

.StaticHoverStyle a
{
    color: #ffffff;
}

.DynamicMenuStyle
{
    background-color: #595959;
    border: 1px solid #d5d5d5;
    z-index: 9999;
}

.DynamicMenuStyle td
{
    background-color: #f5f5f5 !important;
}

.DynamicMenuStyle a
{
    background-color: #f5f5f5;
}

.DynamicMenuItemStyle
{
    background-color: #f5f5f5;
    font-size: 8pt;
    color: #333333;
    font-weight: normal;
    border-bottom: 1px solid #d5d5d5;
}

.DynamicSelectedStyle
{
    background-color: #c5c5c5;
    color: #333333;
}

.DynamicHoverStyle
{
    color: #111111;
    background-color: #c5c5c5 !important;
}

.DynamicHoverStyle a
{
    color: #111111;
    background-color: #c5c5c5 !important;
    text-decoration: none;
    display: block;
    width: 100%;
}
.DynamicHoverStyle td
{
    color: #111111;
    background-color: #c5c5c5 !important;
}
/* ---------------------------------------------- End of styles for menu bar ----------------------------------------------*/
#right
{
    float: right;
    text-align: right;
}
#top-links
{
    width: 100%;
    font-weight: normal;
}
#top-links ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#top-links li
{
    display: inline;
    color: #666666;
    padding: 0 2px 0 0;
}
#top-links li a
{
}
#top-links li img
{
    vertical-align: bottom;
    cursor: pointer;
}
#branding ul
{
    list-style-type: none;
    vertical-align: middle;
    padding-left: 5px;
}
#prouct-name
{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 13px 0 0 0px;
    margin-top: 12px;
}
#top-selectBox
{
    padding-top: 20px;
}
#top-selectBox .ddlwidth
{
    width: 200px;
}
#breadcrumb-panel
{
    margin-top: 1px;
    background: #D4A017;
    height: 42px;
}

#breadcrumb-panelpopup
{
    height: 30px;
    background: -moz-linear-gradient(top,  #bac1cd,  #EFEEF0);
    background: -webkit-gradient(linear, left top, left bottom, from(#bac1cd), to(#EFEEF0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');
}

.icon-services
{
    background: no-repeat 10px 10px;
    padding-left: 10px;
}
#breadcrumb
{
    color: #CCC;
}
#breadcrumb span
{
    color: white;
    font-weight: normal;
    font-size: 14px;
}
#breadcrumb a
{
    color: #FF9900;
    font-weight: normal;
}
#breadcrumb h3
{
    font-size: 18px;
    color: white;
    margin: 0px;
}

#nextprevicons a.previous
{
    background: url(../../axpimages/icons/16x16/navigate_wtleft.png) no-repeat center center;
    width: 16px;
    height: 16px;
     float: left;
    padding-right: 4px;
   
}
#nextprevicons a.next
{
    background: url(../../axpimages/icons/16x16/navigate_wtright.png) no-repeat center center;
    width: 16px;
    height: 16px;
    float: left;
    padding-right: 4px;
   
    }
#nextprevicons a.previous img
{
    width:16px;
    height:16px;
}



#nextprevicons a.next img
{
     width:16px;
    height:16px;
}
.tstructcontent
{
    padding: 0px 0px 0px 0px;
    border: 1px solid #bbb;
    background: #efefef;
}
.dc
{
    margin: 10px 0px 20px 0px; /*overflow-x: auto;*/
    background: #efefef;
    width: 100%;
    top: 0px;
    vertical-align: top;
}

.dcTitle
{
    width: 100%;
    margin: 0px auto;
    height: 40px;
    background: #D4A017;
    color: white;
    font-size: 20px;
    /*font-family: Segoe UI;*/
    text-align: left;
    border-radius: 5px 5px 0px 0px;
}
.dcContent
{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
}
.content
{
    background-color: #fff;
    padding: 5px 10px 5px;
}
.tstruct-content
{
    background-color: #FFFFFF;
    padding: 5px;
    margin-top: 5px;
}

.gridForm1
{
    background-color: #bac1cd;
}
.gridForm
{
    /*border: 1px solid #CCCCCC;     background-color: #FFFFFF;*/
}
.gridForm td
{
    /*padding: 2px 3px 2px 3px;*/
    border: 1px solid white;
}
.gridForm th
{
    /* background: -moz-linear-gradient(top,  #bac1cd,  #EFEEF0);     background: -webkit-gradient(linear, left top, left bottom, from(#bac1cd), to(#EFEEF0));     background: -ms-linear-gradient(top,  #bac1cd,  #EFEEF0);     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');*/
    background-color: #c5c5c5;
    border: 1px solid white;
    height: 25px;
}
.gridForm tr.grey1
{
    /* background-color: #EEE;*/
}
.gridForm th span
{
    /* color: #CC0000;     font-size: 16px;*/
}
.gridForm input[type=text]
{
    margin: 1px !important;
}
/*, select*/
/*.gridForm select
{
    margin: 0px !important;
}*/

.pickbg
{
    background: #bac1cd;
}


.gridData {
     min-width: 919px;
    width: 100% !important;
        /*font-family: 'Arial';*/
        margin: 25px auto;
        margin-top: 5px;
        border-collapse: collapse;
        border: 1px solid #eee;
        /*border-bottom: 2px solid #000000;*/
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    }
    
    .gridData tr:hover {
        background: #f4f4f4;
    }
    
    .gridData tr:hover td {
        /*color: #111;*/
    }
    
    .gridData th,
    .gridData td {
        /*color: #999;*/
        padding: 5px;
        border-collapse: collapse;
        border-width: 1px 1px 0px 0px;
    }
    .gridData td {
        /*color: #000;*/
    }
    
    .gridData th {
        background: #6d7373;
        color: #fff;
        /*text-transform: uppercase;*/
        font-size: 13px;
        padding: 8px 5px;
        text-align :center;
    }
    
    .gridData th.last {
        border-right: none;
    }




.gridData tr.grey1
{
    background-color: #EEE;
}
.gridData th span
{
    color: #CC0000;
    font-size: 16px;
}
.gridData .borderRight
{
    border-right: 1px solid #CCCCCC;
}
.grid-icons
{
    /*background: -moz-linear-gradient(top,  #CCCCCC,  #FFFFFF) !important;     background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#FFFFFF));     background: -ms-linear-gradient(top,  #CCCCCC,  #FFFFFF) !important;     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#FFFFFF');     height: 24px;*/
    background: #f8f8f8;
    height: 30px; /*padding-top: 4px; border-top: 1px solid #999999;*/
}
.grid-icons ul
{
    margin: 0;
    padding: 0; /*    padding-top:5px;*/
}
.grid-icons li
{
    display: inline;
    padding: 2px;
}

.width50
{
    width: 50px;
}
.width70
{
    width: 75px;
}
.width100
{
    width: 100px;
}
.width150
{
    width: 150px;
}
.width200
{
    width: 200px;
}
.width300
{
    width: 300px;
}
.width400
{
    width: 400px;
}
.width500
{
    width: 500px;
}
.width600
{
    width: 600px;
}
.width700
{
    width: 700px;
}

.button
{
    background: -moz-linear-gradient(top,  #333333,  #7a7c7a);
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#7a7c7a));
    background: -ms-linear-gradient(top,  #7a7c7a,  #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#7a7c7a');
    color: #FFFFFF;
    border: 1px solid #333;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
    cursor: pointer;
}
#message-overlay
{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#searchoverlay
{
    margin: 0 auto; /* padding: 0px 10px 0px 10px;*/
    border: thin solid #bac1cd;
}

#searchoverlay input[type=text], #searchoverlay input[type=password], #searchoverlay input.text, #searchoverlay select
{
    margin: 0.1em 0;
    font-size: 12px;
    width: 200px;
}
#searchoverlay p
{
    margin-left: 80px;
}
.overlay
{
    background: #fff;
    border-color: #666666;
}
/*Change*/
.tstructclose-button
{
    background: gray;
    height: 34px;
    border-radius: 9px 9px 0px 0px;
}
.close-button
{
    background: #D4A017;
    height: 34px;
    border-radius: 9px 9px 0px 0px;
}
#workflowoverlay, #attachment-overlay, #grid-overlay
{
    margin: 10px 10px 0px 10px;
}
#attachment-overlay .import-icon
{
    background: url(../../axpimages/icons/16x16/text.png) no-repeat left center;
    padding: 0 10px 0 20px;
}
#workflowoverlay textarea
{
    height: 50px;
    width: 320px;
}
#workflowoverlay .workflow-buttons
{
    padding: 42px 0px 0 10px;
}
.cssform
{
    margin: 0 0 10px 0;
    overflow-x: auto;
    padding: 10px;
    background-color: #f2f2f2;
}
.cssform p
{
    border-top: medium none;
    clear: left;
    margin: 0;
    padding: 2px 0 2px 180px;
}
.cssform p.normalp
{
    border-top: medium none;
    clear: left;
    margin: 0 0 0 -5px;
    padding: 2px 0 2px 0px;
}
.cssform p.normalp span
{
    display: inline-block;
    width: 110px;
}
.width47per
{
    width: 47% !important;
}
.column, #column
{
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    overflow-x: visible !important;
    padding: 0;
    position: static;
    vertical-align: top;
    width: 350px;
}
.cssform label.required
{
    background-image: url("../../axpimages/required.gif");
    background-position: 100% 17%;
    background-repeat: no-repeat;
}
.cssform label
{
    float: left;
    font-weight: normal;
    margin-left: -185px;
    padding-right: 10px;
    padding-top: 1px;
    text-align: left;
    width: 170px;
}
.content .dashboard
{
    /*background-color: #f5f5f5;*/
    overflow: auto;
    float: left;
    border-top: 1px solid #d4d4d4;
    margin-bottom: 10px;
}
.content .dashboard table
{
    margin-bottom: 0 !important;
}
.content .dashboard h3
{
    padding: 6px 0 3px 10px;
    margin: 0px;
    background: -moz-linear-gradient(top,  #d4d4d4,  #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
    background: -ms-linear-gradient(top,  #d4d4d4,  #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff');
    height: 18px;
    font-weight: bold;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}
.content .column1
{
    width: 100%; /*width: 966px;*/
}
.content .column2
{
    width: 478px;
    margin-right: 10px;
}
.content .column3
{
    width: 315px;
    margin-right: 10px;
}
.show-hide
{
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 2px 5px;
    margin: 5px 0 10px;
    width: 964px;
}
.show-hide a
{
    text-align: right;
}
.show-hide lable
{
    padding: 2px 5px;
}
.widget1
{
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    text-align: center;
}
.marginNone
{
    margin: 0px !important;
}
.seeall
{
    padding: 5px 5px 0 5px;
    font-size: 0.8em;
    border-top: 1px solid #666;
    text-align: right;
}
.picklist
{
    /*margin-left:5px;     border: 1px solid #bbb;     padding: 0px 2px 0px 2px;     background-color: #666666;*/
}
/*.inputClass2
{
    border: 1px solid #b8b8b7;
    height: 30px;
    margin-left: 5px;
}*/
a.rowdelete
{
    background: url(../../axpimages/icons/16x16/delete-fade.png) no-repeat center center;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
a.rowdelete:hover
{
    background: url(../../axpimages/icons/16x16/delete.png) no-repeat center center;
}
a.disabledelete
{
    background: url(../../axpimages/icons/16x16/delete-fade.png) no-repeat center center;
    display: block;
    height: 16px;
    width: 16px;
}

.arrow-up, .arrow-down
{
    padding-right: 15px;
    color: #666666;
}
.arrow-up
{
    background: url(../../axpimages/arrow-up.gif) no-repeat right center;
}
.arrow-down
{
    background: url(../../axpimages/arrow-down.gif) no-repeat right center;
}
.gridData th a
{
    color: black;
    text-decoration: underline;
}
.gridData th a:hover
{
    color: #666666;
    text-decoration: none;
}
.ui-state-hover a, .ui-state-hover a:hover
{
    color: #212121 /*{fcHover}*/ !important;
}

#dvAppearance
{
    display: none;
    margin-top: 5%;
    height: 150px;
    text-align: center;
    height: 130px;
    overflow-y: auto;
}

#divAppearanceLeft
{
    padding: 5px;
    margin: 5px 5px 5px 5%;
    float: left;
    width: 90%;
    background-color: #bac1cd;
}
#divAppearanceLeft ul
{
    list-style-type: none;
    margin-bottom: 0px !important;
}
#divAppearanceLeft li
{
    float: left;
    margin-left: 5px;
}
#divAppearanceLeft image
{
    border: 1px solid #d5d5d5;
}
.allowempty
{
    color: #ff0000; /*font-size: 16px;*/
}
.ui-tabs-nav
{
    /*background: -moz-linear-gradient(top,  #ffffff,  #d4d4d4);     background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d4d4d4));     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d5d5d5');*/
}
.ui-state-default
{
    background: -moz-linear-gradient(top,  #d4d4d4,  #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
    background: -ms-linear-gradient(top,  #d4d4d4,  #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff');
}
.ui-state-active
{
    background: -moz-linear-gradient(top,  #d4d4d4,  #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
    background: -ms-linear-gradient(top,  #d4d4d4,  #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff') !important;
}

/* ------------------------- Start Dimmer ------------------------- */
#waitDiv
{
    height: DYNAMIC;
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: visible;
    width: DYNAMIC;
    z-index: 100000;
}

#backgroundDiv
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    filter: alpha(opacity=50);
    /*opacity: 1;*/
    z-index: 999999;
}

#messageDiv
{
    position: fixed;
    top: 10%;
    left: 35%;
    padding: 10px;
    width: 30%;
    z-index: 1000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(top, #d4d4d4, #ffffff) !important; /* for firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
    background: -ms-linear-gradient(ttop, #d4d4d4, #ffffff) !important;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    color: #333333;
    border: 1px solid #333333;
    vertical-align: middle;
}
/* ------------------------- End Dimmer ------------------------- */

.divFilter
{
    color: #333333;
    padding: 0px 10px 10px 10px;
}
.pnlgrid
{
    /*padding: 10px;*/
}
.listViewDc
{
    margin: 0px 0px 0px 0px; /*overflow-x: auto;*/
    top: 0px;
    vertical-align: top;
    /*padding: 10px;*/
    background-color: White;
    border-color: #bac1cd;
    border-width: thin;
    border-style: solid;
}


.tstcap
{
    font-size: 13pt; /*font-weight: bold;*/
    color: #000000;
}
.tstcap1
{
    font-size: 8pt; /*font-weight: bold;*/
    color: #000000;
}
.dvFoot
{
    background-color: #bac1cd;
    border: 1 solid #bac1cd;
    height: 35px;
    color: #666666;
    font-size: 7.5pt;
    font-weight: bold;
}

.lvlRecd
{
    font-size: 14pt;
    color: Black;
}
.paramtd2
{
}


/*---------------------------------- Styles for Curve------------------- */

.r1
{
    margin: 0 5px;
}
.r2
{
    margin: 0 3px;
}
.r3
{
    margin: 0 2px;
}
.r4
{
    margin: 0 1px;
    height: 2px;
}
.rtop3, .rbottom3
{
    display: block;
    background-color: #ffffff;
}
.paramtd1
{
    background-color: #fff;
}

.paramtd2
{
    background-color: #fff;
}

.dvadminheader
{
    /*background: -moz-linear-gradient(top,  #bac1cd,  #EFEEF0);     background: -webkit-gradient(linear, left top, left bottom, from(#bac1cd), to(#EFEEF0));     background: -ms-linear-gradient(top,  #bac1cd,  #EFEEF0);     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');*/
    background: #D4A017;
    color: #666666; /*padding: 5px;*/
    font-size: 15px;
    font-weight: bold;
}

.backbutton
{
    margin-top: 4px;
    float: left;
    padding-top: 4px; /*padding-bottom:5px;*/
    background: #D4A017;
}
.dvadminsubheader
{
    /* background: -moz-linear-gradient(top,  #bac1cd,  #EFEEF0);     background: -webkit-gradient(linear, left top, left bottom, from(#bac1cd), to(#EFEEF0));     background: -ms-linear-gradient(top,  #bac1cd,  #EFEEF0);     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');*/
    color: white;
    font-size: 16px;
}

.ivgridData
{
    background-color: #EEE;
    margin-bottom: 10px;
}
.ivgridData td
{
    padding: 2px 5px;
    background: #EEEEEE;
}
.ivgridData th
{
    background: -moz-linear-gradient(top,  #bac1cd,  #EFEEF0);
    background: -webkit-gradient(linear, left top, left bottom, from(#bac1cd), to(#EFEEF0));
    background: -ms-linear-gradient(top,  #bac1cd,  #EFEEF0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac1cd', endColorstr='#EFEEF0');
    color: #666666;
}
.ivgridData tr.grey1
{
    background-color: #EEE;
}
.ivgridData th span
{
    color: #CC0000;
    font-size: 16px;
}
.ivgridData th a
{
    color: #0066cc;
    text-decoration: underline;
}
.ivgridData th a:hover
{
    color: #666666;
    text-decoration: none;
}

#leftPanel
{
    min-width: 220px;
    width: 20%;
    position: relative;
    /* float: left;*/
    margin: 10px 0 0 5px;
    color: #666666;
    padding-top: 5px;
}

#leftPanel li
{
    cursor: pointer; /*height: 20px;*/
     list-style:none;
}

#leftPanel ul
{
    width: 100%;
}

#leftPanel h3
{
    width: 85.5%;
    height: 25px;
    background: #D4A017;
    padding-top: 7px;
    padding-left: 30px;
    margin-top: 0px;
    font-size: 14px;
    color: White;
}

#contentPanelGrid
{
    width: 75%;
    position: relative;
    float: left; /*padding-top:10px;*/
}

.containerDc
{
    background: #f8f8f8;
    width: 99%;
    height: inherit;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-right: 10px; /*padding-top: 10px;*/
    clear: all;
    float: left;
}

.fldLblSpan
{
    margin-left: 5px;
}

.fldContSpan
{
    margin-left: 5px;
}

/*New styles for fillgrid*/
#btnSearch
{
    background-image: url(../../AxpImages/icons/search-back.jpg);
    text-indent: 99999999999999999999;
    width: 40px;
    height: 30px;
    cursor: pointer;
    text-indent: 99999999999999!importent;
    border: 0px;
    text-indent: 9999px;
    margin-left: 0px;
}

#searchInput
{
    border: 1px solid #b8b8b7;
    width: 170px;
    height: 30px;
    padding-left: 10px;
    /*font-family: Segoe UI, Helvetica, sans-serif;*/
    border-radius: 3px;
}
#dvFillGrid .gridData
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
    margin-bottom: 10px;
}
#dvFillGrid .gridData tr:nth-child(odd) td
{
    background: #f5f6f8;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
#dvFillGrid .gridData tr:nth-child(even) td
{
    background: #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
/*#tblFillGrid2
{
    width: 686px;
    padding: 10PX;
    background: white;
    border-spacing: 0;
    padding: 0;
}*/
/*.gridData th, td {
text-align: left;
}*/

.ui-icon-minusthick
{
    background-image: url(../AxpImages/icons/close-button.png);
}
.ui-dialog .ui-dialog-titlebar
{
    background-color: #D4A017;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close ui-corner-all
{
    background-image: url(../AxpImages/icons/close-button.png);
}
#divFGrid
{
    width: 500px;
    max-height: 400px;
    padding-top: 5px;
    float: left;
    overflow-y: scroll;
}
#spnOk
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #1998c2;
    border: 0px;
    width: 46PX;
    height: 26px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}
#tdAdvSrch
{
    width: 50%;
    background: #1497c2;
    color: white;
    height: 15px;
    font-size: 12px;
    border-radius: 12px;
}
#dvPickFooter
{
    /*background: #EFEFEF;*/
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    /*border: 1px solid #ccc;*/
    width: 99%;
}
.main-content
{
    margin: 0px auto;
    width: 100%;
    height: auto;
    min-height: 600px;
    /* padding-left: 10px;*/
    padding-top: 5px;
}
.breadcrumb-panel
{
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    color: #fff;
    background: #D4A017;
    font-size: 16px;
    /*font-family: Segoe UI, Helvetica, sans-serif;*/
    font-weight: bold;
}

.text
{
    float: left;
    color: #fff;
    padding-top: 8px;
    padding-left: 19px;
}
.divcontainer
{
    margin-right: 14px;
    margin-top: 0px;
    background: #efefef;
    height: auto; /* min-height: 600px; */
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.divcont
{
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
}
#dvAdvSearch
{
    display: block;
    width: 100%;
    height: 176px;
    margin: 0 auto; /* margin-top: 10px; */
    clear: both; /* padding-top: 10px; */
    border: 1px solid #D4A017;
    border-radius: 10px;
}
#btnAdvSearch
{
    font-size: 18px;
    color: white;
    border: 0px;
    background: #1395bf;
    border-radius: 4px;
    width: 15%;
    height: 30px;
    cursor: pointer;
}
#lvPageUser
{
    width: 50px;
}

#dvInfo
{
    margin-top: 13px;
    margin-left: 13px;
    color: #484848;
}
select
{
    border: 1px solid #b8b8b7;
    /*font-family: Segoe UI, Helvetica, sans-serif;*/
}
#refreshFilter
{
    background: #D4A017;
    border: 0px;
    font-size: 16px;
    /*width: 111px;
    height: 25px;*/
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
#btnShowCond
{
    background: url(../../AxpImages/icons/round.png) no-repeat;
    color: #D4A017;
    text-indent: -9999px;
    border: 0px;
    width: 28px;
    height: 29px;
    cursor: pointer;
}
element.style
{
}
#btnClear
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #9C9C9C;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 14px;
}

#New, .btncancel
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #707070;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 18px;
}

.btnwfcancel
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #707070;
    border: 0px;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 16px;
}

#btnExport
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #D4A017;
    border: 0px;
    width: 75px;
    height: 32px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 14px;
}

#btnSaveTst, .chpswdbtn, .btnsavenew
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #D4A017;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 18px;
}

.btnwfsavenew
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #D4A017;
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 16px;
}

#dvExport .gridData td
{
    padding-left: 13px;
    text-align: left;
}
.spanTd
{
    margin-left: 0px !important;
}
#dvExport .gridData tr:nth-child(odd) td
{
    background: #f5f6f8;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
#dvExport .gridData tr:nth-child(even) td
{
    background: #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
#dvimp .gridData tr:nth-child(odd) td
{
    background: #f5f6f8;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
#dvimp .gridData tr:nth-child(even) td
{
    background: #fff;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
#dvimp .gridData td
{
    padding-left: 13px;
    text-align: left;
}
#btnImport
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #D4A017;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 18px;
}
#btnClearImp
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #9C9C9C;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 18px;
}
#btnView
{
    /*font-family: Segoe UI;*/
    color: white;
    background: #D4A017;
    border: 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-right: 21px;
    cursor: pointer;
    font-size: 14px;
}

.framecap
{
    margin-left: 5px;
}


.input[type=submit]
{
    background-color: Green;
}



input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus, .nicEdit-main:focus
{
    /*border: 1px solid #D4A017;*/
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ivcaptions
{
    background-color: #D4A017;
    /*font-family: Segoe UI, Arial, Sans-Serif;*/
    font-size: 15px;
    color: White;
}
span.pull-right.glyphicon.glyphicon-refresh.icon-arrows-rotate {
    color: #fff !important;
}
