#axpertPopupWrapper{
	max-width: 96vw;
	height: 90vh;
}
.remodal-wrapper{
    overflow:hidden !important;
}
.dvheightframe {
    height: calc(100vh - 88px) !important;
    height: -webkit-calc(100vh - 88px) !important;
    height: -moz-calc(100vh - 88px) !important;
    height: -o-calc(100vh - 88px) !important;
    position: relative;
    top: 8px;
    border-top: 1px solid #e2e2e2;
    overflow: auto;
    overflow-x: hidden;
}