/*blue*/
/*blue lighten-2*/
/* light-blue darken-4 */
/* light-blue accent-1 */
/*#e3f2fd blue lighten-5*/
/*blue lighten-4*/
.primaryBackground {
  /* for future */ }

.secondaryBackground {
  background: #2196f3;
  color: white; }

.terinaryBackground {
  background: #00b0ff;
  color: white; }

.themeTable thead {
  background: #00b0ff; }
  .themeTable thead th {
    color: #fff; }
.themeTable tbody tr:nth-child(even) {
  background-color: #e3f2fd !important; }
.themeTable tbody tr:hover {
  background-color: #e3f2fd !important; }

.themeDarkenBackground {
  background: #01579b;
  color: white; }

.themeButton {
  background: #01579b !important;
  background-color: #01579b !important; }
  .themeButton:hover {
    background: #0182e7 !important; }
  .themeButton:focus {
    background: #001e36 !important; }

.cancelButton {
  background: gray !important; }
  .cancelButton:hover {
    background: #a6a6a6 !important; }
  .cancelButton:focus {
    background: #4d4d4d !important; }

.themeTextColor {
  color: #01579b; }

.hoverFocusThemeColor:hover,
.hoverFocusThemeColor:focus {
  color: #01579b !important; }

.hoverFocusThemeBgColor:hover,
.hoverFocusThemeBgColor:focus {
  background: #e3f2fd !important; }

.themeBorderColor {
  border-color: #01579b; }

.themeBorder {
  border-bottom: 1px solid #01579b !important; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #01579b !important; }

.switch label input[type=checkbox]:checked + .lever {
  /* switch box before */
  background-color: #80d8ff !important; }

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important; }

[type="checkbox"]:checked + label:before {
  border-right: 1px solid #01579b !important;
  border-bottom: 1px solid #01579b !important; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #01579b; }

.tabs .indicator {
  background-color: #01579b; }

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #01579b; }

.tabs .tab a {
  color: #2196f3; }

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #01579b; }

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #01579b; }

.wizard-progress .step.in-progress .node {
  border-color: #2196f3; }
.wizard-progress .step.in-progress:not(.flat):before {
  background: #2196f3;
  background: -moz-linear-gradient(left, #2196f3 0, #fff 100%);
  background: -webkit-linear-gradient(left, #2196f3 0, #fff 100%);
  background: linear-gradient(to right, #2196f3 0, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='#fff', GradientType=1); }
.wizard-progress .step.in-progress.flat {
  background: #2196f3;
  background: -moz-linear-gradient(left, #2196f3 0, #fff 120%);
  background: -webkit-linear-gradient(left, #2196f3 0, #fff 120%);
  background: linear-gradient(to right, #2196f3 0, #fff 120%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='#fff', GradientType=1); }
  .wizard-progress .step.in-progress.flat:not(.active) a {
    color: white !important; }
.wizard-progress .step.complete .node {
  border-color: #2196f3;
  background-color: #2196f3; }
.wizard-progress .step.complete.flat {
  background: #2196f3; }
  .wizard-progress .step.complete.flat:not(.active) a {
    color: white !important; }
.wizard-progress .step.complete:not(.flat):before {
  background: #2196f3 !important; }
.wizard-progress .step.active.flat:before {
  border-top-color: #01579b; }
.wizard-progress .step.active a {
  color: #01579b; }

#chartSelData a.selected .card {
  border-color: #2196f3; }

.AXpaginationWrapper .pageNumberBtn.active {
  border-color: #2196f3;
  background-color: #2196f3; }

.wizard-progress.wizardRtl .step.in-progress:not(.flat):before {
  background: #2196f3;
  background: -moz-linear-gradient(right, #2196f3 0, #fff 100%);
  background: -webkit-linear-gradient(right, #2196f3 0, #fff 100%);
  background: linear-gradient(to left, #2196f3 0, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='#fff', GradientType=1); }

.collectionListUl .collection-item:hover,
li.collection-item.activeLi {
  background: #e3f2fd;
  color: black; }

table.dataTable th.focus,
table.dataTable td.focus {
  outline: 1px solid #01579b;
  outline-offset: -1px; }

.dropdown-content li:hover,
.dropdown-content li.active,
.dropdown-content li.selected {
  background-color: #e3f2fd !important; }

.createBadge::after {
  background: #01579b;
  color: white; }

div#iconWrapperData span[class^="icon-"],
#prpShtTargetWrapper .autocomplete-content li .highlight {
  color: #01579b; }

#prpShtImgUpload.progress .determinate,
div#iconWrapperData span.active,
.fixed-action-btn .btn-floating {
  background-color: #01579b; }

div#customTxtAreaWrapper textarea:focus {
  box-shadow: 0px 0px 6px #01579b; }

#prpShtImgUpload {
  background-color: #80d8ff !important; }

/* table related need to remove once finalized */
/* table related need to remove once finalized */
#mainSearchFldSpn .dataTables_filter label input:focus {
  box-shadow: -1px 1px 1px #2196f3; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  color: white !important;
  background-color: #2196f3;
  background: linear-gradient(to bottom, #2196f3 0%, #2196f3 100%); }

li.CodeMirror-hint-active {
  background: #01579b !important;
  /*  light-blue darken-4  */
  color: white; }

.colorBorder,
#chartSelData a.selected .card,
.chartImgWrapper a:hover .card,
.chartImgWrapper a:focus .card,
#iviewType a.active.iconAnchr span {
  border: 1px solid #01579b !important; }

#wizarTypeSel a.iconAnchr:hover,
#wizarTypeSel a.iconAnchr:focus {
  color: #01579b; }

div#ivirChartsRow button.active [class*="icon-"] {
  color: #01579b; }

div.DTE_Inline div.DTE_Inline_Field div.DTE_Field input:focus,
div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field input:focus {
  border-color: #01579b !important;
  box-shadow: 0px 0px 7px #01579b !important; }

.createTick::after {
  background: #01579b; }

.dataBodyParent .card-image .btn-floating:last-child:not(#prevDesignData):not(#nextDesignData),
.dataBodyParent .card-image .btn-floating:last-child:not(#prevDesignData):not(#nextDesignData) i,
#filterModal .btn-floating:last-child:not(#prevDesignData):not(#nextDesignData),
#filterModal .btn-floating:last-child:not(#prevDesignData):not(#nextDesignData) i {
  background-color: #01579b !important;
  color: #f0f0f0; }

/*# sourceMappingURL=blue.css.map */
