.header .navbar-inner {
    background-color: #2196f3 !important;
}

span#goback {
    color: #fff !important;
}

button.icon-cog.icon-basic-gear {
    color: #fff;
    background: 0;
}

.icon-services.bcrumb.left {
    color: #fff !important;
}

.appGlobalParams {
    color: #fff;
}

.header .nav .dropdown-toggle:hover, .header .nav .dropdown.open .dropdown-toggle {
    background-color: #5ab6ff !important;
    opacity: .8;
}

#moduleSelector:focus {
    border: 1px solid #2196f3 !important;
}

#moduleSelector {
    background: #2196f3;
    color: #fff !important;
}

.ui-autocomplete .ui-state-active {
    color: #000 !important;
    background: rgba(0,176,255,.62);
}

#header {
    background-color: #fff;
}

#navbar {
    border-top: 1px #d5d5d5 solid;
    border-bottom: 2px #999 solid;
}

.navbar {
    background: #0483ad;
}

.MainMenu {
    color: #FFF;
}

#prouct-name {
    color: #000;
}

#breadcrumb-panel, .wizard-progress .step.complete:before, #chartSelData .selectedIcon {
    background: #2196f3 !important;
}

#breadcrumb-panelpopup {
    background: #cacaca;
}

#breadcrumb span {
    color: #fff;
}

#breadcrumb a {
    background: #00b0ff !important;
}

.pickbg {
    background: #bac1cd;
}

.button {
    background-color: #0483ad;
    color: #FFF;
    border: 1px solid #333;
}

#searchoverlay {
    border: thin solid #bac1cd;
}

.tstructclose-button {
    background: gray;
}

.close-button {
    background: #0483ad;
}

.gridData th a {
    color: #000;
}

    .gridData th a:hover {
        color: #666;
    }

.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121 !important;
}

#divAppearanceLeft {
    background-color: #bac1cd;
}

    #divAppearanceLeft image {
        border: 1px solid #d5d5d5;
    }

.divFilter {
    color: #333;
}

.listViewDc {
    border-color: #bac1cd;
}

#searchInput, select {
    border: 1px solid #b8b8b7;
}

.tstcap {
    color: #000;
}

.dvadminheader {
    color: #666;
}

#refreshFilter, #tdAdvSrch, .dvadminsubheader {
    color: #fff;
}

.backbutton {
    background: 0;
}

#leftPanel {
    color: #666;
}

    #leftPanel ul {
        width: 100%;
    }

    #leftPanel h3 {
        height: 25px;
        padding-top: 7px;
        padding-left: 30px;
        margin-top: 0;
        font-size: 14px;
    }

.containerDc {
    background: #f8f8f8;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #0483ad;
}

.breadcrumb-panel, .leftPartAC .panelHeading {
    background: #2196f3 !important;
    color: #fff;
}

.divcontainer {
    background: #efefef;
}

.divcont {
    background: #fff;
}

#dvInfo {
    color: #484848;
}

#btnShowCond {
    color: #0483ad;
    text-indent: -9999px;
}

#btnExport, #btnImport, #btnView, .btnExpImp, .btnwfsavenew {
    color: #fff;
}

.btnExpImp {
    background: #9c9c9c;
}

#New, #btnClearimp, .btncancel, .btnwfcancel {
    background: #707070;
    color: #fff;
}

#btnExport {
    background: #1998c2;
}

table.gridData.clonedHtml th {
    border: 1px solid #eee;
}

.leftPartAC ul.listUl li a:hover {
    color: #fff !important;
    background-color: rgba(0,176,255,.62) !important;
}

.form-control:focus {
    border-color: #00b0ff !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px #00b0ff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,176,255,.33);
}

.focusTheField, .ms-container .ms-list:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px #00b0ff !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,176,255,.33) !important;
    
}

#leftMenuToggleBtn, .colorIcon, span#dashBoardIcon, span#homeIcon, #wizarTypeSel a.iconAnchr:hover, #wizarTypeSel a.iconAnchr:focus, .wizard-progress .step.active a, button.iconBtn.nextPrevBtn {
    color: #20baff!important;
}

.impExpHis li.active a, .leftPartACHeader .dropdown-menu li.active a {
    color: #000 !important;
    background: #00b0ff !important;
}

#wrapperForSearch .closeGLSearch {
    color: #00b0ff !important;
}

.impExpHis li.dropdown ul.dropdown-menu li a:hover, .leftPartACHeader .dropdown-menu li a:hover {
    color: #000 !important;
    background: #81d4fa !important;
}

.search-button {
    color: #00b0ff !important;
}

.hotbtn, .hotbtntiny {
    color: #FFF !important;
    background: #00b0ff;
    background-color: #00b0ff !important;
}

#breadcrumb h3, #editAxGlo, .gridData th, .navLeft {
    color: #fff !important;
}

.gridData:not(.ivirMainGrid) th {
    background-color:#00b0ff !important;
}

.focusTheField {
    border-width: 1px !important;
    border-color: #00b0ff !important;
    outline: 0 !important;
}

button.btn.btn-primary.dropdown-toggle:focus, button.noBg.icon-basic-gear:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
}

.panelsHeader {
    color: #fff;
    background: #bbdefb !important;
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
}

span.pull-right.glyphicon.glyphicon-refresh.icon-arrows-rotate {
    color: #fff !important;
}

i#showGLSearch {
    color: #fff;
}

#searchoverrelay .panel-heading {
    background-color: rgba(0,176,255,.62) !important;
    color: #fff !important;
}

    #searchoverrelay .panel-heading h4, span.glyphicon.glyphicon-remove.icon-arrows-remove {
        color: #fff !important;
    }

/*#GridView1 tr.even:hover {
    background-color: rgba(0,176,255,.62) !important;
    color: #000;
}*/

.dataTables_scrollHeadInner, .gridThemeHeader {
    background-color: #2196f3;
    color: #fff;
}

button.icon-cog {
    background: 0;
    color: #fff !important;
}

#newMenuIconsWrapper span#themeIcon, button.remodal-close.icon-basic-remove, .colorIcon{
    color: #00b0ff !important;
}

span#themeIcon, span#themeIcon:focus, span#themeIcon:hover, .colorIcon{
    margin-bottom: 0 !important;
    padding: 0 !important;
    color: #fff !important;
}


#Button1 span.icon-software-pencil, #ExportImportCogIcon button.noBg.icon-basic-gear {
    color: #00b0ff !important;
}

div#hamburgerMenuIcon button:focus .line, div#hamburgerMenuIcon button:hover .line {
    background-color: #00b0ff !important;
}

.gridHeader th {
    background: #4eb1ff !important;
    color: #fff;
}

.dropdown .btn-primary {
    color: #fff;
    background-color: #309ef5 !important;
    border-color: #2196f3 !important;
}

    .dropdown .btn-primary:hover {
        color: #fff;
        opacity: .8;
        background-color: #309ef5;
        border-color: #2196f3;
    }

.customSetupTableMN tr.activeSearchTr:not(:first-child) {
  background: #ffffff !important;
}



.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: rgba(0,176,255,.62) !important;
    color: #fff !important;
}

#ExportImportCogIcon button.icon-cog:hover {
    transform: none !important;
}

#moduleSelector span.icon-arrows-down {
    color: #fff !important;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
    border-top: solid 7px #2196f3;
    -webkit-animation-name: inherit;
    animation-name: inherit;
}

label#lblProperty {
    background-color: #48aeff !important;
    color: #fff !important;
}

input#btnSave {
    background-color: #2196f3 !important;
}

#divtr4 tr {
    background: #519cd8 !important;
}

table.table.table-bordered.firstble thead {
    background-color: #51a5e8 !important;
    color: #fff !important;
}

table#gridHd2 th {
    background: #51a5e8 !important;
}

.c-button--dropdown, .c-button--dropdown:focus, .c-button--dropdown:hover {
    background-color: #51a5e8;
}

.c-button--dropdown {
    color: #e6e9ed;
}

.customSetupTableMN tr:hover {
    background: #e3f2fd;
}

.dashBoardTitle.hpbHeaderTitle {
    background: #2196f3;
    color: #fff;
}

#HPBmainWrapper .tabs .indicator {
    background-color: #01579b;
}

#HPBmainWrapper .tabs .tab a.active, #HPBmainWrapper .tabs .tab a:hover {
    color: #2196f3;
}

.collectionListUl .collection-item:hover, li.collection-item.activeLi {
    background: #64b5f6;
    color: #000;
}



.hotbtndynamic:focus, button.btn.btn-primary.dropdown-toggle:focus {
    opacity: .8;
}

i.glyphicon.glyphicon-remove.icon-arrows-remove {
    color: #48aeff;
}

span#btnAddNew, span#btnDelete {
    font-size: 15px;
}

span#delCond1 {
    font-size: 15PX;
}

#ivirChatWrapper button.ivirChartButton.active span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload {
    color: #81d4fa !important;
}

    #ivirChatWrapper button.ivirChartButton:focus span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:focus, button.noBg:focus span[class*=fa] {
        color: #039be5 !important;
    }

    #ivirChatWrapper button.ivirChartButton:hover span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:hover, button.noBg:hover span[class*=fa], button.noBg:hover span[class*=icon], span.ivirDownload.fa.fa-file-excel-o.CSV:hover, span.ivirDownload.fa.fa-file-excel-o.EXCEL:hover, span.ivirDownload.fa.fa-file-pdf-o.PDF:hover, span.ivirDownload.fa.fa-print.PRINT:hover {
        color: #0277bd !important;
    }

.colorButton {
    color: #2196f3 !important;
}

.remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {
    color: #fff !important;
    right: 7px;
}

    .remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove:hover {
        opacity: .7 !important;
    }

button.noBg.panel-control .iconforom, button.noBg.panel-control .iconforom:focus, button.noBg.panel-control .iconforom:hover {
    color: #fff !important;
}

button.noBg.custombuilderico .iconforom, button.noBg.custombuilderico .iconforom:focus, button.noBg.custombuilderico .iconforom:hover {
    color: #fff !important;
}



.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    background: #fff !important;
}



a.ui-state-default:hover {
    background: #48aeff !important;
    color: #fff !important;
    border: 0;
}

tr.tblrowcolor:focus, tr.tblrowcolor:hover {
    background-color: #9cd4ff;
    cursor: pointer;
}

.hotbtndynamic {
    color: #FFF !important;
    background: #00b0ff;
    background-color: #00b0ff !important;
}

.header .nav .dropdown-toggle:focus {
    background-color: #5ab6ff !important;
    opacity: .8;
}

.leftico.ico, .reload, .rightico, .addOption {
    color: #2196f3 !important;
}

span#grdAtt_img_001F2 {
    color: #32a4ff;
}

span#tabCollapseButton {
    color: #2196f3;
}

.firstble tr:nth-of-type(even), .gridData:not(.ivirMainGrid) tr:nth-of-type(even) {
    background: #e9f5ff !important;
}

    .firstble tr:nth-of-type(even):hover, .gridData:not(.ivirMainGrid) tr:hover, .gridData:not(.ivirMainGrid) tr:nth-of-type(even):hover {
        background: #b8e9ff !important;
    }

.gridData:not(.ivirMainGrid) tr:hover {
    color: #000 !important;
}

span.mobIleMenuIcon {
    color: #2196f3;
    text-shadow: 0 0 5px #303f9f;
}

.hasMobMenuChilds .selected {
    background: #2196f3;
    color: #fff !important;
}

.ms-container .ms-list:focus {
    border-width: 1px !important;
    border-color: #00b0ff !important;
    outline: 0;
}

#header p.fdata {
    background: #2196f3 !important;
    color: #fff !important;
}

.brand:focus {
    outline: 1px solid #c5c5c5 !important;
    padding-right: 5px !important;
}

a#listep2 span.round-tab.glyphicon.glyphicon-pencil.icon-software-pencil.disabled {
    color: #777 !important;
}

#main div#divTitle {
    background: #33a2fa !important;
    color: #fff !important;
}

span.icon-tstructMenuBgIcn {
    background-image: url(images/tstruct.png) !important;
}

span.icon-iviewMenuBgIcn {
    background-image: url(images/iview.png) !important;
}

span.icon-pageMenuBgIcn {
    background-image: url(images/page.png) !important;
}

span.icon-linkMenuBgIcn {
    background-image: url(images/menu.png) !important;
}

span.icon-helpMenuBgIcn {
    background-image: url(images/help.png) !important;
}

span.mobileMenu.icon-tstructMenuBgIcn {
    background-image: url(images/mobile-tstruct.png) !important;
}

span.mobileMenu.icon-iviewMenuBgIcn {
    background-image: url(images/mobile-iview.png) !important;
}

span.mobileMenu.icon-linkMenuBgIcn {
    background-image: url(images/mobile-menu.png) !important;
}

button.noBg:-moz-focusring {
    outline: green dotted 1px !important;
}

.modal-header .close {
    color: #2196f3;
    opacity: 1;
}

    .modal-header .close:hover {
             opacity: .8;
    }

    .modal-header .close:focus {
        opacity: 0.8;
        outline: -webkit-focus-ring-color auto 5px !important;
    }

    .modal-header .close:-moz-focusring {
        opacity: 0.8;
        outline: 1px dotted #6e6d6d;
    }

.panel-heading .accordion-toggle:after {
    color: #51a5e8 !important;
}

.file-upload .file-select:focus {
    border: 1px solid #00b0ff !important;
    outline: #00b0ff solid 1px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px #00b0ff !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,176,255,.33) !important;
}

.gridData span.icon-software-pencil, table#GridView1 span.icon-basic-sheet-multiple {
    color: #3095e6 !important;
}

button.noBg.colorButton.icon-basic-settings:focus {
    padding: 0 !important;
    outline: -webkit-focus-ring-color auto !important;
}

.uploadfile {
    background: #63afec;
}

label.lbluploadtxt {
    color: #fff !important;
}

.colorButton:hover {
    opacity: .8;
}

.ui-datepicker td {
    padding: .19px !important;
}

span#GSclearBtn:hover,#GSclearBtn {
    color: #2196f3 !important;
}

.coldbtn {
    border-radius: 4px !important;
}

.wizard-progress .step.in-progress .node, #chartSelData a.selected .card {
    border-color: #2196f3;
}

.wizard-progress .step.complete .node, .AXpaginationWrapper .pageNumberBtn.active {
    border-color: #2196f3;
    background-color: #2196f3;
}

input.themeInp:focus, textarea.themeInp:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

.wizard-progress .step.in-progress:before {
    background: #2196f3 !important;
    background: -moz-linear-gradient(left,#2196f3 0,#fff 100%) !important;
    background: -webkit-linear-gradient(left,#2196f3 0,#fff 100%) !important;
    background: linear-gradient(to right,#2196f3 0,#fff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2196f3',endColorstr='#fff',GradientType=1);
}

#customizer:focus {
    outline: none !important;
}

button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all, button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all:hover {
    color: blue !important;
}

.pickListFooter {
    color: #2196f3 !important;
}

#nextPick {
    color: #2196f3 !important;
}

.customSetupTableMN tr.activeSearchTr td {
    color: #1b1b1b !important;
}

/*css for datatables pagination */

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: white !important;
    background-color: #2196f3 !important;
    background: linear-gradient(to bottom, #2196f3 0%, #2196f3 100%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
       background:#9adcff !important;
     background-color:#9adcff !important;
}


@media(max-width:414px) {
    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
        text-align: center;
    }
}

@media(max-width:618px) {
    .editLayoutFooter .coldbtn {
        margin: 3px !important;
    }

    .editLayoutFooter .previousNextEditButton {
        padding-left: 0px;
    }
}


.grdButtons .normalbtntiny:focus,.grdButtons .normalbtntiny:hover{
    opacity: 0.8 !important;
   border-color: #00b0ff !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08), 0 0 8px #00b0ff !important;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,176,255,.33);
   outline: 0px !important;
}

.grdButtons .normalbtntiny:-moz-focusring {
    outline: #000 dotted 1px !important;
    }


button.btn.btn-primary.dropdown-toggle:hover {
    opacity: .8;
}

button.btn.btn-primary.dropdown-toggle:focus {
    opacity: 0.8 !important;
    box-shadow: rgba(110, 211, 207, 0.08) 0px 1px 1px inset, rgb(0, 176, 255) 0px 0px 8px;
    border-color: rgb(0, 176, 255) !important;
    outline: dotted 0px !important;
}
.tgl-ios:checked+.tgl-btn.togglecustom{
    background: #00b0ff !important;
}
.popover,.popover-title,.popover-content{
   background: #000 !important;
   color: #fff !important;
   font-size: 11px;
}
.popover.right>.arrow:after{
 border-right-color: #000;
}

.popover.left>.arrow:after{
 border-left-color: #000;
}
.popover.top>.arrow:after{
 border-top-color: #000;
}

.popover.bottom>.arrow:after{
 border-bottom-color: #000;
}

#propertySheet .hpbHeaderTitle,.cutsomColorbtn,.createBadge::after {
     background: #01579b !important;  /* light-blue darken-4 */
     color: white;
     }

.gridData th{
    background-color:#2196f3 !important;
}

a#tblResponsibilities_previous:hover,a#tblResponsibilities_next:hover {
    color: #fff !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5ab6ff !important;
    border-color: #2196f3 !important;
}
#uldropelements li a:hover, #uldropelements li a:focus {
    border-left: 5px solid #2196f3 !important;
    background: #d3ecff !important;
    padding-left: 15px;
    color: black !important;
}
th.sorting:focus, th.sorting_asc:focus {
    outline: 1px solid #fff !important;
}
.modal-header button#btnModalClose {
   float: right !important;
   color: #fff;
   opacity: 1;
}

.btextDir-rtl .modal-header button#btnModalClose {float: left!important;}

.badge {
    background-color: #3ea9ff;
}
.wizard-progress .step.active.flat:before {
    border-top-color: #2196f3 !important;
  }

.gridDataimport th {
       background-color: hsla(207, 90%, 54%, 0.38) !important;
    color: #000 !important;
}

.themecolorbg{     
    background-color:#3ca1f1 !important;
    background:#3ca1f1 !important;
}
.jconfirm-title-c {
    background-color: #03A9F4 !important;
    padding: 24px 0px 0px 17px;
    margin: -30px -25px 16px -25px !important;
    font-weight: normal !important;

}
.modal-header, .modal-title {
    background-color:#03A9F4 !important;
    color: #fff !important;
   }
.modal-header .close {
    color: #fff !important;
    opacity:1;
}

#breadcrumb-panelpopup #lblcustom, #closeList {
    color:#fff !important;
}

#breadcrumb-panelpopup {
    background:#03A9F4 !important;
}
.homePageBody .main-header .navbar.cloud-header {
        background-image: linear-gradient(141deg, #f7f9f8 10%, #1fc8db 51%, #2cb5e8 75%);
}
.homePageBody .main-header .navbar {
    background-color: #00b0ff !important;
}
#nav-searchbox input {background: #0d8dc7!important;}
.homePageBody .sidebar-menu > li.active > a {
    border-left-color: #00afff !important;
}
.homePageBody .sidebar-menu > li:hover > a, .homePageBody .sidebar-menu > li.active > a, .homePageBody .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #00afff!important;
}
.homePageBody .sidebar-menu .treeview-menu > li > a {
    color: #00afff!important;
}
.homePageBody .sidebar-menu .treeview-menu > li > a {
    color: #00afff !important;
}
.header-list li i {color: #00afff!important;}
.split-btn {background: #00afff!important;}
.split-btn-vertical {background: #00afff!important;}
/*.splitter {background: #00afff!important;}
.splitter-horizontal {background: #00afff!important;}*/
.head-list li:hover {
    background: #00b0ff;
}
.item-list li:hover {background: #00b0ff !important;}
div#icons li:not(.dropDownLst) a {background: #00b0ff !important;}
div#icons li.gropuedBtn button {background: #00b0ff !important;}
div#icons li .dropdown-menu li a:hover{background:#00b0ff!important}
div#icons li .dropdown-menu li a{background:#fff !important;color:#000;}
div#icons li#myFiltersLi {background: #00b0ff !important;}
div#icons li.gropuedBtn {background: #00b0ff !important;}
@media only screen and (min-width:320px) and (max-width:767px) {
    .homePageBody .main-header .navbar.cloud-header {
        background-image: linear-gradient(180deg,#2cb5e8 0%,#f7f9f8 1%, #f7f9f8 20%, #1fc8db 75%, #2cb5e8 90%) !important;
    }
}
