//*datePickerIcon  ==================================== *//
@mixin datePickerIcon{
    right: $datePickerRightGap;
    width: $datePickerWidth;
    top: $datePickerTopGap;
}
@mixin datePickerIconRtl{
    left: $datePickerLeftGapRtl;
    right: auto;
}
//*datePickerIcon  ==================================== *//