<?xml version="1.0" standalone="yes"?>
<configuration>
  <configSections>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>
    <!-- <authentication mode="Windows"/> -->
    <identity impersonate="false" userName="Agilelabs\\"/>
    <!-- <httpRuntime maxRequestLength="2097151" executionTimeout="765446867" /> -->
    <httpRuntime targetFramework="4.6" enableVersionHeader="false" maxRequestLength="512000" executionTimeout="300"/>
    <!-- http maxRequestLength 10 MB in kilobytes -->
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <!--<add assembly="oracle.dataaccess, version=2.112.1.0, culture=neutral, publickeytoken=89b483f429c47342"/>-->
        <!--<add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, publickeytoken=89b483f429c47342"/>-->
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- <machineKey validation="3DES" /> -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="true">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
    <sessionState mode="StateServer"/>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
    <authorization>
      <deny verbs="OPTIONS" users="*"/>
      <deny verbs="TRACE" users="*"/>
      <deny verbs="HEAD" users="*"/>
    </authorization>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="536870912"/>
        <hiddenSegments>
          <add segment="node"/>
          <add segment="node*js"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="login.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!--<add name="Content-Security-Policy" value="script-src &apos;unsafe-inline&apos; &apos;unsafe-eval&apos; http: https:; style-src &apos;self&apos; &apos;unsafe-inline&apos;; font-src * data:;img-src * blob: data:; default-src *;"/>-->
      </customHeaders>
    </httpProtocol>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="401" responseMode="ExecuteURL" path="cuserror/AxcustomError.aspx"/>
      <error statusCode="403" responseMode="ExecuteURL" path="cuserror/Ax500Error.aspx"/>
      <error statusCode="404" responseMode="ExecuteURL" path="cuserror/Ax500Error.aspx"/>
      <error statusCode="500" responseMode="ExecuteURL" path="cuserror/Ax500Error.aspx"/>
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@agile-labs.com">
        <network host="smtp-mail.outlook.com" port="587" enableSsl="true" userName="support@agile-labs.com" password="password"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!-- <add key="ARM_PrivateKey" value=""/> -->
    <add key="FetchPickListRows" value="1000"/>
    <add key="LandingPage" value="../aspx/Message.aspx"/>
    <add key="EnableOldTheme" value="False"/>
    <!-- ***Keys for Publish*** -->
    <add key="MasterDataAPI" value=""/>
    <!-- axpertWeb-remove -->
    <add key="PublishAPI" value=""/>
    <!-- //axpertWeb-remove -->
    <!-- ***End Keys for Publish*** -->
    <add key="CloudHomeAPI" value=""/>
    <!-- //axpertWeb-remove -->
    <add key="timetaken" value="false"/>
    <add key="LoginTrace" value="false"/>
    <add key="isCloudApp" value="false"/>
    <!-- <add key="proj" value="kmchms" /> -->
    <!-- <add key="ssologin" value=""/> -->
    <!-- <add key="ssowindowsdomain" value=""/> -->
    <!-- Domain name od windows(LDAP) is mandatory and the value is like agilelabs.com -->
    <!-- <add key="ssoclientKey" value=""/> -->
    <!-- <add key="ssoclientsecretKey" value=""/> -->
    <!-- <add key="ssoredirecturl" value=""/> -->
    <!-- <add key="ssooktadomain" value=""/> -->
    <!-- ssooktadomain: Domain name of okta has to be mentioned in this ssooktadomain key like value="https://dev-515805.okta.com" -->
    <!-- <add key="SamlPartnerIdP" value=""/> -->
    <!-- <add key="SamlIdentifier" value=""/> -->
    <!-- <add key="SamlCertificate" value=""/> -->
    <!-- <add key="staysignin" value="true" /> -->
    <add key="homepagews" value="true"/>
    <add key="landingPageHTML" value="false"/>
    <add key="AbMainPageHTML" value="false"/>
    <add key="enableCaptcha" value="false"/>
    <add key="ShowAppTitle" value="true"/>
    <add key="PrintUpdateInterval" value="30000"/>
    <add key="advancedConfig" value="false"/>
    <add key="AppConnection" value=""/>
    <!-- //-axpertWeb-remove -->
    <add key="redisCacheConnection" value="127.0.0.1:6379"/>
    <!-- Redis can be disabled by setting value="". If Redis is installed locally then use value="127.0.0.1:6379" -->
    <add key="axpLicRedisConnection" value=""/>
    <add key="EnableAxpertConfiguration" value="false"/>
    <add key="axpertdeveloper" value="http://localhost/axpertdeveloper"/>
    <!-- Value for axpertdeveloper should be a URL of axpert developer site. Ex. value="http://localhost/axpertdeveloper/" -->
    <add key="HomeSessExpriesUrl" value="http://localhost/axpertdeveloper/"/>
    <add key="mobileFCMAPI" value="https://fcm.googleapis.com/fcm/send"/>
    <add key="mobileFCMKey" value="AAAAoBhAQwU:APA91bEcuAwxES3FA3GFmJ_7bBdeFvU5Gx6wEy5LdgXs4jvVBTe4W5r8l7gzwZAC-LX-gXOXZGDlZ9zUkWmoqthpcV2a7Ulf6r6jymVnrnPOPEFBAQ2TTErRKC-3VihK1Yrjofj4WiAy"/>
    <!-- //axpertWeb-remove -->
    <add key="EncryptionKey" value="11, 32, 43, 54, 65, 76, 87, 98, 9, 1, 21, 62, 83, 74, 95, 99"/>
    <add key="EncryptionIV" value="1, 22, 33, 54, 85, 36, 87, 78, 29, 35, 39, 33, 56, 12, 90, 81"/>
    <add key="ScriptsPath" value="C:\Axpert\Axpert Web\AxpertWebScripts\"/>
    <add key="scriptsUrlPath" value="http://localhost/AxpertWebScripts/"/>
    <add key="cloudFilePath" value="http://localhost/AxpertWebScripts/"/>
    <add key="RestDllPath" value="http://127.0.0.1/AxpertWebScripts/"/>
    <!-- RestDllPath should be the Full WebAddress trailing with '/', that can be globally/internally accessed by the clients for AxpertWebScripts hosted in IIS WebServer -->
    <add key="ASBIView.ASBIViewservice" value="http://localhost/AxpertWebScripts/ASBIView.dll/soap/ASBIView"/>
    <add key="ASBAction.ASBActionservice" value="http://localhost/AxpertWebScripts/ASBAction.dll/soap/ASBAction"/>
    <add key="ASBDefine.ASBDefineservice" value="http://localhost/AxpertWebScripts/ASBDefine.dll/soap/Asbdefine"/>
    <add key="ASBUtils.ASBUtilsservice" value="http://localhost/AxpertWebScripts/ASBUtils.dll/soap/ASBUtils"/>
    <add key="ASBMenu.ASBMenuservice" value="http://localhost/AxpertWebScripts/ASBMenu.dll/soap/ASBMenu"/>
    <add key="ASBUser.ASBUserservice" value="http://localhost/AxpertWebScripts/ASBUser.dll/soap/ASBUser"/>
    <add key="ASBTStruct.ASBTStructservice" value="http://localhost/AxpertWebScripts/ASBTStruct.dll/soap/ASBTStruct"/>
    <add key="ASBRapidTStruct.ASBRapidTStructservice" value="http://localhost/AxpertWebScripts/ASBRapidTStruct.dll/soap/ASBRapidTStruct"/>
    <add key="ASBScript.ASBScriptservice" value="http://localhost/AxpertWebScripts/ASBScript.dll/soap/ASBScript"/>
  </appSettings>
  <system.serviceModel/>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>