.focusTheField, .form-control:focus, .ms-container .ms-list:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px #ffa000;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,160,0,.42);
}

.dropdown .btn-primary:hover, button.btn.btn-primary.dropdown-toggle:focus {
    opacity: .8;
}

button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all, button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all:hover {
    color: blue !important;
}

.header .navbar-inner {
    background-color: #e64a19 !important;
}

span#goback {
    color: #fff !important;
    text-decoration: none;
}

button.icon-cog.icon-basic-gear {
    color: #fff;
    background: 0;
}

.icon-services.bcrumb.left {
    color: #fff !important;
    text-align: left;
}

.appGlobalParams {
    color: #fff;
}

.header .nav .dropdown-toggle:hover, .header .nav .dropdown.open .dropdown-toggle {
    background-color: #ff6d3f !important;
    opacity: .8;
}

#moduleSelector:focus {
    border: 1px solid #ffa000 !important;
}

#moduleSelector {
    background: #fc7146 !important;
    color: #fff !important;
}

.ui-autocomplete .ui-state-active {
    color: #000 !important;
    background: #ffe0b2 !important;
}

.navbar {
    background: #0483ad;
}

.MainMenu {
    color: #FFF;
}

#prouct-name {
    color: #000;
}
#breadcrumb-panel,#chartSelData .selectedIcon,.wizard-progress .step.complete:before {
    background: #e86e0a!important;
    COLOR: #fff!important;
}

.wizard-progress .step.in-progress:before {
    background: #ff5722 !important;
    background: -moz-linear-gradient(left,#ff5722 0,#fff 100%) !important;
    background: -webkit-linear-gradient(left,#ff5722 0,#fff 100%) !important;
    background: linear-gradient(to right,#ff5722 0,#fff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5722',endColorstr='#fff',GradientType=1);
}

.wizard-progress .step.in-progress .node, #chartSelData a.selected .card {
    border-color: #ff5722;
}

.wizard-progress .step.complete .node, .AXpaginationWrapper .pageNumberBtn.active {
    border-color: #ff5722;
    background-color: #ff5722;
}

input.themeInp:focus, textarea.themeInp:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important;
}



#breadcrumb span {
    color: #fff;
}

#breadcrumb a {
    color: #5c6bc0;
}

.dc {
    background: #efefef;
}

.tstruct-content {
    background-color: #FFF;
}

.gridForm td {
    border: 1px solid #fff;
}

.gridForm th {
    background-color: #c5c5c5;
}

.tstructclose-button {
    background: gray;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121 !important;
}

#divAppearanceLeft {
    background-color: #bac1cd;
}

.divFilter {
    color: #333;
}

.listViewDc {
    background-color: #fff;
    border-color: #bac1cd;
}

.focusTheField, .form-control:focus {
    border-color: #ffa000 !important;
    outline: 0 !important;
}

.tstcap {
    color: #000;
}

.dvFoot, .dvadminheader {
    color: #666;
}

.dvFoot {
    background-color: #bac1cd;
}

.backbutton {
    background: 0;
}

.dvadminsubheader {
    color: #fff;
}

#leftPanel {
    color: #666;
}

.containerDc {
    background: #f8f8f8;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #0483ad;
}

#tdAdvSrch {
    background: #1497c2;
    color: #fff;
}

.leftPartAC .panelHeading {
    background: #fc7146 !important;
    color: #fff;
    font-weight: 700;
}

.breadcrumb-panel {
    color: #fff;
    background: #00b0ff !important;
}

.divcontainer {
    background: #efefef;
}

.divcont {
    background: #fff;
}

#dvInfo {
    color: #484848;
}

#refreshFilter {
    background: #0483ad;
    color: #fff;
}

.btnExpImp {
    color: #fff;
    background: #9c9c9c;
}

#New, .btncancel, .btnwfcancel {
    color: #fff;
    background: #707070;
}

#btnExport {
    color: #fff;
    background: #1998c2;
}

.btnwfsavenew {
    color: #fff;
    background: #0483ad;
}

#btnImport, #btnView {
    color: #fff;
    background: #1998c2;
}

#btnClearimp {
    color: #fff;
    background: #707070;
}

.ivcaptions {
    background-color: #0483ad;
    color: #fff;
}

.leftPartAC ul.listUl li a:hover {
    text-decoration: none !important;
    color: #000 !important;
    background: #ffe0b2 !important;
}

#leftMenuToggleBtn, .colorIcon, span#dashBoardIcon, span#homeIcon, #wizarTypeSel a.iconAnchr:hover, #wizarTypeSel a.iconAnchr:focus, .wizard-progress .step.active a, button.iconBtn.nextPrevBtn {
    color: #ffa206!important;
}

.impExpHis li.active a, .leftPartACHeader .dropdown-menu li.active a {
    background: #ffa000 !important;
    color: #fff !important;
}

#wrapperForSearch .closeGLSearch {
    color: #ffa000 !important;
}

.impExpHis li.dropdown ul.dropdown-menu li a:hover, .leftPartACHeader .dropdown-menu li a:hover {
    color: #000 !important;
    background: #ffe0b2 !important;
}

.search-button {
    color: #ffa000 !important;
}

.hotbtn, .hotbtntiny {
    color: #FFF !important;
    background: #ff9800;
    background-color: #ff9800 !important;
}

#breadcrumb h3, #editAxGlo, .gridData th, .navLeft, span.pull-right.glyphicon.glyphicon-refresh.icon-arrows-rotate {
    color: #fff !important;
}

.gridData th {
    background-color: #f79443 !important;
}

.focusTheField {
    border-width: 1px !important;
}

button.btn.btn-primary.dropdown-toggle:focus, button.noBg.icon-basic-gear:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
}

.navbar-header, .navbar-inverse {
    background-color: #fff !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f5f5f5)) !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #ffa000 !important;
    color: #fff !important;
}

.panelsHeader {
    color: #fff;
    background: #ffd690 !important;
}

i#showGLSearch {
    color: #fff;
}

.dataTables_scrollHeadInner, .gridThemeHeader {
    background-color: #f1a931;
    color: #fff;
}

#searchoverrelay .panel-heading {
    background: #ffa000 !important;
    color: #fff !important;
}

    #searchoverrelay .panel-heading h4 {
        font-weight: 400;
        color: #fff !important;
    }

span.glyphicon.glyphicon-remove.icon-arrows-remove {
    color: #fff !important;
}

/*#GridView1 tr.even:hover {
    background: #ffe0b2 !important;
    color: #000;
    cursor: pointer;
}*/

button.icon-cog {
    background: 0;
    color: #fff !important;
}

button.remodal-close.icon-basic-remove {
    color: #ff5722 !important;
}

#Button1 span.icon-software-pencil, #ExportImportCogIcon button.noBg.icon-basic-gear, #newMenuIconsWrapper span#themeIcon {
    color:#fd5e2c !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: white !important;
  background-color: #e64a19 !important;
    background: linear-gradient(to bottom, #ff5722 0%, #ff5722 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
       background:#ffab66 !important;
     background-color:#ffab66 !important;
}


div#hamburgerMenuIcon button:focus .line, div#hamburgerMenuIcon button:hover .line {
    background-color: #ef6c00;
}

.gridHeader th {
    text-align: center;
    background: #ff9238 !important;
    color: #fff;
}

.dropdown .btn-primary, .dropdown .btn-primary:hover {
    color: #fff;
    background-color: #ff9800 !important;
    border-color: #da8200 !important;
}

.modal-header .close {
    color: #ffa000 !important;
    opacity: 1;
}

    .modal-header .close:hover {
         opacity: .8;
    }

#moduleSelector span.icon-arrows-down, label#lblProperty {
    color: #fff !important;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
    border-top: solid 7px #ff5722 !important;
    -webkit-animation-name: inherit;
    animation-name: inherit;
}

label#lblProperty {
    background-color: #ff9945 !important;
}

input#btnSave {
    background-color: #ff821b !important;
}

#divtr4 tr {
    background: #ff821b !important;
}

table.table.table-bordered.firstble thead {
    background-color: #ff9f50 !important;
    color: #fff !important;
}

table#gridHd2 th {
    background: #ff9f50 !important;
}

.c-button--dropdown, .c-button--dropdown:focus, .c-button--dropdown:hover {
    background-color: #ff9f50;
}

.c-button--dropdown {
    color: #e6e9ed;
}

.gridHeader th {
    background-color: #ff9f50 !important;
}

.menuSetWrapper .menuTitle {
    border-bottom: 2px solid #ef6c00;
}

.menuSetWrapper p a:focus, .menuSetWrapper p a:focus [class^=icon-], .menuSetWrapper p a:hover, .menuSetWrapper p a:hover [class^=icon-] {
    text-decoration: none;
    background: #ffb74d;
    color: #fff;
}

.menuSetItem.activeItem [class^=icon-], .menuSetItem.activeItem a, span.hirarchy.activeItem {
    background: #ffb13e !important;
    color: #fff;
}

#menuContentFooter button.activeItem {
    background: #ffb74d;
    color: #fff;
}



.dashBoardTitle.hpbHeaderTitle {
    background: #ef6c00;
    color: #fff;
}

#HPBmainWrapper .tabs .indicator {
    background-color: #e65100;
}

#HPBmainWrapper .tabs .tab a.active, #HPBmainWrapper .tabs .tab a:hover {
    color: #ef6c00;
}

.collectionListUl .collection-item:hover, li.collection-item.activeLi {
    background: #ffe0b2;
    color: #000;
}

/*button#gridAddBtn2:focus, button#gridAddBtn2:hover {
    opacity: .5;
}*/


i.glyphicon.glyphicon-remove.icon-arrows-remove {
    color: #ff9945;
}

span#btnAddNew, span#btnDelete {
    font-size: 15px;
}

span#delCond1 {
    font-size: 15PX;
}

#ivirChatWrapper button.ivirChartButton.active span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload {
    color: #ffcc80 !important;
}

    #ivirChatWrapper button.ivirChartButton:focus span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:focus, button.noBg:focus span[class*=fa] {
        color: #fb8c00 !important;
    }

    #ivirChatWrapper button.ivirChartButton:hover span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:hover, .colorButton, button.noBg:hover span[class*=fa], button.noBg:hover span[class*=icon], span.ivirDownload.fa.fa-file-excel-o.CSV:hover, span.ivirDownload.fa.fa-file-excel-o.EXCEL:hover, span.ivirDownload.fa.fa-file-pdf-o.PDF:hover, span.ivirDownload.fa.fa-print.PRINT:hover {
        color: #ef6c00 !important;
    }

.remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {
    color: #fff !important;
    right: 7px;
}

    .remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove:hover {
        opacity: .7 !important;
    }

.colorButton:hover, .hotbtndynamic:focus {
    opacity: .8;
}

button.noBg.panel-control .iconforom, button.noBg.panel-control .iconforom:focus, button.noBg.panel-control .iconforom:hover {
    color: #fff !important;
}

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    background: #fff !important;
}

a.ui-state-default:hover {
    background: #ff764b !important;
    color: #fff !important;
    border: 0;
}

tr.tblrowcolor:focus, tr.tblrowcolor:hover {
    background-color: #ffcfa8;
    cursor: pointer;
}

.hotbtndynamic {
    color: #FFF !important;
    background: #ff9800;
    background-color: #ff9800 !important;
}

.header .nav .dropdown-toggle:focus {
    background-color: #ff6d3f !important;
    opacity: .8;
}

.leftico.ico, .reload, .rightico, .addOption {
    color: #ff5722 !important;
}


span#tabCollapseButton {
    color: #ff9f50;
}


.firstble tr:nth-of-type(even), .gridData:not(.ivirMainGrid) tr:nth-of-type(even) {
    background: #fff5ec !important;
}

    .firstble tr:nth-of-type(even):hover, .gridData:not(.ivirMainGrid) tr:hover, .gridData:not(.ivirMainGrid) tr:nth-of-type(even):hover {
        background: rgba(255,236,179,.51) !important;
    }
   

 .customSetupTableMN tr.activeSearchTr td, .customSetupTableMN tr.activeSearchTr th {
    color: #1b1b1b !important;
}

.customSetupTableMN tr.activeSearchTr:not(:first-child) {
      background:#fff !important;
}
.customSetupTableMN tr.activeSearchTr:not(:first-child):hover{
    background:rgba(255,236,179,.51) !important;
}


.customSetupTableMN tr:hover {
    background: #fff3e0;
}
span.mobIleMenuIcon {
    color: #ef6c00;
    text-shadow: 0 0 5px #303f9f;
}

.hasMobMenuChilds .selected {
    background: #ef6c00;
    color: #fff !important;
}

.ms-container .ms-list:focus {
    border-color: #ffa000 !important;
}

#header p.fdata {
    background: #ff5722 !important;
    COLOR: #fff !important;
}

.gridData span.icon-software-pencil, table#GridView1 span.icon-basic-sheet-multiple {
    color: #f94d17 !important;
}

a#listep2 span.round-tab.glyphicon.glyphicon-pencil.icon-software-pencil.disabled {
    color: #777 !important;
}

#main div#divTitle {
    background-color: #ff5722 !important;
    color: #fff !important;
}

span.icon-tstructMenuBgIcn {
    background-image: url(images/tstruct.png) !important;
}

span.icon-iviewMenuBgIcn {
    background-image: url(images/iview.png) !important;
}

span.icon-pageMenuBgIcn {
    background-image: url(images/page.png) !important;
}

span.icon-linkMenuBgIcn {
    background-image: url(images/menu.png) !important;
}

span.icon-helpMenuBgIcn {
    background-image: url(images/help.png) !important;
}

button.noBg:-moz-focusring {
    outline: green dotted 1px !important;
}

.panel-heading .accordion-toggle:after {
    color: #e64a19 !important;
}

span.mobileMenu.icon-tstructMenuBgIcn {
    background-image: url(images/mobile-tstruct.png) !important;
}

span.mobileMenu.icon-iviewMenuBgIcn {
    background-image: url(images/mobile-iview.png) !important;
}

span.mobileMenu.icon-linkMenuBgIcn {
    background-image: url(images/mobile-menu.png) !important;
}

.file-upload .file-select:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px #ffa000;
    border: 1px solid #ffa000 !important;
    outline: #ffa000 solid 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,160,0,.42);
}

button.noBg.colorButton.icon-basic-settings:focus {
    padding: 0 !important;
    outline: -webkit-focus-ring-color auto !important;
}

.uploadfile {
    background: #ff835c !important;
}

label.lbluploadtxt {
    color: #fff !important;
}

.ui-datepicker td {
    padding: .19px !important;
}

span#GSclearBtn:hover,#GSclearBtn {
    color: #ef6c00 !important;
}

/*#gridAddBtn2:focus {
    opacity: .6 !important;
}*/

.modal-header .close:focus {
    opacity: 0.8;
    outline: -webkit-focus-ring-color auto 5px !important;
}

.modal-header .close:-moz-focusring {
    opacity: 0.8;
    outline: 1px dotted #6e6d6d;
}

#customizer:focus {
    outline: none !important;
}


#nextPick {
    color: #e64a19 !important;
}

.coldbtn {
    border-radius: 4px !important;
}



@media(max-width:414px) {
    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
        text-align: center;
    }
}

@media(max-width:618px) {
    .editLayoutFooter .coldbtn {
        margin: 3px !important;
    }

    .editLayoutFooter .previousNextEditButton {
        padding-left: 0px;
    }
}



.grdButtons .normalbtntiny:focus,.grdButtons .normalbtntiny:hover {
    opacity: 0.8 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08), 0 0 8px #ffa000;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,160,0,.42);
    border-color: #ffa000 !important;
     outline: 0px !important;
}

.grdButtons .normalbtntiny:-moz-focusring {
    outline: #000 dotted 1px !important;
    }


button.btn.btn-primary.dropdown-toggle:hover {
    opacity: .8;
}


button.btn.btn-primary.dropdown-toggle:focus {
    opacity: 0.9 !important;
   -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08), 0 0 8px #ffa000;
    box-shadow: inset 0 1px 1px #ffa000, 0 0 8px rgb(255, 160, 0);
    border-color: #ffa000 !important;
    outline: 0px !important;
  }

.jconfirm-light .jconfirm-buttons button.hotbtntiny:focus{
    opacity: .8;
      color: #FFF !important;
    background: #ff9800;
    background-color: #ff9800 !important;
    }
.tgl-ios:checked+.tgl-btn.togglecustom{
    background: #ff5722 !important;
}
.popover,.popover-title,.popover-content{
   background: #000 !important;
   color: #fff !important;
   font-size: 11px;
}
.popover.right>.arrow:after{
 border-right-color: #000;
}

.popover.left>.arrow:after{
 border-left-color: #000;
}
.popover.top>.arrow:after{
 border-top-color: #000;
}
.popover.bottom>.arrow:after{
 border-bottom-color: #000;
}
#propertySheet .hpbHeaderTitle,.cutsomColorbtn,.createBadge::after {
    background: #e65100 !important;  /* light-blue darken-4 */
    color: white !important;
}
.highlightOption,.highlightOption:hover{
    background-color: #ff7b51 !important;
    color: white !important;
}
button.noBg.custombuilderico .iconforom, button.noBg.custombuilderico .iconforom:focus, button.noBg.custombuilderico .iconforom:hover {
    color: #fff !important;
}
a#tblResponsibilities_previous:hover,a#tblResponsibilities_next:hover {
    color: #fff !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f79443 !important;
    border-color: #f79443 !important;
}

.pickListFooter {
    color: #e64a19 !important;
}
#uldropelements li a:hover, #uldropelements li a:focus {
    border-left: 5px solid #ff5722 !important;
    background: #ffebe5 !important;
    padding-left: 15px;
    color: black !important;
}
th.sorting:focus, th.sorting_asc:focus {
    outline: 1px solid #fff !important;
}
.modal-header button#btnModalClose {
   float: right !important;
   color: #fff;
   opacity: 1;
}

.btextDir-rtl .modal-header button#btnModalClose {float: left!important;}

.badge{
background-color: #ff9f50;
}
.wizard-progress .step.active.flat:before {
    border-top-color: #ff5722 !important;
}
.wizard-progress .step.in-progress.flat {
    background: #ff8058;
    background: -moz-linear-gradient(left, #2196f3 0, #fff 120%);
    background: -webkit-linear-gradient(left, #ff5722 0, #fff 120%);
    background: linear-gradient(to right, #ff5722 0, #fff 120%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='#fff', GradientType=1);
}
.wizard-progress .step.complete.flat {
    background: #ff5722;
}

.gridDataimport th {
    background-color: hsla(14, 100%, 57%, 0.53) !important;
    color: #000 !important;
}
.themecolorbg{     
    background-color:#ff5722 !important;
    background:#ff5722 !important;
}

.jconfirm-title-c {
    background-color: #ff7246 !important;
    color: #fff !important;
    padding: 24px 0px 0px 17px;
    margin: -30px -25px 16px -25px !important;
    font-weight: normal !important;

}

.modal-header, .modal-title {
    background-color:#ff7246 !important;
    color: #fff !important;
   }
.modal-header .close {
    color: #fff !important;
    opacity:1;
}
#breadcrumb-panelpopup #lblcustom, #closeList {
    color: #fff !important;
}
#breadcrumb-panelpopup {
    background:#ff7246 !important;
}
.homePageBody .main-header .navbar.cloud-header {
   background-image: linear-gradient(141deg, #f7f9f8 10%, #c38e35 32%, #ca8108 75%);
}
.homePageBody .main-header .navbar {
    background-color: #ffb943!important;
}
#nav-searchbox input {background: #e6a02d!important;}
.homePageBody .sidebar-menu > li.active > a {
    border-left-color: #ffb943!important;
}
.homePageBody .sidebar-menu > li:hover > a, .homePageBody .sidebar-menu > li.active > a, .homePageBody .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #ffb943!important;
}
.homePageBody .sidebar-menu .treeview-menu > li.active > a, .homePageBody .sidebar-menu .treeview-menu > li > a:hover {
    color: #ffb943!important;
}
.homePageBody .sidebar-menu .treeview-menu > li > a {
    color: #ffb943!important;
}
.header-list li i {color: #ffb943!important;}
.split-btn {background: #ffb943!important;}
.split-btn-vertical {background: #ffb943!important;}
/*.splitter {background: #ffb943!important;}
.splitter-horizontal {background: #ffb943!important;}*/
.head-list li:hover {
    background: #ffb943;
}
.item-list li:hover {background: #ffb943 !important;}
div#icons li:not(.dropDownLst) a {background: #ffb943 !important;}
div#icons li.gropuedBtn button {background: #ffb943 !important;}
div#icons li .dropdown-menu li a:hover{background:#ffb943 !important}
div#icons li .dropdown-menu li a{background:#fff !important;color:#000;}
div#icons li#myFiltersLi {background: #ffb943 !important;}
div#icons li.gropuedBtn {background: #ffb943 !important;}
@media only screen and (min-width:320px) and (max-width:767px) {
    .homePageBody .main-header .navbar.cloud-header {
    background-image: linear-gradient(180deg,#e6a02d 0%,#f7f9f8 1%, #f7f9f8 20%, #f79900 80%, #bd7807 90%) !important;
}
}
