body {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Lato',sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.box {
    color: #000;
    padding: 20px;
    display: none;
    margin-top: 20px;
    padding-bottom: 15px;
}

button.hotbtntiny.btn, button.coldbtntiny.btn {
    margin-top: 20px;
}

.tstruct {
    background: #f7f7f7;
    border-radius: 4px;
}

.Iview {
    background: #fffcf3;
}

.Common {
    background: #f3f9f8;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

    .toggle.ios .toggle-handle {
        border-radius: 20px;
    }

.toggle.android {
    border-radius: 0;
}

    .toggle.android .toggle-handle {
        border-radius: 0;
    }

.appsetting {
    width: 480px;
}

.section-title h2, .section-title.center h2 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Lato',sans-serif;
    color: #5a5a5a;
}

.center {
    text-align: center;
}

#header {
    height: 47px;
    background-color: #444;
}

#footer {
    height: 47px;
    background-color: #444;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    color: #fff;
}

#main {
    height: auto;
    width: auto;
    margin: auto;
    padding-bottom: 47px;
}

.cloudButton.-dark {
    color: #FFF;
    background: #333030;
    background: #444;
    border: 0;
    width: 150px;
}

.lblform {
    padding-bottom: 5px !important;
    padding-top: 10px !important;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form {
    max-width: 100%;
    margin: 2%;
}

p.sw-TimelineCard_Title.support {
    margin-bottom: -5px;
}

#writeMessage {
    height: 130px;
    border-radius: 3px;
    border: 1px solid darkgrey;
    padding: 0 10px;
    max-width: 100% !important;
}

.bottomtitle {
    margin-bottom: 0;
    font-size: 1.2em;
    color: #767676;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1px;
}

.subtitle {
    clear: both;
    display: block;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    color: #595959;
}

.info {
    width: 50%;
    border-radius: 50%;
    margin-top: 21px;
}

label.support {
    font-size: 15px;
}

a.right.carousel-control {
    opacity: 0;
}

a.left.carousel-control {
    opacity: 0;
}

a.right.carousel-control {
    opacity: 0;
}

@media(max-width:428px) and (min-width:270px) {
    .appscreen {
        text-align: center;
        margin-left: 14px;
    }
}

@media(max-width:1199px) and (min-width:768px) {
    .btnwatchvid {
        padding-right: 28%;
    }

    .cloudButton.-dark {
        margin-bottom: 6px;
    }
}

@media(max-width:427px) and (min-width:270px) {
    .btnwatchvid {
        padding-right: 28%;
    }

    .cloudButton.-dark {
        margin-bottom: 6px;
    }
}

.wrap {
    color: #fff;
}

.wraptxt {
    text-align: center;
    background-color: rgba(88,169,220,0.87);
    border-top-left-radius: 5PX;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    color: #fff;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    margin: auto;
}

.carousel-inner > .item {
    margin-top: 14px;
}

.bgfix {
    background-image: url('../img/one.png');
    height: 280px;
    max-width: 498px;
    background-size: 80px 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide {
    width: 85%;
    margin: auto;
}

.sw-TimelineCard_Text.supportform {
    padding: 15px !important;
}

.coldbtntiny {
    color: #FFF !important;
    background-color: #737373 !important;
    border: 0 !important;
    min-width: 105px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 4px;
    height: 32px;
    margin-bottom: 5px;
}

.hotbtntiny {
    color: #FFF !important;
    background: #0c7abf;
    background-color: #0c7abf !important;
    border: 0 !important;
    min-width: 105px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 4px;
    height: 32px;
    margin-bottom: 4px;
}

    .hotbtntiny:hover, .hotbtntiny:focus, .coldbtntiny:hover, .coldbtntiny:focus {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: .85;
        color: #FFF !important;
    }

    .hotbtntiny:disabled:hover, .coldbtntiny:disabled:hover {
        opacity: .55;
    }

.btnparent {
    text-align: center;
    margin-top: 10px;
}

.normalbtntiny {
    min-width: 105px;
    display: inline-block;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 2px #f3f3f3;
    margin: 0 3px;
    padding: 1px 9px;
    border-radius: 4px;
    cursor: pointer;
    color: #337ab7;
    height: 32px;
}

    .normalbtntiny:hover, .normalbtntiny:focus {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: .80;
        color: #000;
        border-color: #ccc;
    }

.tgl {
    display: none;
}

    .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
        box-sizing: border-box;
    }

        .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
            background: 0;
        }

        .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
            background: 0;
        }

        .tgl + .tgl-btn {
            outline: 0;
            display: inline-block;
            width: 50px;
            height: 25px;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            .tgl + .tgl-btn:after {
                left: 0;
            }

            .tgl + .tgl-btn:before {
                display: none;
            }

        .tgl:checked + .tgl-btn:after {
            left: 50%;
        }

.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

    .tgl-ios + .tgl-btn:after {
        border-radius: 2em;
        background: #fbfbfb;
        -webkit-transition: left .3s cubic-bezier(0.175,0.885,0.32,1.275),padding .3s ease,margin .3s ease;
        transition: left .3s cubic-bezier(0.175,0.885,0.32,1.275),padding .3s ease,margin .3s ease;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 4px 0 rgba(0,0,0,0.08);
    }

    .tgl-ios + .tgl-btn:hover:after {
        will-change: padding;
    }

    .tgl-ios + .tgl-btn:active {
        box-shadow: inset 0 0 0 2em #e8eae9;
    }

        .tgl-ios + .tgl-btn:active:after {
            padding-right: .8em;
        }

.tgl-ios:checked + .tgl-btn {
    background: #fcac45;
}

    .tgl-ios:checked + .tgl-btn:active {
        box-shadow: none;
    }

        .tgl-ios:checked + .tgl-btn:active:after {
            margin-left: -.8em;
        }

#breadcrumb-panel {
    margin-top: 1px;
    background: #fff;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.setTitle {
    position: relative;
    top: -12px;
    margin-right: 10px;
}
.workfile {
    margin-top: 15px;
}