#arrangeMenu {
  overflow-y: scroll;
  height: calc(100vh - 43px);
}

#arrangeMenu ul li span span.fancytree-checkbox, #arrangeMenu ul li span span.fancytree-expander, #arrangeMenu ul li span span.fancytree-icon, #arrangeMenu ul li span span.fancytree-custom-icon {
  color: #999999;
}

#arrangeMenu ul li span span.fancytree-title {
  font-size: 14px;
  padding: 3px 10px;
  font-family: Roboto, sans-serif;
  color: #333;
  background: #fff;
}

#arrangeMenu ul li span span.fancytree-title input {
  color: #333;
  font-size: 14px;
  height: 20px;
  margin-bottom: 0px;
  padding: 5px 10px;
  border: 01px solid #000;
  background: #fff;
}

#arrangeMenu ul li span.fancytree-selected .fancytree-title {
  background-color: #e4e4e4;
}

#arrangeMenu ul li span .fancytree-title:hover {
  background-color: #d4d4d4;
  color: #333;
}

#arrangeMenu ul li:focus {
  border: 0px;
  outline: none;
}

#arrangeMenu ul:focus {
  border: 0px;
  outline: none;
}

#arrangeMenu ul.fancytree-container {
  border: 0px;
}

#iconWrapperData > span {
  cursor: pointer;
}

#draggableSample,
#droppableSample {
  height: 100px;
  padding: 0.5em;
  width: 150px;
  border: 1px solid #AAAAAA;
}

#draggableSample {
  background-color: silver;
  color: #222222;
}

#droppableSample {
  background-color: maroon;
  color: white;
}

#droppableSample.drophover {
  border: 1px solid green;
}

span.pending span.fancytree-title:after {
  content: "\2026";
  /* ellipsis */
}

#waitDiv {
  z-index: 100000;
  display: none;
}

#waitDiv #backgroundDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 999999;
}

#waitDiv #backgroundDiv {
  background: url(../Axpimages/loadingBars.gif) center center no-repeat rgba(255, 255, 255, 0.4);
  background-size: 135px;
}

#arngmnuFooter {
  text-align: right;
  margin-top: 6px;
}

#arngmnuFooter #uploadIcon {
  display: none;
}
