/*div#bootstrapModal .form-group:not(.checkbox) label, div#wBdr .form-group:not(.checkbox) label{
    margin-bottom: -6px !important;
}*/
div#wBdr input.form-control {
  height: 23px;
}

div#wBdr select.form-control {
  height: 23px;
}

div#wBdr .grid-stack-item .divImgBorder, div#wBdr .grid-stack-item .divReadOnly, div#wBdr .grid-stack-item .gridstackCalc, div#wBdr .grid-stack-item input[type=button].hotbtn.btn {
  height: calc(100% - 23px) !important;
}

.dvdcframe .mainIframe.grid-stack:not(.tstructDesignMode) .grid-stack-item .gridstackCalc {
  height: calc(100% - 23px) !important;
}

div#bootstrapModal input.form-control {
  height: 23px;
}

div#bootstrapModal select.form-control {
  height: 23px;
}

div#bootstrapModal label {
  font-weight: 400;
  margin-bottom: -5px;
  margin-bottom: -5px;
}

div#wBdr label {
  font-weight: 400;
  margin-bottom: -5px;
}

.form-control {
  padding: 2px;
  margin-bottom: 0px;
}

div.picklisttxtclear {
  top: 2px;
}

#ico_cl {
  font-size: 12px;
}

#ico_cl:focus {
  outline: none;
  text-decoration: none;
}

font.allowempty {
  font-size: -5px;
}

.editLayoutFooter {
  margin-top: -2px;
}

.loadingTheDataPW {
  margin-top: 10px;
  font-size: 14px;
}

.dvheightframe .input-group-addon {
  padding: 2px 12px;
}

.dcTitle {
  padding: 2px 1px;
}

.dcTitle .frameCap {
  font-size: 16px;
}

[id^='wrapperForEditFields'] {
  margin: 0px;
}

.wrapper {
  padding: 7px 0px;
}

#wBdr .wrapper .container-fluid {
  padding: 0px;
}

.customSetupTableMN {
  margin: 0px;
}

#dvlayout .checkbox.form-group.col-lg-12.col-sm-12.col-md-12 {
  margin-top: 5px;
}

.grdButtons ul {
  margin-bottom: 0px;
}

.grid-icons .btn {
  min-width: 0px;
  min-height: 0px;
  height: 20px;
  padding: 0px 2px 2px;
}

#myTab li a span.gridoptions {
  font-size: 18px;
  left: 2px;
}

.newgridbtn ul li a span, .newgridbtn ul li button span {
  font-size: 16px;
}

[id^='colScroll'] [id^='gridHd'] td {
  padding: 0px 2px;
}

[id^='colScroll'] [id^='gridHd'] th {
  padding: 3px 5px;
}

[id^='colScroll'] [id^='gridHd'] tbody tr td:nth-child(3) {
  padding-top: 5px;
  text-align: center;
}

[id^='colScroll'].gridFixedHeader {
  max-height: -moz-calc(100vh - 108px);
  max-height: -webkit-calc(100vh - 108px);
  max-height: calc(100vh - 108px);
}

textarea.labelInp {
  height: 23px;
}

span.checkBoxSpn {
  position: relative;
  top: 3px;
}

.pickListFooter {
  padding: 0px 0px;
}

input#Button1 {
  height: 23px;
}

input#searstr {
  height: 23px;
}

button#advancebtn {
  font-size: 12px;
}

select#ddlSearch {
  height: 23px;
}

#searchoverrelay .panel-heading {
  padding: 5px 7px 5px 3px;
}

#searchoverrelay .panel-body {
  padding: 6px 5px 14px 7px;
}

#searchoverrelay #UpdatePanel1 input#Button1 {
  padding-top: 2px;
}

div#UpdatePanel1 {
  font-size: 12px;
  margin-bottom: -15px;
}

.pickListFRP i:first-child {
  margin-right: -2px;
}

div.ui-datepicker {
  font-size: 12px;
}

div#Panel1 {
  background-color: transparent;
}

.ui-autocomplete {
  font-size: 12px;
}

span.fa.fa-paperclip {
  font-size: 20px;
}

.custInpChk {
  margin-top: 25px;
  position: relative;
}

.autoinput-parent.opened::after {
  top: 5px;
}

.autoinput-parent .autoclear {
  padding-top: 4px;
  top: 0px;
}

.autoinput-parent .edit {
  padding-top: 3px;
  top: 0px;
}

#wizardBodyFooterWrapper {
  margin-top: -7px;
}

.wizardBodyContent {
  height: calc(100vh - 185px);
}

#wizardWrappper.progress_flat .wizardBodyContent {
  height: calc(100vh - 190px) !important;
}

.htmlPagesCls #wizardWrappper .wizardBodyContent {
  height: calc(100vh - 45px) !important;
}

.dvdcframe .tstructDesignMode.grid-stack .grid-stack-item > .ui-resizable-se, .dvdcframe .tstructDesignMode.grid-stack .grid-stack-item .ui-resizable-sw {
  right: -5px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  left: 0px;
  right: 1px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content .pwdtoggle {
  top: 23px;
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
  left: -5px;
}

.grid-stack:not(.staticRunMode) > .grid-stack-item {
  margin-bottom: 1px;
  padding-left: 0px;
  padding-right: 1px;
}

.grid-stack-item .gridstackCalc {
  height: calc(100% - 20px);
}

.grid-stack-item .customGridchkbox {
  top: -2px;
}

img {
  height: 100%;
}

#ui-datepicker-div {
  min-height: 180px;
}

.tgl-btn.gridStretch {
  top: 1px;
  left: 4px;
}

.form-group {
  margin: 0;
  padding: 0 3px;
  margin-top: 1px;
  margin-bottom: 0;
}

.dvdcframe .mainIframe.grid-stack.dynamicRunMode:not(.staticRunMode) > .grid-stack-item {
  margin-bottom: 1px;
  padding-left: 0;
  padding-right: 1px;
}

.dvdcframe .divBarQrScan .barQrIcon {
  top: 1px;
}

.dvdcframe #containerDc .edit-mode-content .divBarQrScan .barQrIcon {
  top: 0px;
}

.gridstackCalcChecklist .tokenfield.form-control {
  height: 30px !important;
  min-height: 50px;
}

.modal-open #bootstrapModalData .editWrapTr .grid-stack-item-content .fld-wrap1 {
  margin: 0;
}

#pagebdy #heightframe .tstructcontent .dcTitle span.gridoptions {
  font-size: 16px;
}

.tstformbutton {
  padding: 0px 9px;
  margin-top: 20px;
}

.colDivInputPadding {
  padding: 16px 10px 10px;
}
