/* .cm-s-elegant {
    border-style: inset;
} */
.CodeMirror-scroll {
  background-color: #f5f5f5;
}

.CodeMirror-gutter {
  background-color: #ececec;
}

#spnRowCnt {
  float: right;
  display: none;
}

/* #btnSchema{
  display: none;
} */
.DbNavTabs {
  display: none;
}

#txtOutput {
  padding: 5px 10px;
}

.rsltHeader {
  background-color: #ececec;
  color: #9999a4;
  height: 25px;
  padding: 1px 7px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.CodeMirror {
  height: 285px;
  border: 1px solid #ccc;
}

.CodeMirror .CodeMirror-hscrollbar {
  bottom: 11px;
}

thead th {
  background-color: #EFEFEF;
}

#schemaBrwsr.hideMenu #divTreeView {
  margin-left: -314px;
}

#schemaBrwsr.hideMenu #dataView {
  left: 0px;
  width: 100%;
}

#schemaBrwsr #dataView {
  /* width: 80%; */
  height: calc(100vh - 10px);
  border-left: 1px solid #ccc;
  position: absolute;
  left: 300px;
  width: calc(100vw - 300px);
  padding-left: 10px;
}

#schemaBrwsr #dataView .AxDBToolBar ul,
#schemaBrwsr #dataView .dvOpenMenu ul {
  padding: 0px;
}

#schemaBrwsr #dataView .AxDBToolBar ul li,
#schemaBrwsr #dataView .dvOpenMenu ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 5px 0px;
  background: #807e7e;
  margin-top: 5px;
  box-shadow: 1px 2px 3px 0px #9a9a9a;
}

#schemaBrwsr #dataView .AxDBToolBar ul li a span,
#schemaBrwsr #dataView .dvOpenMenu ul li a span {
  color: #fff;
  font-size: 19px;
}

#schemaBrwsr #dataView .dvOpenMenu {
  position: absolute;
  top: 35px;
  z-index: 4;
  left: -1px;
  padding: 7px 0px 0px;
}

#schemaBrwsr #dataView .dvOpenMenu ul li {
  padding: 5px 1px 0px;
}

#schemaBrwsr #dataView .dvOpenMenu ul li a span {
  font-size: 17px;
}

#schemaBrwsr #dataView .tab-content {
  height: calc(100vh - 50px);
}

#schemaBrwsr #dataView .tab-content #noRecord {
  text-align: center;
  padding: 5px;
  background-color: #eeeeee;
  margin: 5px;
}

#schemaBrwsr #dataView .tab-content #QryEditor {
  height: 100%;
}

#schemaBrwsr #dataView .tab-content #QryEditor #ScriptToolBar {
  list-style: none;
  display: none;
}

#schemaBrwsr #dataView .tab-content #QryEditor #ScriptToolBar ul {
  text-align: right;
  margin-top: -35px;
  margin-right: 6px;
}

#schemaBrwsr #dataView .tab-content #QryEditor #ScriptToolBar ul li {
  display: inline;
  margin-right: 0px;
}

#schemaBrwsr #dataView .tab-content #QryEditor #ScriptToolBar ul li a {
  color: #fff;
}

#schemaBrwsr #dataView .tab-content #QryEditor #ScriptToolBar ul li a span {
  background: #807e7e;
  padding: 5px;
  font-size: 20px;
  box-shadow: 1px 2px 3px 0px #9a9a9a;
}

#schemaBrwsr #dataView .tab-content #QryEditor #splitWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#schemaBrwsr #dataView .tab-content #QryEditor #splitWrapper .CodeMirror {
  height: 50%;
  flex: 0 0 auto;
  white-space: nowrap;
}

#schemaBrwsr #dataView .tab-content #QryEditor #splitWrapper .CodeMirror .ui-resizable-s {
  height: 15px;
  background: #cccdce;
  background-image: url(../images/sql_resizeHandle.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: row-resize;
  z-index: 9 !important;
}

#schemaBrwsr #dataView .tab-content #QryEditor #splitWrapper .dvOutput {
  border: 1px solid #ccc;
  /* border-style: inset; */
  width: 100%;
  height: 48%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  flex: 1 1 auto;
}

#schemaBrwsr #dataView #dvObjList {
  display: none;
}

#waitDiv {
  z-index: 100000;
  display: none;
}

#waitDiv #backgroundDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 999999;
}

#waitDiv #backgroundDiv {
  background: url(../Axpimages/loadingBars.gif) center center no-repeat rgba(255, 255, 255, 0.4);
  background-size: 135px;
}

#divTreeView {
  padding: 0;
  position: absolute;
  background: #eee;
  margin-left: 0px;
  width: 300px;
}

#divTreeView #srchTree {
  float: left;
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 90%;
  margin-left: 14px;
  margin-right: 5px;
  padding-left: 8px;
}

#divTreeView #srchTree:focus {
  outline: none;
  text-decoration: none;
}

#divTreeView .closeMenu {
  float: right;
  position: relative;
  top: 6px;
  left: -8px;
  background: #807e7e;
  color: #fff;
  padding: 5px 6px 0px;
}

#divTreeView .closeMenu span {
  font-size: 19px;
}

#divTreeView #treeView {
  /* width: 20%; */
  height: calc(100vh - 40px);
  padding: 5px 5px 5px 25px;
  overflow-y: auto;
  display: block;
  color: #807e7e;
}

#divTreeView #treeView ul {
  font-size: 14px;
  background-color: #eee;
  border: none;
}

#divTreeView #treeView ul:focus {
  outline: none;
}

#divTreeView #treeView ul .material-icons {
  font-size: 20px;
}

#divTreeView #treeView ul span.fancytree-custom-icon {
  margin-left: 5px;
  margin-right: 5px;
}

#divTreeView #treeView ul li span.fancytree-node {
  padding: 5px 0px;
}

#divTreeView #treeView ul li span.fancytree-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 180px;
  padding: 0;
  margin: 0;
}

#divTreeView #treeView ul li span.fancytree-title:hover {
  color: #337ab7;
}

#divTreeView #treeView ul li span.fancytree-active {
  color: #337ab7;
}

#divTreeView #treeView ul li span.fancytree-active span.fancytree-title {
  color: #337ab7;
}

#divTreeView #treeView ul li ul li:hover {
  color: #337ab7;
}

#divTreeView #treeView ul li ul li span.fancytree-node {
  padding: 5px 0px;
}

#divTreeView #treeView ul li ul li span.fancytree-active {
  color: #337ab7;
}

#divTreeView #treeView ul li ul li span.fancytree-active span.fancytree-title {
  color: #337ab7;
}

#divTreeView #treeView .treeItem {
  background-color: #eee;
  border: 0px solid #eee;
  padding: 5px 10px;
}

#divTreeView #treeView::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#divTreeView #treeView::-webkit-scrollbar-track {
  background: #fff;
}

#divTreeView #treeView::-webkit-scrollbar-thumb {
  background-color: #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  min-height: 15%;
  min-width: 15%;
}

#divTreeView #treeView::-webkit-scrollbar-thumb:hover {
  border: 0px solid #999999;
}

.treeRoot {
  background-color: #eee;
}

#schemaBrwsr #dataView table.dataTable tbody th, #schemaBrwsr #dataView table.dataTable tbody td {
  padding: 8px 20px;
}
