 table.gridData {
 min-width: inherit !important;
 box-shadow: none !important;
 border: 0px !important;
 margin-bottom: 0px !important;
 }
   label.coldbtn.btn {
    opacity: 1;
    right: 248px;
    position: relative;
    z-index: 2;
    padding-top:7.5px;
    padding-bottom:7.5px;
    font-size: 14px;
}

 [dir="rtl"], [dir="rtl"] .file-select-button,  [dir="rtl"] .file-select-name{
     float:right;
 }

/*Choose File button*/
body {
    width: 400px;
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    .file-upload .file-select {
        display: block;
        border: 2px solid grey;
        color: #34495e;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        text-align: left;
        background: #FFFFFF;
        overflow: hidden;
        position: relative;
    }

        .file-upload .file-select .file-select-button {
            background: grey;
            padding: 0 10px;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            vertical-align:top;
        }

        .file-upload .file-select .file-select-name {
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
            vertical-align:top;
        }

        .file-upload {
            border-color: grey;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

            .file-upload .file-select-button {
                background: grey;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

    .file-upload.active .file-select {
        border-color: grey;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .file-upload.active .file-select .file-select-button {
            background: grey;
            color: #666;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    /*.file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }*/

        .file-upload .file-select {
            cursor: default;
            display: block;
            border: 2px solid grey;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            /*.file-upload .file-select .file-select-button {
                background: grey;
                padding: 0 10px;
                display: inline-block;
                height: 40px;
                line-height: 40px;
            }*/

            .file-upload .file-select.file-select-name {
                line-height: 30px;
                display: inline-block;
                padding: 0 10px;
            }
 /*Choose File button*/
.uploadfile {
    font-size: 20px;
    font-weight: 400 !important;
    width: 100%;
    position: absolute;
    margin: 0;
    padding-left: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
}

label.lbluploadtxt {
    font-size: 20px;
    margin-left: 10px;
}

/****** CODE ******/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    .file-upload .file-select {
display: block;
    border: 2px solid grey;
    color: #34495e;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    }

        .file-upload .file-select .file-select-button {
       background: grey;
    padding: 0 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
        }

        .file-upload .file-select .file-select-name {
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
        }

        .file-upload .file-select:hover {
            border-color: #34495e;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

            .file-upload .file-select:hover .file-select-button {
                background: #34495e;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

    .file-upload.active .file-select {
        border-color: #3fa46a;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .file-upload.active .file-select .file-select-button {
            background: #3fa46a;
            color: #FFFFFF;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }

        .file-upload .file-select.file-select-disabled:hover {
            cursor: default;
            display: block;
            border: 2px solid #dce4ec;
            color: #34495e;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select.file-select-disabled:hover .file-select-button {
                background: #dce4ec;
                color: #666666;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
            }

            .file-upload .file-select.file-select-disabled:hover .file-select-name {
                line-height: 30px;
                display: inline-block;
                padding: 0 10px;
            }
