label.coldbtn.btn {
    opacity: 1;
    right: 248px;
    position: relative;
    z-index: 2;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 14px;
}
 [dir="rtl"], [dir="rtl"] .file-select-button,  [dir="rtl"] .file-select-name{
     float:right;
 }

body {
    width: 400px;
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-bottom: 9px;
    border-color: grey;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

    .file-upload .file-select .file-select-button, .file-upload .file-select .file-select-name {
        line-height: 30px;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
    }

    .file-upload .file-select {
        color: #34495e;
    }

        .file-upload .file-select .file-select-button {
            background: grey;
            height: 30px;
        }

    .file-upload .file-select-button {
        background: grey;
        color: #fff;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .file-upload.active .file-select {
        border-color: grey;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .file-upload.active .file-select .file-select-button {
            background: grey;
            color: #666;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select {
        display: block;
        border: 2px solid grey;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        text-align: left;
        background: #fff;
        overflow: hidden;
        position: relative;
    }

        .file-upload .file-select.file-select-name {
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
        }
        .lablattactxt{

                font-size: 13px;
    margin-bottom: 10px;
            
        }

 
.uploadfile {
    font-size: 20px;
    font-weight: normal !important;
    width: 100%;
    position: absolute;
    margin: 0px;
    padding-left: 0px;
    padding-top: 9px;
    padding-bottom: 10px;
    top: 0px;
    left: 0px;
}
label.lbluploadtxt {
    font-size: 20px;
    margin-left: 10px;
}