
.button {
    border: 1px solid #563d7c;
    border-radius: 5px;
    color: white;
    padding: 5px 10px 5px 25px;
    background-position-y: 465px;
    background-position-x: 5px;
    background-color: #563d7c;
}

.uploadfile {
    font-size: 20px;
    font-weight: normal !important;
}

/****** IGNORE ******/
body {
    /*width: 70%;*/
    margin-left: 0px;
}

.copyright {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

    .copyright a {
        text-decoration: none;
        color: #EE4E44;
    }


/****** CODE ******/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

    .file-upload .file-select {
display: block;
    border: 2px solid grey;
    color: #34495e;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    }

        .file-upload .file-select .file-select-button {
       background: grey;
    padding: 0 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
        }

        .file-upload .file-select .file-select-name {
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
        }

        .file-upload .file-select:hover {
            border-color: #34495e;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

            .file-upload .file-select:hover .file-select-button {
                background: #34495e;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

    .file-upload.active .file-select {
        border-color: #3fa46a;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .file-upload.active .file-select .file-select-button {
            background: #3fa46a;
            color: #FFFFFF;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
        }

    .file-upload .file-select input[type=file] {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .file-upload .file-select.file-select-disabled {
        opacity: 0.65;
    }

        .file-upload .file-select.file-select-disabled:hover {
            cursor: default;
            display: block;
            border: 2px solid #dce4ec;
            color: #34495e;
            cursor: pointer;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
            text-align: left;
            background: #FFFFFF;
            overflow: hidden;
            position: relative;
        }

            .file-upload .file-select.file-select-disabled:hover .file-select-button {
                background: #dce4ec;
                color: #666666;
                padding: 0 10px;
                display: inline-block;
                height: 30px;
                line-height: 30px;
            }

            .file-upload .file-select.file-select-disabled:hover .file-select-name {
                line-height: 30px;
                display: inline-block;
                padding: 0 10px;
            }
