.sp-container {
    z-index: 99999999 !important;
}

.columList {
    border: 1px solid #e2e2e2;
    padding: 0px 10px;
    box-shadow: 0px 0px 5px #dcdcdc;
    margin-bottom: 10px;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
    /*height: 200px !important;*/
    height: inherit !important;
}

span.ascDscWrapper {
    color: #cecece;
}

    span.ascDscWrapper i:first-child {
        margin-right: 8px;
    }

    span.ascDscWrapper i.active {
        color: #3498db;
    }

button.noBg {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    outline: 0;
}

#filterWrapper, #ivirCustomActionButtons, #advFilterWrapper {
    display: inline-block;
    padding: 0px;
    /*float: left;*/
}

.ivirLabelWrapper {
    /* border: 1px solid #3498e2; */
    border: 1px solid white;
    border-radius: 5px;
}

#advFilterWrapper {
    margin-right: 7px;
}

.dataTables_filter {
    float: left !important;
    width: 100%;
}

    .dataTables_filter label {
        width: 100%;
    }

    .dataTables_filter input {
        width: 100% !important;
    }

input.ivirSearchFld {
    border-radius: 18px;
    /* padding: 2px 10px; */
    /* height: 30px; */
    width: 100%;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}

li.paginate_button {
    margin: 0px !important;
    padding: 0px !important;
    border: 0px !important;
}

span.ivirGraphIcon {
    font-size: 70px;
}

#ivirMainChartWrapper {
    height: calc(100vh - 105px);
}

#ivirCustomActionButtons {
    height: auto;
    margin-left: 10px;
}

.ivType-Interactive #Panel1 {
    overflow-x: auto;
    min-height: calc(100vh - 100px);
}

#ivirChatWrapper button.ivirChartButton {
    outline: none;
}

    #ivirChatWrapper button.ivirChartButton:hover span.ivirGraphIcon,
    #ivirChatWrapper button.ivirChartButton:focus span.ivirGraphIcon {
        color: #3799dc;
    }

    #ivirChatWrapper button.ivirChartButton.active span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload {
        color: #00b8ff;
    }

#ivirCustomContainer {
    padding: 5px 20px 5px 5px;
}

    #ivirCustomContainer .form-control, #searchBar .form-control {
        padding: 2px 5px;
        height: 31px !important;
        font-size: 12px;
        border-radius: 18px;
    }

    #ivirCustomContainer .pagination {
        margin: 0px !important;
    }

    #ivirCustomContainer .dataTables_paginate {
        padding: 0px !important;
    }


/* for pillls */

.materialCheckBox [type="checkbox"]:not(:checked),
.materialCheckBox [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.materialCheckBox [type="checkbox"] {
    /* checkbox aspect */
}

    .materialCheckBox [type="checkbox"] + label {
        position: relative;
        padding-left: 13px;
        cursor: pointer;
        display: inline-block;
        height: 9px;
        line-height: 25px;
        font-size: 1rem;
        -webkit-user-select: none;
        /* webkit (safari, chrome) browsers */
        -moz-user-select: none;
        /* mozilla browsers */
        -khtml-user-select: none;
        /* webkit (konqueror) browsers */
        -ms-user-select: none;
        /* IE10+ */
    }

        .materialCheckBox [type="checkbox"] + label:before,
        .materialCheckBox [type="checkbox"]:not(.filled-in) + label:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid #5a5a5a;
            border-radius: 1px;
            margin-top: 2px;
            transition: .2s;
        }

    .materialCheckBox [type="checkbox"]:not(.filled-in) + label:after {
        border: 0;
        transform: scale(0);
    }

    .materialCheckBox [type="checkbox"]:not(:checked):disabled + label:before {
        border: none;
        background-color: rgba(0, 0, 0, 0.26);
    }

    .materialCheckBox [type="checkbox"].tabbed:focus + label:after {
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.1);
    }

    .materialCheckBox [type="checkbox"]:checked + label:before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #26a69a;
        border-bottom: 2px solid #26a69a;
        transform: rotate(40deg);
        backface-visibility: hidden;
        transform-origin: 100% 100%;
    }

    .materialCheckBox [type="checkbox"]:checked:disabled + label:before {
        border-right: 2px solid rgba(0, 0, 0, 0.26);
        border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    }

    .materialCheckBox [type="checkbox"].filled-in + label:after {
        border-radius: 2px;
    }

    .materialCheckBox [type="checkbox"].filled-in + label:before,
    .materialCheckBox [type="checkbox"].filled-in + label:after {
        content: '';
        left: 0;
        position: absolute;
        /* .1s delay is for check animation */
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1;
    }

    .materialCheckBox [type="checkbox"].filled-in:not(:checked) + label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 20% 40%;
        transform-origin: 100% 100%;
    }

    .materialCheckBox [type="checkbox"].filled-in:not(:checked) + label:after {
        height: 17px;
        width: 17px;
        background-color: transparent;
        border: 1px solid #5a5a5a;
        top: 0px;
        z-index: 0;
    }

    .materialCheckBox [type="checkbox"].filled-in:checked + label:before {
        top: 0;
        left: 1px;
        width: 6px;
        height: 11px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    .materialCheckBox [type="checkbox"].filled-in:checked + label:after {
        top: 0;
        width: 17px;
        height: 17px;
        border: 1px solid #55a9e1;
        background-color: #55a9e1;
        z-index: 0;
    }

    .materialCheckBox [type="checkbox"].filled-in.tabbed:focus + label:after {
        border-radius: 2px;
        border-color: #5a5a5a;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .materialCheckBox [type="checkbox"].filled-in.tabbed:checked:focus + label:after {
        border-radius: 2px;
        background-color: #26a69a;
        border-color: #26a69a;
    }

    .materialCheckBox [type="checkbox"].filled-in:disabled:not(:checked) + label:before {
        background-color: transparent;
        border: 2px solid transparent;
    }

    .materialCheckBox [type="checkbox"].filled-in:disabled:not(:checked) + label:after {
        border-color: transparent;
        background-color: #BDBDBD;
    }

    .materialCheckBox [type="checkbox"].filled-in:disabled:checked + label:before {
        background-color: transparent;
    }

    .materialCheckBox [type="checkbox"].filled-in:disabled:checked + label:after {
        background-color: #BDBDBD;
        border-color: #BDBDBD;
    }

#ivirFilteredAccordion {
    font-size: 13px;
}

.customCheckBox {
    margin-left: 5px !important;
}

span.ivirCndtnIcon {
    border: 1px solid #24CB7F;
    padding: 3px;
    font-size: 11px;
    background: #24CB7F;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pillMainWrapper {
    border: 1px solid #ececec;
    padding: 1px 5px 2px 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #d8d8d8;
    margin: 0px 5px;
}

#ivirAllCndtns {
    display: inline-block;
}

#ivirFilteredAccordion {
    /* border: 1px solid #cccccc; */
    padding: 7px 3px;
    border-radius: 4px;
    /* max-width: 500px; */
}

.ivirCndtnLabel {
    color: black;
    background: #f1f1f1;
    padding: 2px 7px;
    font-weight: normal;
    border: 1px solid #e2e2e2;
    border-radius: 9px;
    position: relative;
    top: -1px;
}

#ivirAllCndtnPills {
    display: none;
    margin-left: 10px;
}

    #ivirAllCndtnPills .ivirCndtnName {
        display: inline-block;
        cursor: pointer;
        width: calc(100% - 36px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: -2px;
        position: relative;
        top: 3px;
    }

    #ivirAllCndtnPills .pillMainWrapper {
        width: 120px;
        margin-bottom: 10px;
        padding: 0px 5px 2px 0px;
        display: inline-block;
        position: relative;
    }

.deletePillBtn {
    font-size: 20px;
    top: -1px;
    right: 0px;
    position: absolute;
}

.chartPills {
    position: relative;
}

div#ivirChartPills .chartPills {
    display: inline-block;
}

div#ivirChartPills {
    margin: 10px 0px;
    text-align: center;
}

#ivirChartPills span.pillMainWrapper {
    position: relative;
    width: 120px;
    text-align: left;
    padding: 0px 5px 2px 0px;
    display: inline-block;
}

.ivirCndtnName {
    padding: 0px 5px;
    font-size: 11px;
}

#ivirChartPills a.ivirCndtnName {
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 36px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -5px;
    position: relative;
    top: 3px;
}

#ivirChartPills .pillRemove {
    top: -1px;
}

#filterColumnSelect select {
    width: 100% !important;
}

div#filterColumnSelect {
    padding-right: 0px;
}

.searchColWrapper {
    padding-left: 0px;
}


/* #ivirTotalCndtn1 .firstRow {
    top: 27px;
} */

#ivirTotalCndtn1 .firstRow p.labelP {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.ivirTotalCndtnIcon,
.ivirDeleteCndtnIcon {
    font-size: 20px;
    position: relative;
}

.grndTotalWrapper {
    display: inline-block;
    margin: 0px;
}

.ivirTotalCndtnIcon:hover {
    color: #3498db;
}


/* for task buttons */

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.task-button {
    position: relative;
    cursor: pointer;
    outline: 0px;
    padding: 4px 8px;
    border: 0px;
    margin: 0px 5px -8px 0px;
    float: left;
    border-radius: 3px;
    font-size: 19px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    color: #FFF;
    height: 32px;
    text-decoration: none;
    opacity: 0.7;
}

    .task-button.active {
        opacity: 1;
    }

    .task-button.blue {
        background-color: #3498DB;
        border-bottom-color: #2980B9;
        text-shadow: 0px -2px #2980B9;
        padding: 0px 7px;
        height: 24px;
    }

    .task-button:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        border-bottom: 1px solid;
    }

.jconfirm .jconfirm-box .jconfirm-buttons button {
    padding: 4px 12px !important;
    font-weight: normal !important;
}

.jconfirm-light .jconfirm-buttons button.hotbtntiny:focus {
    background-color: #0c7abf !important;
}

.jconfirm-light .jconfirm-buttons button.coldbtntiny:focus {
    background-color: #737373 !important;
}

#ivirCustomContainer select option:disabled {
    color: #b7b7b7;
}

.arrowUpDown,
#clearSorting {
    outline: 0;
}

    .arrowUpDown i {
        font-size: 25px;
    }


    /* change on theme */

    .arrowUpDown:focus i,
    .arrowUpDown:hover i,
    #clearSorting:focus,
    #clearSorting:hover {
        /* font-size: 25px; */
        color: #55a9e1;
    }

.dropDownButton {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.dropDownButton__list {
    margin: 5px 0 0 0;
    padding: 6px 0;
    list-style: none;
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    /* display: none; */
    opacity: 0;
    display: none;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #c3c3c3;
    -webkit-transition: opacity .25s linear, top .25s linear;
    transition: opacity .25s linear, top .25s linear;
    z-index: 555;
}
.btextDir-rtl .dropDownButton__list {left: -50px;
                                   }
.btextDir-rtl #list_drop{
    margin-left: -32px;
}

.dropDownButton.is-open .dropDownButton__list {
    visibility: visible !important;
    opacity: 1;
    top: 100%;
    padding: 0px;
    width: auto;
}
.btextDir-rtl  .dropDownButton__list li i{
    float:right!important;
    padding-left:19px;
}
.dropDownButton__item {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .btextDir-rtl .dropDownButton__item {
     text-align: right;
}
    .dropDownButton__item:not(.subHeader):hover, .dropDownButton__item.active {
        background-color: #55a9e1;
        color: white;
    }

li.dropDownButton__item.subHeader {
    font-weight: bold;
    color: #000;
}

.ivirActionDrpDwn li.dropDownButton__item:not(.subHeader) {
    padding-left: 15px;
    border-bottom: 1px solid #e6dfdf;
}

#ivirActionButton {
    width: 90px;
}
/*Responsive Table Start*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 2px;
}

table.dataTable td.child .dtr-details .rightClickMenuIcn {
    display: none;
}

/*.dataTables_scroll {
    max-width: 1280px;
    width: 100%;
}*/
/*Responsive Table Stop*/
li#chartActionLi {
    padding-left: 15px;
}

/**
 * Component: Button
 * --------------------------------------------------
 */

.c-button {
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .c-button:hover,
    .c-button:focus {
        outline: none;
        text-decoration: none;
    }

    .c-button:not(:disabled) {
        cursor: pointer;
    }


/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */

.c-button--dropdown {
    /*padding: 3px 15px 1px 6px;*/
    padding: 4px 4px;
    margin-top: -2px;
    background-color: #55a9e1;
    color: #E6E9ED;
    font-size: 14px;
    width: 100%;
    line-height: 20px;
    border-radius: 3px;
    /*border-radius: 18px;*/
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .c-button--dropdown:hover,
    .c-button--dropdown:focus {
        background-color: #68bbf3;
    }

    .c-button--dropdown:after {
        content: "";
        position: relative;
        top: 10px;
        right: -3px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: #E6E9ED;
    }

#searchSelectColumnButton:disabled {
    cursor: no-drop;
}

#ivirCustomContainer .pagination > li > a,
#ivirCustomContainer .pagination > li > span {
    padding: 0px 9px !important;
}

#ivirCustomContainer .pagination li {
    display: none;
}

    #ivirCustomContainer .pagination li.prev, #ivirCustomContainer .pagination li.previous, #ivirCustomContainer .pagination li.next {
        display: inline;
    }

div#ivirAllCndtnPills div[id^='ivir'] {
    display: inline-block;
}

#resetMoreFilters {
    /*background-color: #dedede;*/
    color: black;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
}

.btextDir-rtl #resetMoreFilters {
    float:right!important;
}


.labelSelected {
    border: 1px solid #49a3df !important;
}

.groupTotal,
.groupName {
    font-weight: bold;
    font-size: 12px;
}

.groupTotal {
    text-align: right;
}


/* for switch; */

.tgl {
    display: none;
}

    .tgl,
    .tgl:after,
    .tgl:before,
    .tgl *,
    .tgl *:after,
    .tgl *:before,
    .tgl + .tgl-btn {
        box-sizing: border-box;
    }

        .tgl::-moz-selection,
        .tgl:after::-moz-selection,
        .tgl:before::-moz-selection,
        .tgl *::-moz-selection,
        .tgl *:after::-moz-selection,
        .tgl *:before::-moz-selection,
        .tgl + .tgl-btn::-moz-selection {
            background: none;
        }

        .tgl::selection,
        .tgl:after::selection,
        .tgl:before::selection,
        .tgl *::selection,
        .tgl *:after::selection,
        .tgl *:before::selection,
        .tgl + .tgl-btn::selection {
            background: none;
        }

        .tgl + .tgl-btn {
            outline: 0;
            display: inline-block;
            width: 4em;
            height: 2em;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .tgl + .tgl-btn:after,
            .tgl + .tgl-btn:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            .tgl + .tgl-btn:after {
                left: 0;
            }

            .tgl + .tgl-btn:before {
                display: none;
            }

        .tgl:checked + .tgl-btn:after {
            left: 50%;
        }

.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

    .tgl-ios + .tgl-btn:after {
        border-radius: 2em;
        background: #fbfbfb;
        -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    .tgl-ios + .tgl-btn:hover:after {
        will-change: padding;
    }

    .tgl-ios + .tgl-btn:active {
        box-shadow: inset 0 0 0 2em #e8eae9;
    }

        .tgl-ios + .tgl-btn:active:after {
            padding-right: .8em;
        }

.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}

    .tgl-ios:checked + .tgl-btn:active {
        box-shadow: none;
    }

        .tgl-ios:checked + .tgl-btn:active:after {
            margin-left: -.8em;
        }

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    font-size: 12px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 4px 18px 4px 8px;
    border-bottom: 1px solid #111;
    font-size: 12px;
}

table.dataTable thead th.sorting_disabled{
    padding: 4px 18px;
}

.jconfirm-content .form-control {
    padding: 2px 3px !important;
    height: 35px !important;
    font-size: 12px;
}
.jconfirm-content .form-group {
    margin-bottom: 15px;
}

    .jconfirm-content .form-group label {
        font-size: 12px;
    }

.jconfirm-content {
    font-size: 12px;
}

    .jconfirm-content legend {
        font-size: 14px;
        margin-bottom: 5px;
        padding: 5px 0;
    }

.jconfirm-title {
    font-size: 15px !important;
    padding-bottom: 0px !important;
    font-weight: bold;
}

.jconfirm-buttons button {
    text-transform: capitalize !important;
}

button.noBg:hover span[class*="icon"],
button.noBg:hover span[class*="fa"],
button.noBg:focus span[class*="icon"],
button.noBg:focus span[class*="fa"] {
    color: #3799dc !important;
}

.cup {
    cursor: pointer;
}

option {
    background: #ffffff !important;
}

span.red {
    color: red;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}

/*tfoot tr {
    height: auto !important;
}*/

tfoot td {
    padding: 0px !important;
    height: auto !important;
    font-style: normal;
    font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #ccc !important;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    border-top: 1px solid #ccc !important;
}

.gridData.ivirMainGrid {
    border-width: 0px 0px 1px 0px !important;
    min-width: inherit !important;
}

.gridData.ivirMainGrid thead th button.rightClickMenuIcn{
    display:none;
    /*position: fixed;*/
}

.gridData.ivirMainGrid thead th:not(.sorting_disabled):hover button.rightClickMenuIcn{
    display: inline-block;
}

.shortMessageWrapper {
    z-index: 99999999 !important;
}


.popover {
    font-size: 11px !important;
    z-index: 9999;
    position: fixed;
}

.popover-content {
    padding: 4px 7px;
    font-size: 11px !important;
}


/* .menu {
    width: 200px;
    background: #000;
    color: #fff;
    position: absolute;
    z-index: 999999;
    display: none;
    box-shadow: 0 0 7px #713C3C;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    cursor: pointer;
    text-decoration: none;
}

.menu ul li {
    padding: 3%;
    font-size: 14px;
    background-color: #fff;
    color: #404040;
}

.menu ul li:hover {
    background-color: #f7f7f7;
}

.ckbox {
    display: inline-block;
    float: right;
    margin-left: 10px;
    color: #1ebb1e;
} */

.menu {
    width: 150px;
    background: #000;
    color: #fff;
    position: absolute;
    z-index: 999999;
    display: none;
    box-shadow: 0 0 3px #713C3C;
}

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .menu ul li {
            cursor: pointer;
            text-decoration: none;
            width: 100%;
            padding: 3%;
            font-size: 14px;
            background-color: white;
            color: #55a9e1;
        }

            .menu ul li:hover {
                background-color: #55a9e1;
                color: white;
            }

                .menu ul li:hover .ckbox {
                    color: white;
                }

.ckbox {
    display: inline-block;
    float: right;
    margin-left: 10px;
    color: #000;
    font-size: 12px;
}

button.rightClickMenuIcn {
    padding: 0px 9px;
}

    button.rightClickMenuIcn span {
        color: black !important;
    }

.task-button span.ivirCButton {
    position: relative;
    font-size: 15px;
}

span.customError {
    display: block;
    margin-bottom: -18px;
}

a[data-toggle=popover] {
    font-size: 10px;
}

.DTFC_LeftFootWrapper {
    border-top: 1px solid;
}

.disabled {
    cursor: no-drop !important;
}

@media (max-width:767px) {
    .dataTables_filter {
        margin: 0px !important;
    }

    #filterWrapper {
        margin-left: 17px;
    }

    .dataTables_paginate.paging_simple_numbers {
        float: right;
        margin: 0px;
    }

    .dataTables_length label select {
        display: inline-block;
        width: auto;
    }
}

.highlightOption {
    background-color: #55a9e1 !important;
    color: white !important;
}

.colorInpGrp {
    padding: 0px;
}

    .colorInpGrp input {
        padding: 0px;
        height: 18px;
        margin: 0px;
        border: 0px;
    }

#ivirHighlightWrapper .sp-replacer.sp-light {
    padding: 0px 0;
    height: 22px;
    width: 20%;
}

#ivirHighlightWrapper .sp-preview {
    margin: 0;
    border-width: 0;
    width: 69%;
}

#ivirHighlightWrapper .sp-dd {
    padding: 3px 2px;
    width: 30%;
}

#ivirbgColorValue, #ivirtxtColorValue {
    display: inline-block;
    width: 80%;
}

.ivirCustomHighlight a {
    color: inherit;
}

.ivirNoDataTag {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

@media(max-width:453px) {

    #ivirCustomContainer .dataTables_paginate {
        margin-top: 5px;
    }
}

.customIcon {
    margin: 4px;
    padding-right: 18px;
}
.btextDir-rtl .customIcon {
   
    padding-right: 0px;
}
.jconfirm-content .row {
    margin: 0 !important;
}

.jconfirm-content textarea.form-control {
    height: auto !important;
}

@media (min-width: 600px) and (max-width: 767px) {
    #ivContainer.interactiveReport #myFiltersLi {
        position: relative !important;
    }

    #filterColumnSelect.filterExixts {
        margin-left: 0 !important;
    }
}

@media (min-width: 480px) and (max-width: 599px) {
    #ivContainer.interactiveReport #myFiltersLi {
        position: relative !important;
    }

    #filterColumnSelect.filterExixts {
        margin-left: 0 !important;
    }
}

@media (min-width: 321px) and (max-width: 479px) {
    #ivContainer.interactiveReport #myFiltersLi {
        position: relative !important;
    }

    #filterColumnSelect.filterExixts {
        margin-left: 0 !important;
    }
}


.btextDir-rtl .jconfirm-content input[type="checkbox"] {
    position:relative;
    margin:0px;
    top: 3px;
}
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.bodyAndFooter-cont .footer-cont{border-top:1px solid #ccc !important;}
.btextDir-rtl .c-button--dropdown:after {right: 4px;}

#btnFilter {
    margin-right:5px;
}
.btextDir-rtl #btnFilter{
    margin-right:5px;
    margin-left: 5px;
}


.btextDir-rtl  #showAllColumns{
        margin-right: -19px;
}
#filterBtn{
    margin-top:-30px;
}
.btextDir-rtl #filterBtn {
    margin-top: 0px;
}

#lnkShowAll{
    display: none; margin: 0px 5px; padding: 0px 0px; width: 30px; min-width: 30px; height: 20px; background-color: #eeeeee; border-radius: 2px; border: 1px solid #dddddd;
}

#requestNextRecords{
    font-size: 17px;
    cursor: pointer;
}