.main {
    background: #aaa url(../images/bg.jpg) no-repeat;
    width: 800px;
    height: 00px;
    margin: 50px auto;
}

.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}

.overlay {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

    .overlay:target {
        display: block;
        opacity: 1;
    }

        .overlay:target + .popup {
            top: 50%;
            opacity: 1;
            display: block;
        }

.arabicoverlay {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

    .arabicoverlay:target {
        display: block;
        opacity: 1;
    }

        .arabicoverlay:target + .popup {
            top: 50%;
            opacity: 1;
            display: block;
        }

.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
    padding-left: 10px;
}

.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 6px 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

    .popup input[type="text"]:hover, .popup input[type="password"]:hover {
        border-color: #555 #888 #888;
    }

    .popup input[type="text"]:focus, .popup input[type="password"]:focus {
        border-color: rgba(82,168,236,0.8);
    }

.popup select:focus, .popup textarea:focus {
    border-color: rgba(82,168,236,0.8);
}

.popup {
    background-color: White;
    height: 480px;
    width: 970px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    display: none;
    font-size: small;
    text-align: justify;
    overflow: auto;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.popup_bg {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=70);
    opacity: .7;
    background-color: #999;
    z-index: 1;
}

.close_button {
    font-size: small;
    font-weight: bold;
    float: right;
    color: #666;
    display: block;
    text-decoration: none;
    border: 2px solid #666;
    padding: 0 3px 0 3px;
}

* {
    font-size: 14px;
}

div.norecords ul#iconsUl a:not(.add):not(.filterBuTTon) {
    display: none !important;
}

div#searchBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#searchBar li a {
    margin: 4px;
    padding: 4px;
    color: #06c;
    width: initial;
}

div#icons li a:not(.noaction), div#icons li.gropuedBtn, div#icons li a.singleaction, div#icons li a.arrButtonsAction {
    display: inline-block;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 2px #f3f3f3;
    margin: 0 3px;
    padding: 1px 4px;
    border-radius: 2px;
    cursor: pointer;
}

div#icons li a#myFilters {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

div#icons li#myFiltersLi {
    display: inline-block;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 2px #f3f3f3;
    margin: 0 3px;
    padding: 1px 4px;
    border-radius: 2px;
}

div#icons li:not(.dropDownLst) {
    display: inline-block;
}

    div#icons li:not(.dropDownLst) a {
        text-decoration: none;
        color: #fff;
    }

div#icons {
    list-style-type: none;
}

    div#icons li.gropuedBtn button {
        padding: 0;
        background: transparent;
        border: 0;
        color: #fff;
        outline: 0;
        box-shadow: none;
        margin: 0;
        cursor: pointer;
        background: #8c8c8c;
        padding: 5px 14px;
        border-radius: 4px;
    }

        div#icons li.gropuedBtn button span {
            position: relative;
            top: 3px;
            left: 5px;
        }

    div#icons li a {
        color: #337ab7;
    }

    div#icons li.gropuedBtn {
        position: relative;
        top: -1px;
    }

[id^='GridView'] a {
    color: #06c;
}

.popup label {
    margin-bottom: 2px;
}

#divtr4 th {
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    color: #fff;
    font-weight: bold;
    padding: 6px 12px;
    position: relative;
}

    #divtr4 th:after {
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    #divtr4 th:first-child {
        border-left: 1px solid #777;
    }

#divtr4 td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 6px 12px;
    position: relative;
    transition: all 300ms;
}

    #divtr4 td:last-child {
        border-right: 1px solid #e8e8e8;
    }

#divtr4 tr {
    background: #607d8b;
}

    #divtr4 tr:nth-child(odd) td {
        background: #efefef;
    }

#rbtnOrder td {
    padding-right: 50px;
}

#rbtnStatus td {
    padding-right: 40px;
}

input#txtSubOrder {
    margin-left: inherit;
}

input#cbLineSpace {
    margin-left: 0;
}

.popup label {
    font-weight: inherit;
}

.popup input[type="text"]:disabled {
    height: 30px;
}

#breadcrumb-panelpopup .glyphicon-remove {
    font-size: 25px;
}

.hover {
    background-color: #eee;
}

.selProperty {
    font-weight: bold;
    font-style: normal;
}

    .selProperty tr {
        height: 18px;
        border-spacing: 5em;
        font-weight: bold;
    }

    .selProperty td, .selProperty th {
        background: white;
        height: 35px;
        border: 1px solid #c3c3c3;
        border-right-width: 0;
    }

    .selProperty a {
        color: black;
        font-weight: bold;
    }

.RowCust {
    font-weight: normal;
    font-style: normal;
    border-collapse: separate;
}

    .RowCust tr {
        height: 18px;
        border-spacing: 5em;
        font-weight: bold;
    }

        .RowCust tr:hover {
            font-style: italic;
        }

    .RowCust td, .RowCust th {
        background: #efefef;
        border: 1px solid #c3c3c3;
        border-left-width: 0;
        border-right-width: 0;
        cursor: pointer;
        height: 35px;
    }

.popLabel {
    Font-Size: Small;
    font-weight: bold;
}

.noHScroll {
    overflow-x: hidden;
    overflow-y: auto;
}

    .noHScroll fieldset {
        padding: 0;
        border-style: none;
        font-size: 100%;
        text-align: left;
    }

    .noHScroll legend {
        padding: 0;
        border-style: none;
        font-size: 90%;
        text-align: right;
        height: 100%;
        border-collapse: collapse;
    }

.HeaderLabel {
    background: #cacaca;
    padding: 3px;
    border-radius: 3px;
    margin: 0;
}

.radioBtnList label {
    width: 10px;
}

#listViewPopUp {
    position: absolute;
    padding: 1px;
    z-index: 1005;
    display: none;
    background-color: #ddd;
    border: 1px solid black;
}

.pnlInner {
    border-color: AliceBlue;
    border-style: ridge;
    border-width: 2px;
}

#breadcrumb-panelpopup .glyphicon-remove {
    right: 6px;
    cursor: pointer;
}

div#searchBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#searchBar li a {
    margin: 4px;
    padding: 4px;
    color: #06c;
    width: initial;
}

div#icons li a:not(.noaction), div#icons li.gropuedBtn, div#icons li a.singleaction, div#icons li a.arrButtonsAction {
    display: inline-block;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 2px #f3f3f3;
    margin: 0 3px;
    padding: 1px 4px;
    border-radius: 2px;
    cursor: pointer;
}

div#icons li a#myFilters {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

div#icons li#myFiltersLi {
    display: inline-block;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 2px #f3f3f3;
    margin: 0 3px;
    padding: 1px 4px;
    border-radius: 2px;
}

div#icons li:not(.dropDownLst) {
    display: inline-block;
}

    div#icons li:not(.dropDownLst) a {
        text-decoration: none;
        color: #fff;
        padding: 6px 10px;
        border-radius: 4px;
    }

div#icons {
    list-style-type: none;
}

    div#icons li.gropuedBtn button {
        padding: 0;
        background: transparent;
        border: 0;
        color: #fff;
        outline: 0;
        box-shadow: none;
        margin: 0;
        cursor: pointer;
        background: #8c8c8c;
        padding: 5px 14px;
        border-radius: 4px;
    }

    div#icons li a {
        color: #337ab7;
    }

    div#icons li.gropuedBtn {
        position: relative;
        top: -1px;
    }

#icons #uldropelements li {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#uldropelements li a:hover, #uldropelements li a:focus, .selectedCV {
    border-left: 5px solid #3382c9 !important;
    background: #ececec !important;
    padding-left: 15px;
    color: black !important;
}

#ivContainer .container {
    margin: 0;
    width: 100%;
}

.popup td {
    font-size: 14px;
}

.popup th, .popup td, .popup caption {
    padding: 2px 10px 2px 1px;
}

.popup label {
    font-size: 14px;
}

.popup input[type=text], .popup input[type=password] {
    font-size: 14px;
    height: 30px;
}

.popup select {
    height: 30px;
    padding-left: 7px;
}

    .popup select:disabled {
        height: 30px;
        padding-left: 7px;
    }

.popup input[type="checkbox"] {
    margin-left: 12px;
}

.popup table, .popup th, .popup td {
    vertical-align: top;
    color: black;
}

.popup a {
    text-decoration: none;
}

a#Columns:focus {
    padding-bottom: 13px;
    padding-top: 4px;
}

a#Conditions:focus {
    padding-top: 4px;
    padding-bottom: 14px;
}

a#NoRepeat:focus {
    /*padding-right: 69.5px;*/
    padding-top: 4px;
    padding-bottom: 14px;
}

a#SortBy:focus {
    padding-top: 4px;
    padding-bottom: 14px;
}

a#SubTotal:focus {
    /*padding-right: 78.5px;*/
    padding-top: 4px;
    padding-bottom: 16px;
}

#txtViewName {
    width: 200px;
}

.btextDir-rtl #searchBar {
    float: right !important;
}

.btextDir-rtl #showRecDetails {
    float: left !important;
}

.btextDir-rtl table.gridData.clonedHtml th {
    text-align: right;
}

#searchBar a:hover {
    background-color: #e8e8e8 !important;
}

#icons li.gropuedBtn:hover {
    background-color: #e8e8e8 !important;
}

#breadcrumb-panel {
    color: rgb(255, 255, 255) !important;
    background: rgb(103, 58, 183) !important;
}
