.sidebar-footer a i{color:#0ba5ea;}
.slide-window i {
    color: #fff;
    padding-left: 0px;
    padding-top: 13px;
    font-size: 22px;
    float: left;
    padding-right: 20px;
}
/* .main-header {
    background: #0097a6;
} */
.logo img {
    height: 66px;
}

.user-panel > a .image > img {
    border-radius: 0px;
    border: 0px;
    margin-left: 5px;
    max-width: 45px;
    margin-top: -10px;
    display: inline-block;
}

.user-panel {
    background: #0097a6;
    padding-top: 0px;
}

.user-panel-title {
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    background: #0097a6;
}

.slide-main-menu {
    height: calc(100vh - 92px);
}

.icon-left-menu {
    background: #033135;
    color: #fff;
    margin-right: 10px;
    font-style: normal;
    font-weight: 600;
    height: 22px !important;
    width: 22px !important;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
}
#globalSearchinp {
    margin-bottom: 0px !important;
}

.sidebar-menu li a span:not(.pull-right-container) {
    position: relative;
    top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    width: calc(100% - 55px);
}

.sidebar-collapse .sidebar {
    overflow-x: visible;
    overflow-y: visible;
}

#nav-searchbox input {
   background: #07757f;
   opacity: 1;
   padding: 0;
   box-shadow: none;
   color: #fff;
   padding-left: 20px;
   border: 0px;
   margin-top: 3px;
   position: relative;
   top: 2px;
   height:35px;
   width: 80%;
   margin: 0 auto;
   display: block;
}

.search-home {
    color: #fff;
    position: relative;
    float: right;
    top: -23px;
    right: 20px;
}

/* .icon-left{background: #033135;
    color: #fff;
    padding: 1px 6px;
    margin-right: 10px;} */
.logo-img {
    margin-bottom: 12px;
}

.top-nav-btn {
    margin-bottom: 40px;
    margin-top: 10px;
}

    .top-nav-btn ul {
        padding: 0px;
        text-align: right;
    }

        .top-nav-btn ul li {
            list-style: none;
            display: inline-block;
        }

            .top-nav-btn ul li a {
                background: #ffffff;
                color: #0097a6;
                padding: 5px 12px;
                border: 1px solid #0097a6;
                border-radius: 6px;
                font-size: 14px;
                margin-right: 5px;
            }

.header-list {
    display:none !important;
    padding: 3px 0px 0px 0px;
    background: #fff;
    display: inline-block;
    margin: 0px 0px;    
    width: 100%;
    border-bottom: 1px solid black;
}

.header-list .linkGray{
    color: gray !important;
}

    .header-list li {
        display: inline-block;
        list-style: none;
    }

        .header-list li i {
            color: #0097a7;
            font-size: 18px;
            margin-right: 15px;
            cursor: pointer !important;
        }

.select-catgory {
    padding: 0px;
}

    .select-catgory li {
        padding: 5px 10px;
        display: block;
    }

        .select-catgory li:hover {
            background: #0097a6;
            color: #fff;
            cursor: pointer;
        }

        .select-catgory li a:hover {
            color: #fff;
        }

.header-list .dropdown button {
    background: #fff;
}

.btn-drop {
    background: #fff !important;
    border: 1px solid #0097a6 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    margin-right: 5px !important;
    color: #0097a6 !important;
    padding: 5px 12px !important;
}

.my-title {
    display: inline-block;
    color: #0097a7;
    font-size: 18px;
}

.wel-msg {
    color: #bcf2f7;
    font-size: 15px;
    padding-right: 10px;
    position: relative;
    top: 5px;
    display: inline-block;
    text-align: right;
    float: right;
}

.logo-main a .image img {
    border-radius: 0px;
    border: 0px;
    margin-left: 5px;
    max-width: 45px;
    margin-top: -10px;
    display: inline-block;
}

.messages-menu i {
    font-size: 18px;
}

.notifications-menu i {
    font-size: 18px;
}

.tasks-menu i {
    font-size: 18px;
}

.head-list {
    padding: 0px;
}

    .head-list li {
        list-style: none;
        padding: 4px;
        height: auto !important;
    }

        .head-list li a {
            color: #7a878e;
        }

        .head-list li:hover {
            background: #00afff;
        }

            .head-list li:hover a {
                color: #fff;
            }

.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 5px;
    margin-top: 10px;
    padding: 3px 8px 5px;
}

.navbar {
    min-height: 40px;
    height: 45px;
}

.theme-box h2 {
    font-size: 20px;
    text-align: center;
    color: #0097a6;
}

.logo-main .brand {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
    margin-top: -4px !important;
}

.theme-box li a {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    display: inline-block !important;
}

.theme-box .bule-theme {
    background: #00b0ff !important;
}

.blue-light-theme {
    background: #6ed3cf !important;
}

.orange-theme {
    background: #ef5350 !important;
}

.purple-theme {
    background: #9e79f6 !important;
}

.yellow-theme {
    background: #ffb943 !important;
}

.dark-blue-theme {
    background: #3a51e6 !important;
}

.gray-theme {
    background: #a7a7a7 !important;
}

.theme-box li {
    list-style: none;
    float: left;
    padding: 2px 4px !important;
}

.theme-box {
    padding: 0px;
}

.panel-container {
    display: flex;
    flex-direction: row;    
    overflow: hidden;
    /* avoid browser level touch actions */
    /*xtouch-action: none;*/
    height: 100%;
}

.split-btn .fa-times {
    color: #fff;
}

.split-btn-vertical .fa-times {
    color: #fff;
}
/* .button-splitter .day-light1 {
    background: #515459;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 9;
    transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transition-delay: 0.1s;
}
.button-splitter .day-light1:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #00ff00;
    border-radius: 100%;
    opacity: 0;
    animation: ripple 1.5s ease-out infinite;
} */
.page-con {
    height: auto;
    font-size: 20px;
    color: #000;
    font-weight: 600px;
    font-variant: 20px;
}

.page-modiniger {
    height: 30px;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    width: 100%;
    min-height: 200px;
    min-width: 150px;
    /* background: #25c5da; */
    color: white;
}

.split-btn {
    float: right;
    margin-bottom: 0px;
    display: none;
    margin-right: 0px;
    position: absolute;
    background: #07757f;
    right: 2px;
    padding: 9px 15px;
    z-index: 555;
    border-radius: 20px;
    box-shadow: 0px 1px 17px 3px #a0a0a0;
    top: 65px;
}

.splitter-wrapper {
    margin: 0px 0px 0px;
    height: calc(100vh - 81px);
}

.splitter {
    flex: 0 0 auto;
    width: 5px;
    background: #e8ecf1 !important ;
    min-height: 200px;
    cursor: col-resize;
  

}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    /*padding: 10px;*/
    width: 100%;
    min-height: 200px;
    background: #eee;
}

.split-btn-vertical {
    float: left;
    margin-right: 0px;
    position: absolute;
    bottom: 20px;
    z-index: 555;
    background: #07757f;
    padding: 9px 15px;
    border-radius: 32px;
    box-shadow: 0px 1px 17px 3px #a0a0a0;
    margin-left:2px;
    display:none;
}

.refresh {
    float: right;
}

.sidebar-collapse .refresh {
    float: left;
    padding: 0 35%;
}

.split-vertical {
    float: right;
    margin-right: 0px;
}

.split-btn-new {
    position: relative;
    top: 5px;
}

/* vertical panel */

.page-container {
    margin: 20px;
}

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 450px;
    border: 1px solid silver;
    overflow: hidden;
    height: 100%;
}

.panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    height: 150px;
    width: 100%;
    white-space: nowrap;
    /*background: #25c5da;*/
    color: white;
    height: 450px;
}

.panel-bottom {
    flex: 0 0 auto;
    padding: 10px;
    height: 150px;
    width: 100%;
    white-space: nowrap;
    color: white;
    height: 717px;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 10px;
    background: url(../img/hsizegrip.png) center center no-repeat #25c5da;
    cursor: row-resize;
}

.panel-left-inner {
    width: 100%;
    height: 100%;
}

.panel-right-inner {
    width: 100%;
    height: 100%;
}

.fa-exchange {
    font-size: 14px !important;
    color: #fff;
}

.fa-sort {
    font-size: 14px !important;
    color: #fff;
}

.fa-arrows-h {
    font-size: 20px !important;
}

.panel-left-inner iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

.panel-right-inner iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

#nav-searchbox input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}

#nav-searchbox input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}


#nav-searchbox input::-webkit-input-placeholder {
 color: #fff;
}

#nav-searchbox input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.fa-qrcode {
    position: relative;
    top: 5px;
}

.navbar-custom-menu .nav > li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 14px;
    display: inline-block;
    left: auto !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    content: '';
}

.navbar-custom-menu .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 14px;
    display: inline-block;
    left: auto !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    content: '';
}

.navbar-nav a span {
    top: 3px !important;
}

.head-list li i {
    margin-right: 5px;
}

.icon-basic-home {
    position: relative;
    top: -2px;
}

.menu-hover .content-wrapper {
    margin-left: 50px;
}

.menu-hover .main-footer {
    margin-left: 50px !important;
}
.logo-main a .titlename{    text-overflow: ellipsis;
    display: inline-block !important;
    width: calc(100% - 98px) !important;
    overflow: hidden;
    white-space: nowrap;}
.logo-main a{width: 350px;}
.header-left {width:100% !important;}
.list-item-container{display:block;}



/*arobic */

.btextDir-rtl .header-left {
    float: right !important;
}

.btextDir-rtl .logo-img {
    float: right;
    margin-right: 20px;
}

.btextDir-rtl .slide-window {
    float: right;
}

.btextDir-rtl .main-sidebar {
    right: 0 !important;
    left: auto;
}

.btextDir-rtl.sidebar-mini.sidebar-collapse .content-wrapper, .btextDir-rtl.sidebar-mini.sidebar-collapse .main-footer, .btextDir-rtl.sidebar-mini.sidebar-collapse .right-side {
    margin-right: 50px;
    margin-left: 0px;
}

.btextDir-rtl .content-wrapper, .btextDir-rtl .main-footer {
    margin-right: 230px;
    margin-left: 0px;
}

.btextDir-rtl .main-footer {
    text-align: right;
}

.btextDir-rtl .skin-green .sidebar-menu > li.header {
    text-align: right;
}

.btextDir-rtl .header-mid {
    float: right;
}

.btextDir-rtl .main-header .navbar-custom-menu, .btextDir-rtl .main-header .navbar-right {
    float: left;
    margin-left: 20px;
}

.btextDir-rtl .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    left: 0;
    right: auto;
}

.btextDir-rtl .navbar-nav > li {
    float: right;
}

.btextDir-rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu, .btextDir-rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
    display: block !important;
    position: absolute;
    width: 180px;
    right: 50px;
}

.btextDir-rtl.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: left !important;
    width: auto !important;
    right: 191px !important;
    top: -22px !important;
    z-index: 900;
    left: auto;
}

.btextDir-rtl .sidebar-menu > li > a {
    padding: 12px 15px 12px 15px;
}

.btextDir-rtl .icon-left-menu {
    margin-right: 0px;
}

.btextDir-rtl {
    direction: rtl;
}

    .btextDir-rtl .split-btn {
        right: auto;
        left: 2px;
    }

    .btextDir-rtl .search-home {
        float: left;
        left: 20px;
        right: auto;
    }

    .btextDir-rtl div .wel-msg {
        margin-right: 22px;
    }

    .btextDir-rtl .head-list {
        text-align: right;
    }

    .btextDir-rtl .sidebar-menu li > a > .pull-right-container {
        left: 10px;
        right: auto;
    }

    .btextDir-rtl .sidebar {
        height: calc(100vh - 65px) !important;
    }

    .btextDir-rtl .fa.pull-right {
        transform: rotate(180deg);
    }

    .btextDir-rtl .header-list {
        text-align: right;
    }

    .btextDir-rtl .refresh {
        float: left;
    }

    .btextDir-rtl.sidebar-collapse .header-list li i {
        margin-right: 0px;
    }

    .btextDir-rtl .head-list li a span {
        margin-right: 10px;
    }

    .btextDir-rtl .navbar .nav > li > .dropdown-menu:after {
        left: auto;
        right: 226px;
    }

    .btextDir-rtl .navbar .nav > li > .dropdown-menu:before {
        left: auto;
        right: 226px;
    }

    .btextDir-rtl.menu-hover .content-wrapper {
        margin-right: 50px !important;
    }

    .btextDir-rtl.menu-hover .main-footer {
        margin-right: 50px !important;
    }

    .btextDir-rtl .header-list li i {
        margin-right: 0px;
        margin-left: 15px;
    }

    .btextDir-rtl.sidebar-collapse .refresh {
        margin-left: -14px;
        float: none;
    }
    .btextDir-rtl aside.main-sidebar {
        left: auto !important;
    right: 0 !important;
}
 .hisItem{padding-right: 10px;}
     .hisItem .selection-main .item-list{display: none;
    position: absolute;
    background: #fff;
    z-index: 9999;
    left: 0px;
    width: 100%;
    border: 1px solid #000;padding-bottom: 10px;height: 350px;
    overflow-y: scroll;}
    .hisItem:hover .selection-main .item-list{display: block;}
    .item-list li{display: block !important;    padding: 8px;
    background: #f6f6f6;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block!important;
    width: calc(100% - 0px);}
    .item-list{padding-left: 0px;}
    .item-list li:hover {background: #00b0ff;color: #fff;}
    .sidebar-collapse .hisItem .selection-main .item-list {top: 64px;left: 50px;width: 200px;}
    ul.histList.item-list li:hover , ul.histList.item-list li:hover a{
       color: #fff;
       cursor: pointer;
    }
   .histList.item-list a {
      color: #000;
    }
   .mobile-search{display:block;}
   .mobile-search.fa-search{color:#fff;}
.header-mid {display:none;}
.mobile-search.fa-search {
    display: inline-block;
    top: 5px;
    position: relative;
    font-size: 16px;
    padding: 10px;
    background: #000;
    right: 30px;
    float: right;
    cursor: pointer;
}
#nav-searchbox{position:relative;z-index:999999;}
.list-item-container {display:block;}
.logout-main{float: right;right: -26px;position: relative;top: 13px;font-size: 17px;}
.logout-main a i{color:#fff;}
.mobile-home{position: relative;right: 108px;float: right;top: 13px;font-size: 18px !important;color: #fff;}
/*arobic*/



/*media Query*/
@media(max-width: 1440px) {

    .main-sidebar {top: 63px !important;}
    
}
@media(max-width: 1366px) {

    .main-sidebar {top: 45px !important;}
    
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
     
}

@media(max-width: 1024px) {
     .main-sidebar {top: 44px !important;}
    .sidebar-menu > li > a {padding: 5px 5px 5px 15px;}
    .sidebar-collapse .sidebar-menu.tree {padding: 0;height: calc(100vh - 112px);}
    .jconfirm .jconfirm-box-container {margin-left: 33%;}
   
   
}

@media (min-width: 769px) and (max-width: 1023px) {
    .jconfirm .jconfirm-box-container {margin-left: 17%;}
}

@media (max-width: 768px){
     /*.main-sidebar {top: -40px !important;}*/
     #btnDownloadAll {top:8%;}
     .jconfirm .jconfirm-box-container {margin-left: 17%;}
}
@media only screen and (min-width:320px) and (max-width:768px)
{
    #breadcrumb-panel {margin-top: 20px;}
    #breadcrumb h3 {font-size:15px !important;}
    .btextDir-rtl.sidebar-open aside.main-sidebar {
    
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.btextDir-rtl aside.main-sidebar {
    -webkit-transform: translate(230px,0);
    -ms-transform: translate(230px,0);
    -o-transform: translate(230px,0);
    transform: translate(230px,0);
}

.btextDir-rtl.sidebar-open .content-wrapper {
   -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.btextDir-rtl .content-wrapper {
    
     -webkit-transform: translate(0px,0);
    -ms-transform: translate(0px,0);
    -o-transform: translate(0px,0);
    transform: translate(0px,0);
}
 .btextDir-rtl aside.main-sidebar {
        left: auto !important;
    right: 0 !important;
}
 .btextDir-rtl .content-wrapper, .btextDir-rtl .main-footer {
    margin-right: 0 !important;
    margin-left: 0px !important;
}
 .sidebar-open .content-wrapper{
      -webkit-transform: translate(0px,0);
    -ms-transform: translate(0px,0);
    -o-transform: translate(0px,0);
    transform: translate(0px,0) !important;
 }
 .header-right {display:none;}
 .split-btn-vertical{display:none;}
 .split-btn{display:none;}
}

@media (min-width: 600px) and (max-width: 767px) {
    .main-header .logo {
        display: none !important;
    }

    .header-left {
        width: 100% !important;
    }

    .header-mid {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .header-right {
        width: 100% !important;
    }

    #nav-searchbox input {
        margin-top: 0px !important;
    }

    .main-header .navbar-custom-menu {
        margin-top: -25px !important;
    }
    #ui-id-1{z-index:9999;}
        #ui-id-1{z-index:9999;}
    .header-mid {display:none;}
    .rowsTxtCount{display:none;}
    #nav-searchbox input {right: 10px;top: -4px;}
    .main-sidebar {top: -35px !important;}
}

@media (min-width: 480px) and (max-width: 599px) {
    .jconfirm .jconfirm-box-container {
    margin-left: 9%;
}
    .main-header .logo {
        display: none !important;
    }

    .header-left {
        width: 100% !important;
    }

    .header-mid {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .header-right {
        width: 100% !important;
    }

    #nav-searchbox input {
        margin-top: 0px !important;
    }

    .main-header .navbar-custom-menu {
        margin-top: -25px !important;
    }
    #ui-id-1{z-index:9999;}
    .header-mid {display:none;}
    .rowsTxtCount{display:none;}
    #nav-searchbox input {right: 10px;top: -4px;}
    .main-sidebar {top: -38px !important;}

    
}

@media (min-width: 321px) and (max-width: 479px) {
    .jconfirm .jconfirm-box-container {
    margin-left: 9%;
}
    .main-header .logo {
        display: none !important;
    }

    .header-left {
        width: 100% !important;
    }

    .header-mid {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .header-right {
        width: 100% !important;
    }

    #nav-searchbox input {
        margin-top: 0px !important;
    }

    .main-header .navbar-custom-menu {
        margin-top: -25px !important;
    }

    /*.btextDir-rtl.sidebar-open .content-wrapper, .btextDir-rtl.sidebar-open .main-footer {
        -webkit-transform: translate(0px,0) !important;
        -ms-transform: translate(0px,0) !important;
        -o-transform: translate(0px,0) !important;
        transform: translate(0px,0) !important;
    }*/
    #ui-id-1{z-index:9999;}
    .header-mid {display:none;}
    .rowsTxtCount{display:none;}
    #nav-searchbox input {right: 10px;top: -4px;}
    .main-sidebar {top: -38px !important;}
    .logo-main a {width: 260px;}
}

@media (max-width: 320px) {
    .jconfirm .jconfirm-box-container {
    margin-left: 9%;
}
    .main-header .logo {
        display: none !important;
    }

    .header-left {
        width: 100% !important;
    }

    .header-mid {
        width: 100% !important;
        padding-right: 0px !important;
    }

    .header-right {
        width: 100% !important;
    }

    #nav-searchbox input {
        margin-top: 0px !important;
    }

    .main-header .navbar-custom-menu {
        display: none;
        margin-top: -25px !important;
    }

    /*.btextDir-rtl.sidebar-open .content-wrapper, .btextDir-rtl.sidebar-open .main-footer {
        -webkit-transform: translate(0px,0) !important;
        -ms-transform: translate(0px,0) !important;
        -o-transform: translate(0px,0) !important;
        transform: translate(0px,0) !important;
    }*/

   #ui-id-1{z-index:9999;}
       .header-right {display:none;}
    .header-mid {display:none;}
    .rowsTxtCount{display:none;}
    #nav-searchbox input {right: 10px;top: -44px;}
    .main-sidebar {top: -38px !important;}
    .logo-main a {width: 260px;}
    .logout-main{right: 30px;top: -4px;}
    .mobile-home {right: 57px;top: 15px;}
     
}
.slide-window,.sidebar{
    display: none !important;
}