body {
    margin: 0px;
    font-size: 14px;
}

.news_title .trr {
    width: 0;
    height: 0;
    position: absolute;
    float: right;
}

.news_title .trr {
    top: 0;
    left: 0;
    border-top: 28px solid transparent;
    border-left: 28px solid white;
}

.insructions_title .tlr {
    width: 0;
    height: 0;
    position: absolute;
}

.insructions_title .tlr {
    top: 0;
    left: 0;
    border-bottom: 28px solid transparent;
    border-left: 28px solid #F8EEB1;
}

.news_title {
    font-weight: bold;
    position: relative;
    padding: 4px 29px;
    width: 10%;
    background-color: #646464;
    color: #fff;
}

    .news_title .tr {
        width: 0;
        height: 0;
        position: absolute;
    }

    .news_title .tr {
        top: 0;
        right: 0;
        border-bottom: 28px solid white;
        border-left: 28px solid transparent;
    }

.insructions_title {
    font-weight: bold;
    text-align: left;
    position: relative;
    padding: 4px 29px;
    background-color: #C7913B;
    color: #fff;
}

    .insructions_title .tl {
        width: 0;
        height: 0;
        position: absolute;
    }

    .insructions_title .tl {
        top: 0;
        right: 0;
        border-top: 28px solid #F8EEB1;
        border-left: 28px solid transparent;
    }


.latest_news {
    background: #fff;
}

.insructions {
    background: #F8EEB1;
}

.latest_news, .insructions {
    width: 100%;
    float: left;
}

.news_title, .morquee, .insructions_title {
    float: left;
}

.morquee {
    font-weight: 500;
}

.latest_news .morquee {
    width: 84%;
    padding: 4px 0px;
}

.insructions .morquee {
    width: 60%;
    padding: 4px 0px;
}

@media (max-width: 1263px) {
    .insructions_title {
        width: 30%;
    }

    .insructions .morquee {
        width: 60%;
    }

    #landing {
        margin-top: 1% !important;
    }
}

@media (max-width: 1166px) {
    .news_title {
        width: 15%;
    }

    .latest_news .morquee {
        width: 74%;
    }

    #landing {
        margin-top: 0% !important;
    }

    .insructions_title {
        width: 35%;
        text-align: left;
    }

    .insructions .morquee {
        width: 50%;
    }
}

@media (max-width: 999px) {
    .news_title {
        width: 16%;
    }

    .insructions_title {
        width: 42%;
        padding: 6px 0px;
    }

    .insructions .morquee {
        width: 58%;
    }

    #landing {
        margin-top: 1% !important;
    }
}

@media (max-width: 850px) {
    .insructions_title {
        width: 50%;
        padding: 5px 0px;
    }

    .insructions .morquee {
        width: 50%;
    }

    #landing {
        margin-top: 1% !important;
    }
}


@media (max-width: 699px) {
    .news_title {
        width: 100%;
        padding: 6px 0px;
        text-align: left;
    }

    .latest_news .morquee {
        width: 100%;
    }

    .insructions_title {
        width: 100%;
        padding: 6px 0px;
    }

    .insructions .morquee {
        width: 100%;
    }

    #landing {
        margin-top: 1% !important;
    }
}
