#searchFields {
    display: inline;
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #e4e4e4;
    position: absolute;
    top: -49px;
    right: 0px;
    z-index: 555;
}

    #searchFields button {
        border: 0px;
        background: none;
    }

.tstructcontent {
    padding: 0px;
    border: 0px !important;
    background: white !important;
}

.dvdcframe {
    margin: 0px !important;
}

    .dvdcframe select {
        width: inherit !important;
    }

.labelcol {
    margin-bottom: 0px !important;
}

#wBdr + div center {
    text-align: left !important;
    margin-top: 4px;
}

.icon-services.bcrumb.left span {
    top: 8px !important;
    left: 5px !important;
    font-weight: normal !important;
}

.row {
    margin: 0px !important;
}

.labelcol {
    float: left;
    height: 100% !important;
    padding: 7px;
}
/*Styles form button*/
.cloudButton {
    overflow: hidden;
    margin: 10px;
    padding: 7px 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 60ms ease-in-out;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 160px;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
}

    .cloudButton:hover {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        opacity: .85;
    }

    .cloudButton:active {
        -webkit-transition: all 60ms ease;
        transition: all 60ms ease;
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
        opacity: .75;
    }

    .cloudButton.-dark {
        color: #FFFFFF;
        /*background: #333030;*/
        background: #444444;
        border: 1px solid #444444;
    }

    .cloudButton.-green {
        color: #FFFFFF;
        background: #5cb85c;
    }

    .cloudButton.-border {
        color: #2b90d9;
        border: 2px solid #2b90d9;
        background: transparent;
    }

        .cloudButton.-border:hover, .cloudButton.-border.-active {
            color: #FFFFFF;
            border-color: #2b90d9;
            background: #2b90d9;
        }

.addMarginBottom {
    margin-bottom: 10px;
}

.section-title h4 {
    text-transform: inherit;
}

.cloudButton.-light {
    /*background: #b9b9b9;*/
    background: #444444;
    /*border: 1px solid #b9b9b9;*/
    border: 1px solid #444444;
    color: white;
    padding: 6px 22px;
}
