/* Global Variable ==================================== */
/* iview mixin ==================================== */
/* page Title ==================================== */
#breadcrumb-panel {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 10px;
}

.btextDir-rtl #breadcrumb-panel {
  padding: 0px 35px;
}

.isMobile .btextDir-rtl #breadcrumb-panel {
  padding: 0px 25px 0px 0px;
}

#breadcrumb-panel #nextprevicons {
  display: none;
}

#breadcrumb-panel .bcrumb {
  height: 43px;
}

.isMobile #breadcrumb-panel .bcrumb {
  padding: 0px 0px 0px 10px;
}

#breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).menuBreadCrumb {
  color: #797878;
  font-size: 12px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: calc(100vw - 125px);
}

.isMobile #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).menuBreadCrumb {
  padding: 0px 0px 0px 5px;
  width: calc(100vw - 23px);
}

#breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivCaption {
  color: #212121;
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin: 0px 0px -3px;
  padding: 4px 0px 0px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

.isMobile #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivCaption {
  width: -moz-calc(100vw - 110px);
  width: -webkit-calc(100vw - 110px);
  width: calc(100vw - 110px);
  font-size: 15px;
  line-height: 25px;
  padding: 0px 0px 0px 5px;
}

#breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  padding: 3px 0px 0px 20px;
}

.isMobile #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  font-size: 16px;
  padding: 10px 0 0 5px;
}

.isMobile.compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  padding: 10px 0 0 20px;
}

.btextDir-rtl #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  padding: 4px 20px 0px 0px;
}

.btextDir-rtl #breadcrumb-panel .bcrumb {
  text-align: right;
}

.isMobile .compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).menuBreadCrumb {
  padding: 0px 0px 0px 18px;
}

.isMobile .compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivCaption {
  padding: 0px 0px 0px 18px;
}

.isMobile .compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  padding: 8px 0px 0px 18px;
}

.btextDir-rtl #backforwrdbuttons {
  float: none;
  background: transparent;
  margin-top: 2px;
  padding-top: 4px;
  position: fixed;
  right: 4px;
}

.btextDir-rtl .navLeft {
  border: 0px;
}

.isMobile .btextDir-rtl.compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).menuBreadCrumb {
  padding: 0px 18px 0px 0px;
}

.isMobile .btextDir-rtl.compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivCaption {
  padding: 0px 18px 0px 0px;
}

.isMobile .btextDir-rtl.compressedModeUI #breadcrumb-panel .bcrumb span:not(.ivirCButton):not(.icon-arrows-down).tstivtitle {
  padding: 8px 18px 0px 0px;
}

.btextDir-ltr #backforwrdbuttons {
  float: none;
  background: transparent;
  margin-top: 2px;
  padding-top: 4px;
  position: fixed;
}

#backtohm {
  display: none;
  float: left;
}

.login .login-main .login-inner h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  padding-top: 10px;
  margin: 0px;
}

.login .login-main .login-inner h2 #lblSignin, .login .login-main .login-inner h2 #spnCpwdHeading {
  position: relative;
  display: block;
  color: #000;
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 5px;
}

#login-box h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  padding-top: 10px;
  margin: 0px;
}

#info-box h2 {
  color: #000;
  text-align: center;
  font-weight: 600;
}

/* page Loader ==================================== */
.animationLoading {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: block;
  position: fixed;
  top: 41px;
  height: 41px;
  z-index: 3;
}

.animationLoading.animationLoadingHide {
  display: none;
}

.animationLoading th, .animationLoading td {
  height: 60px;
  width: 100vw;
  border: 10px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-animation: placeHolderSwept 1s infinite linear forwards;
  -moz-animation: placeHolderSwept 1s infinite linear forwards;
  -o-animation: placeHolderSwept 1s infinite linear forwards;
  animation: placeHolderSwept 1s infinite linear forwards;
  background: #e6e6e6;
  background-image: linear-gradient(to right, #e6e6e6 0%, #d9d9d9 20%, #e6e6e6 40%, #e6e6e6 100%);
  background-repeat: no-repeat;
}

@-webkit-keyframes placeHolderSwept {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@-moz-keyframes placeHolderSwept {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@-o-keyframes placeHolderSwept {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@keyframes placeHolderSwept {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.dataTables_scrollHeadInner th button {
  display: none;
}

#backgroundDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 999999;
}

#backgroundDiv {
  background: url(../Axpimages/loadingBars.gif) center center no-repeat rgba(255, 255, 255, 0.4);
  background-size: 135px;
}

#searchclear {
  display: none;
}

.btextDir-ltr #searchclear {
  position: absolute;
  right: 18px;
  top: 5px;
  bottom: 0;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
}

#spnResponsibilityActions {
  position: absolute;
  margin-top: 10px;
}

#dvPopErrMsg {
  display: none;
}
