   
        .closeSql {
            display: none;
            visibility: hidden;
        }

        .labelcol {
            float: left;
            height: 100% !important;
            padding: 7px;
        }       


      
        #Button1{
            margin:0px;
        }
        #RadioButtonList1{
            display: inline;
        }
        #RadioButtonList1 tr{
            display: inline-block;
            margin-right: 5px;
        }
        #RadioButtonList1 tr input{
            position: relative;
            top: 1px;
        }
        #Label1{
            display:none;
        }
        #showHideSQlBtn{
            margin:10px 0px 10px 10px;
        }
        #iBtnClick{
            font-size: 18px;
            font-weight: bold;
    margin-right: 5px;
    color: black;
        }
        #showHideSQlBtn{
                background: transparent;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 1px #c7c7c7;
        }
   

