/**
 * Theme framework entry point "themes.scss" which imports theme framework and theme modules for automating themes generation
 * @author Prashik
 * @Date   2021-03-10
 */
.mixed-theme {
  background: #f7f9fc;
}

.mixed-theme:not(.overlay-open) .navbar {
  background-color: #fff;
}

.mixed-theme .navbar {
  background-color: #233044;
}

.mixed-theme .navbar .navbar-right-panel .navbar-nav > li#userProfile ul li a span#userNameIcon {
  background: #5777a9;
  color: white;
}

.mixed-theme .navbar .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f2f2f2;
}

.mixed-theme.enableExpandCollapse .navbar-right-panel {
  background-color: #fff;
}

.mixed-theme.enableExpandCollapse .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f2f2f2;
}

.mixed-theme .navbar-brand {
  color: white;
}

.mixed-theme .bars {
  color: white;
}

.mixed-theme .sidebar {
  background: #233044;
}

.mixed-theme .sidebar .menu .list a {
  color: #999999;
}

.mixed-theme .sidebar .menu .list a span {
  color: white;
}

.mixed-theme .sidebar .legal {
  background: #202b3d;
}

.mixed-theme .sidebar .legal .copyright span {
  color: white;
}

.mixed-theme .sidebar .legal .copyright span a {
  color: white;
}

.mixed-theme .search-bar input[type="text"] {
  background: #f7f7f7;
}

.mixed-theme .dataTables_wrapper .dt-buttons {
  background: #5777a9;
}

.mixed-theme .sidebar .user-info {
  background: #5777a9;
}

.mixed-theme .table thead tr th {
  background: #fff;
}

.mixed-theme .table tbody tr td.isHyperlinkUI a {
  color: #1976d2;
}

.mixed-theme #breadcrumb-panel {
  background: #f7f9fc;
}

.mixed-theme .dvdcframe {
  background: #fff;
}

.mixed-theme .dvdcframe .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #f4f4f4;
}

.mixed-theme:not(.borderInput) .mainIframe input:focus, .mixed-theme:not(.borderInput) .mainIframe select:focus, .mixed-theme:not(.borderInput) .mainIframe textarea:focus {
  border-bottom: 2px solid #1976d2;
}

.mixed-theme:not(.borderInput) .mainIframe input.form-control[disabled], .mixed-theme:not(.borderInput) .mainIframe input.form-control[readonly], .mixed-theme:not(.borderInput) .mainIframe input fieldset[disabled] .form-control, .mixed-theme:not(.borderInput) .mainIframe select.form-control[disabled], .mixed-theme:not(.borderInput) .mainIframe select.form-control[readonly], .mixed-theme:not(.borderInput) .mainIframe select fieldset[disabled] .form-control, .mixed-theme:not(.borderInput) .mainIframe textarea.form-control[disabled], .mixed-theme:not(.borderInput) .mainIframe textarea.form-control[readonly], .mixed-theme:not(.borderInput) .mainIframe textarea fieldset[disabled] .form-control {
  color: #d0d0d0;
}

.mixed-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 input:focus, .mixed-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 select:focus {
  border-bottom: 2px solid #1976d2;
}

.mixed-theme .bs-example .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #f4f4f4;
}

.mixed-theme .adminMain .adminMainLeft {
  background: #233044;
}

.mixed-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-caption {
  color: white;
}

.mixed-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-icon {
  color: #999999;
}

.mixed-theme .adminMain .adminMainLeft .adminLeftMenu ul li .devsubmenu {
  background: #233044;
}

.dark-theme {
  background: #f7f9fc;
}

.dark-theme:not(.overlay-open) .navbar {
  background-color: #1976d2;
}

.dark-theme .navbar {
  background-color: #233044;
}

.dark-theme .navbar .navbar-right-panel .navbar-nav > li#userProfile ul li a span#userNameIcon {
  background: #5777a9;
  color: white;
}

.dark-theme .navbar .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #1669bb;
}

.dark-theme.enableExpandCollapse .navbar-right-panel {
  background-color: #1976d2;
}

.dark-theme.enableExpandCollapse .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #1669bb;
}

.dark-theme .navbar-brand {
  color: white;
}

.dark-theme .bars {
  color: white;
}

.dark-theme .sidebar {
  background: #233044;
}

.dark-theme .sidebar .menu .list a {
  color: #999999;
}

.dark-theme .sidebar .menu .list a span {
  color: white;
}

.dark-theme .sidebar .legal {
  background: #202b3d;
}

.dark-theme .sidebar .legal .copyright span {
  color: white;
}

.dark-theme .sidebar .legal .copyright span a {
  color: white;
}

.dark-theme .search-bar input[type="text"] {
  background: #f7f7f7;
}

.dark-theme .dataTables_wrapper .dt-buttons {
  background: #5777a9;
}

.dark-theme .sidebar .user-info {
  background: #5777a9;
}

.dark-theme .table thead tr th {
  background: #fff;
}

.dark-theme .table tbody tr td.isHyperlinkUI a {
  color: #1976d2;
}

.dark-theme #breadcrumb-panel {
  background: #f7f9fc;
}

.dark-theme .dvdcframe {
  background: #fff;
}

.dark-theme .dvdcframe .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #176bbf;
}

.dark-theme:not(.borderInput) .mainIframe input:focus, .dark-theme:not(.borderInput) .mainIframe select:focus, .dark-theme:not(.borderInput) .mainIframe textarea:focus {
  border-bottom: 2px solid #1976d2;
}

.dark-theme:not(.borderInput) .mainIframe input.form-control[disabled], .dark-theme:not(.borderInput) .mainIframe input.form-control[readonly], .dark-theme:not(.borderInput) .mainIframe input fieldset[disabled] .form-control, .dark-theme:not(.borderInput) .mainIframe select.form-control[disabled], .dark-theme:not(.borderInput) .mainIframe select.form-control[readonly], .dark-theme:not(.borderInput) .mainIframe select fieldset[disabled] .form-control, .dark-theme:not(.borderInput) .mainIframe textarea.form-control[disabled], .dark-theme:not(.borderInput) .mainIframe textarea.form-control[readonly], .dark-theme:not(.borderInput) .mainIframe textarea fieldset[disabled] .form-control {
  color: #d0d0d0;
}

.dark-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 input:focus, .dark-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 select:focus {
  border-bottom: 2px solid #1976d2;
}

.dark-theme .bs-example .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #176bbf;
}

.dark-theme .adminMain .adminMainLeft {
  background: #233044;
}

.dark-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-caption {
  color: white;
}

.dark-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-icon {
  color: #999999;
}

.dark-theme .adminMain .adminMainLeft .adminLeftMenu ul li .devsubmenu {
  background: #233044;
}

.light-theme {
  background: #f7f9fc;
}

.light-theme:not(.overlay-open) .navbar {
  background-color: #1976d2;
}

.light-theme .navbar {
  background-color: #233044;
}

.light-theme .navbar .navbar-right-panel .navbar-nav > li#userProfile ul li a span#userNameIcon {
  background: #5777a9;
  color: white;
}

.light-theme .navbar .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #1669bb;
}

.light-theme.enableExpandCollapse .navbar-right-panel {
  background-color: #1976d2;
}

.light-theme.enableExpandCollapse .navbar-right-panel #navbar-collapse .navbar-nav > li > a:hover {
  background-color: #1669bb;
}

.light-theme .navbar-brand {
  color: white;
}

.light-theme .bars {
  color: white;
}

.light-theme .sidebar {
  background: #233044;
}

.light-theme .sidebar .menu .list a {
  color: #999999;
}

.light-theme .sidebar .menu .list a span {
  color: white;
}

.light-theme .sidebar .legal {
  background: #202b3d;
}

.light-theme .sidebar .legal .copyright span {
  color: white;
}

.light-theme .sidebar .legal .copyright span a {
  color: white;
}

.light-theme .search-bar input[type="text"] {
  background: #f7f7f7;
}

.light-theme .dataTables_wrapper .dt-buttons {
  background: #5777a9;
}

.light-theme .sidebar .user-info {
  background: #5777a9;
}

.light-theme .table thead tr th {
  background: #fff;
}

.light-theme .table tbody tr td.isHyperlinkUI a {
  color: #1976d2;
}

.light-theme #breadcrumb-panel {
  background: #f7f9fc;
}

.light-theme .dvdcframe {
  background: #fff;
}

.light-theme .dvdcframe .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #176bbf;
}

.light-theme:not(.borderInput) .mainIframe input:focus, .light-theme:not(.borderInput) .mainIframe select:focus, .light-theme:not(.borderInput) .mainIframe textarea:focus {
  border-bottom: 2px solid #1976d2;
}

.light-theme:not(.borderInput) .mainIframe input.form-control[disabled], .light-theme:not(.borderInput) .mainIframe input.form-control[readonly], .light-theme:not(.borderInput) .mainIframe input fieldset[disabled] .form-control, .light-theme:not(.borderInput) .mainIframe select.form-control[disabled], .light-theme:not(.borderInput) .mainIframe select.form-control[readonly], .light-theme:not(.borderInput) .mainIframe select fieldset[disabled] .form-control, .light-theme:not(.borderInput) .mainIframe textarea.form-control[disabled], .light-theme:not(.borderInput) .mainIframe textarea.form-control[readonly], .light-theme:not(.borderInput) .mainIframe textarea fieldset[disabled] .form-control {
  color: #d0d0d0;
}

.light-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 input:focus, .light-theme:not(.borderInput) #ivParamTable tbody tr td .paramtd2 select:focus {
  border-bottom: 2px solid #1976d2;
}

.light-theme .bs-example .newgridbtn ul li:not(.dropdown-menu > li) .dropdown-menu li:hover {
  background-color: #176bbf;
}

.light-theme .adminMain .adminMainLeft {
  background: #233044;
}

.light-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-caption {
  color: white;
}

.light-theme .adminMain .adminMainLeft .adminLeftMenu ul li a .setting-icon {
  color: #999999;
}

.light-theme .adminMain .adminMainLeft .adminLeftMenu ul li .devsubmenu {
  background: #233044;
}
