
.picklist.input-group {
    width: 100%;
}
.ui-widget{position:relative;}
.ui-widget.ui-widget-content {
    max-height: 170px;
    overflow-y: auto;
    min-width: 221px !important;
    margin-bottom: 25px;
    z-index: 9999999;
    min-height: 40px;
    overflow-x: hidden;
    position:absolute;
}

.ui-state-active {
    width: 100%;
}

.ui-autocomplete .ui-state-active {
    /*color: #0073ea !important;*/
    color: #ffffff !important;
    background: #0073ea !important;
}

.ui-widget {
    font-family: 'Lato',sans-serif !important;
    font-size: 13px;
}

.searchico {
    background: #fff;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ccc;
    border-top: 0px;
}

.leftico {
    float: left;
    padding: 5px;
}

.icon:hover {
    color: #0e0e0e;
}

.rightico {
    float: right;
    padding: 5px;
}

i.fa.fa-angle-down {
    position: absolute;
    font-size: 22px;
    color: #676262;
    margin-top: -26px;
    margin-left: 440px;
    opacity: 0;
}

    i.fa.fa-angle-down:hover {
        position: absolute;
        font-size: 19px;
        color: #a2a2a2;
        margin-top: -26px;
        margin-left: 440px;
        opacity: 1;
    }

div.name {
    background-color: #fdfafa;
    border-top: 0px !important;
    border: 1px solid #ccc;
    width: 100%;
    height: 32px;
}

i.icon.icon-arrows-down {
    margin-left: 325px;
    margin-top: 34px;
    font-size: 17px;
    color: #312f2f;
    position: absolute;
}

.reload {
    display: inline-block;
    left: 16px;
    text-align: left;
    padding: 5px;
    color: #a2a1a1;
    font-size: 13px;
    font-weight: 100;
    width: 36%;
}
.btextDir-rtl .reload {
    text-align: right;

}

.asearch {
    color: #ffad13;
}

.easy-autocomplete-container ul {
    margin-bottom: 0;
}

.right.ico {
    margin-top: 2px;
}

i.icon.icon-arrows-left {
    cursor: pointer;
}

i.icon.icon-arrows-right {
    cursor: pointer;
}

i.icon.icon-arrows-down:hover {
    color: #000;
}


/*new ddl design*/
.leftico.ico {
    color: #a2a1a1;
    font-size: 13px;
    font-weight: 100;
}

.rightico {
    color: #a2a1a1;
    font-size: 13px;
    font-weight: 100;
}



.name {
    height: 24px !important;
}


.autoinput-parent {
    position: relative;
    display: block;
}

    .autoinput-parent:hover .edit {
        display: block;
    }
 .autoinput-parent .virtualKeyboard i{
    top: 1px;
    color: black;
    padding: 3px;
    font-size: 16px;
    position: absolute;
    right: 0;
    margin-right: 35px;
    display:none;
    z-index:11;
    }
    .autoinput-parent:hover .virtualKeyboard i{
    display: inline-block;
    cursor: pointer;
    }
    .autoinput-parent .virtualKeyboard i.green{
        color:green;
    }

.edit {
    padding-top: 5px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    display: none;
}

i.glyphicon.glyphicon-chevron-down {
    color: #a2a1a1;
    font-size: 13px;
    cursor: pointer;
}

.ui-autocomplete .ui-state-active {
    border: none !important;
    font-weight: normal !important;
    font-size: inherit !important;
    margin: 0px !important;
}

.ui-autocomplete .ui-menu-item-wrapper {
    padding: 3px 0.4em 3px 0.4em !important;
}

.leftico .glyphicon, .reload .glyphicon, .rightico .glyphicon {
    cursor: pointer;
}

    .leftico .glyphicon.disabled, .reload .glyphicon.disabled, .rightico .glyphicon.disabled {
        cursor: no-drop;
    }

.form-control {
    border-radius: 4px !important;
}

.autoclear {
    padding-top: 6px;
    padding-right: 22px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    z-index: 4;
    color: #ccc;
    display: none;
}
.advsearchexist.autoclear{
    padding-right: 33px;
}

i.glyphicon.glyphicon-remove {
    color: #a2a1a1;
    cursor: pointer;
    padding-top: 2px;
}

.autoinput-parent:hover .autoclear {
    display: inline-block;
    cursor: pointer;
}

.fldAutocomplete:focus + .autoclear, .fldAutocomplete:focus + .autoclear + .edit {
    display: inline-block;
    cursor: pointer;
}


input:focus .autoclear {
    display: inline-block;
    cursor: pointer;
}

div#wBdr input.fldAutocomplete {
    font-size: 12px !important;
    padding-right: 30px !important;
}
.btextDir-rtl div#wBdr input.fldAutocomplete {
    padding-right: 5px !important;
    padding-left: 30px !important;
}

div#wBdr .btextDir-rtl input.fldAutocomplete {
    padding-right: 5px !important;
    padding-left: 30px !important;
}

.glyphicon.footerActive {
    color: #0073ea !important;
}


.form-control::-ms-clear {
    display: none !important;
}

.addOption {
    float: left;
    font-size: 13px;
    font-weight: 100;
    padding: 0px;
    padding-top: 4px;
    padding-left: 3px;
}

.btextDir-rtl .autoclear {
    left: -4px;
    right: auto;
    padding-left: 22px;
}

.btextDir-rtl .edit {
    right: auto;
    left: 4px;
}


.btextDir-rtl .icon-services.bcrumb.left {
    text-align: right !important;
}

.btextDir-rtl .icon-services.bcrumb.left span {
    left: auto !important;
    right: 23px;
}

#ui-datepicker-div {
    min-width: 225px !important;
    min-height: 211px !important;
}

.autoinput-parent.opened::after {
    content: "\e031";
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    color: #706f6f;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: spin 2s linear infinite;
    z-index: 99;
}

.btextDir-rtl .autoinput-parent.opened::after {
  left:5px;
  right:auto;
}

.autoinput-parent.opened .autoclear {
    display: none !important;
}

.autoinput-parent.opened .edit {
    display: none !important;
}

.autoinput-parent.opened input{
    background: #eeeeee;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
i.glyphicon.glyphicon-search.fldavdsearch {
    color: #a2a1a1;
    font-size: 11px;
    position: relative;
    top: -1px;
    right: -2px;
    cursor:pointer;
}
.btextDir-rtl i.glyphicon.glyphicon-search.fldavdsearch{margin-right:15px;}
.checklistfooter .tokenSelectAll{
    top:2px;
    position:relative;
}

