
input.form-control, select.form-control {
    width: 100% !important;
    border: 1px solid #a6cff3 !important;
}

.input-group-addon {
    padding: 4px 12px;
}

#wBdr {
    padding: 0px 16px;
}


.form-group > label {
    color: #337ab7;
}



form#pagebdy {
    margin-top: 5px;
}


#divmainheader .icon-services.bcrumb {
    margin-left: 30px !important;
}

#divmainheader {
    background-color: #337ab7;
}

.selectOverLay {
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 55px;
    margin-left: -15px;
}

.form-group, .form-control[disabled], fieldset[disabled] .form-control, .form-group label {
    cursor: pointer;
}

.disableToolIcon {
    opacity: 0.5;
}

.fixHeaderTable tbody {
    height: 300px;
}

[id^='gridHd'] thead th:hover {
    cursor: pointer !important;
}

div#dvToolbar a:hover {
    text-decoration: none !important;
}

div#dvToolbar .row {
    display: inline-block;
    margin-right: 5px !important;
}

div#dvlayout {
    margin-left: 0px !important;
    position: relative;
    height: -webkit-calc(100vh - 85px);
    height: -moz-calc(100vh - 85px);
    height: -o-calc(100vh - 85px);
    height: calc(100vh - 85px);
}

#dvToolbar {
    padding-left: 5px;
}

textarea {
    resize: none;
}

[id^='gridHd'] thead th button.eyeBtn {
    float: right;
    background: none;
    border: 0px;
    color: white;
    font-size: 16px;
}

[id^='gridHd'] thead th div {
    display: inline-block;
}

.glyphicon-resize-small, .glyphicon-resize-horizontal {
    font-size: 25px !important;
}
[data-isVisible="false"] label,[data-isVisible="false"] .allowempty {
    color: #d8d7d7;
}

[data-isVisible="false"] input.form-control,[data-isVisible="false"] select.form-control {
   border:1px solid #eeeeee !important;
}

.form-group .gridChkSpan {
    color: #337ab7;
    padding-left: 5px;
    vertical-align: middle;
}

#containerDc div[id^=GridAttach], #bootstrapModalData div[id^=GridAttach] {
    min-height: 30px;
}


/*Toggle Start*/
.tgl {
display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
	background: 0;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
	background: 0;
}

.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 50px;
	height: 25px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}

.tgl + .tgl-btn:after {
	left: 0;
}

.tgl + .tgl-btn:before {
	display: none;
}

.tgl:checked + .tgl-btn:after {
	left: 50%;
}

.tgl-ios + .tgl-btn {
background: #eeeeee;
border-radius: 2em;
padding: 2px;
-webkit-transition: all .4s ease;
transition: all .4s ease;
border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after {
	border-radius: 2em;
	background: #fbfbfb;
	-webkit-transition: left .3s cubic-bezier(0.175,0.885,0.32,1.275),padding .3s ease,margin .3s ease;
	transition: left .3s cubic-bezier(0.175,0.885,0.32,1.275),padding .3s ease,margin .3s ease;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 4px 0 rgba(0,0,0,0.08);
}

.tgl-ios + .tgl-btn:hover:after {
	will-change: padding;
}

.tgl-ios + .tgl-btn:active {
	box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
	padding-right: .8em;
}

.tgl-ios:checked + .tgl-btn {
background: #fcac45;
}

.tgl-ios:checked + .tgl-btn:active {
	box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
	margin-left: -.8em;
}

.setTitle {
    position: relative;
    top: -12px;
    margin-right: 10px;
}

.ms-container .ms-list {
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
}
.btextDir-rtl .tgl:checked + .tgl-btn:after {
    right: 50%;
    left: 0%;
}
/*tgl-ios + .tgl-btn {
    box-shadow: inset 0 0 0 2em #e8eae9;
}*/

button.gridEditDeleteBtns {
    background: none;
    outline: 0px;
    border: 0px;
    width: 17px;
    padding: 1px;
}

    button.gridEditDeleteBtns:focus .glyphicon-pencil {
        color: #00b2ff !important;
        /* border: 1px solid red; */
    }

    button.gridEditDeleteBtns:focus .glyphicon-remove {
        color: red !important;
        /* border: 1px solid red; */
    }

.fastAutSpin {
    position: absolute;
    bottom: 8px;
    right: 22px;
}

[id^='wrapperForEditFields'] .customHide {
    display: none !important;
}


/*.ui-widget.ui-widget-content {
    height: 200px;
    overflow: auto;
}

.ui-state-active {
    width: 100%;
}

.ui-autocomplete .ui-state-active {
    color: #0073ea !important;
}

.ui-widget {
    font-family: 'Lato',sans-serif !important;
    font-size: 13px;
}*/
span.ShowPopDc {
    position: absolute;
    top: 4px;
    margin-left: 5px;
}

#icons .dropdown-menu li.liTaskItems {
    width: 100%;
}

#icons .dropdown-menu a.TaskItems {
    width: 100%;
    margin: 0px !important;
    border: none !important;
    padding-left: 10px !important;
    box-shadow: 0px 0px #fff !important;
    border-radius: 0px !important;
}


#icons li.dropdown a#tasks:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.pointerclass tr:not(.disableTheRow), .pointerclass tr:not(.disableTheRow) textarea {
    cursor: auto !important;
}

#backforwrdbuttons {
    z-index: 1000;
}

.form-group .gridChkSpan {
    padding-left: 5px;
    vertical-align: middle;
}

#containerDc div[id^=GridAttach], #bootstrapModalData div[id^=GridAttach] {
    min-height: 30px;
}


#dvFillGrid .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: initial;
    min-width: 1.5em;
    padding: 0px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

#dvFillGrid .dataTables_wrapper .dataTables_paginate {
    margin-top: -0.75em;
}

.btextDir-rtl .nextPrevBtns {
    float: left !important;
    right: auto !important;
    left: 43px;
}

.nextPrevBtns a {
    background: none;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 1px #c1c1c1;
    padding: 2px 3px;
    color: #0483ad;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
}

    .nextPrevBtns a[disabled] {
        color: black !important;
        cursor: not-allowed;
        font-size: 14px;
    }

/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
   
     border: 0px solid #fff; 
   
}*/
.nextPrevBtn {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

a#lnkPrev.disabled, a#lnkNext.disabled {
    cursor: not-allowed !important;
    outline: none !important;
}

.btextDir-rtl .picklisttxtclear.icon-arrows-remove {
    right: auto !important;
    left: 39px !important;
}
.btextDir-rtl #searchoverrelay .panel-heading a {
    float: left !important;
}

span.fa.fa-paperclip::before {
    content: '' !important;
}

span.fa.fa-paperclip {
    background-image: url('../images/upload.png');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}
.btextDir-rtl .footerRowCount {
    direction: ltr;
}

span.fa.fa-paperclip:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: -moz-focus-ring-color auto 5px !important;
    outline: -o-focus-ring-color auto 5px !important;
    outline: -ms-focus-ring-color auto 5px !important;
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: 1px dotted;
}

.grdButtons .dropdown button.btn.btn-primary.dropdown-toggle {
    margin: 3px;
}
table[id^=tblFillGrid] {
    width: 100% !important;
}

.hiddenTableColumn {
    display: none !important;
}

.btextDir-rtl #myTab li a {
    margin-left: 6px;
}


.AVerror {
    padding: .5em;
    border: 2px solid #ddd
    width:100%;
    margin: 20px 10px;
    display: block;
}

.AVerror {
    background: #fbe3e4 url(../axpimages/icons/24x24/error.png) no-repeat 5px 6px;
    color: #8a1f11;
    border-color: #fbc2c4;
    padding: 7px 35px 7px
}

    .AVerror a {
        color: #1b5258;
        cursor: pointer;
    }

.imgfocus:focus {
    outline: 1px solid #0ab3ff;
}

.imgoutline:focus {
    outline: none;
}

/*Inline grid edit - grid attachments file count popover css*/
.attachment-count .popover, .popover-content.grd-attach-popover-content {
    background-color: white !important;
    margin-top:2px;
}

    .attachment-count .popover.left > .arrow:after {
        border-left-color: #fff;
    }
/*ck EDITOR*/
.cke_dialog_ui_vbox.cke_dialog_page_contents{
        height: 70vh;
}
.cke_dialog_ui_vbox.cke_dialog_page_contents .cke_dialog_ui_hbox.cke_dialog_image_url{
    display:none;
}



.tstructDesignMode .grid-stack > .grid-stack-item.ui-draggable-dragging > .grid-stack-item-content, .grid-stack > .grid-stack-item.ui-draggable-dragging > .grid-stack-item-content, .grid-stack > .grid-stack-item.ui-resizable-resizing > .grid-stack-item-content, .grid-stack > .grid-stack-item.ui-resizable-resizing > .grid-stack-item-content {
    box-shadow: none;
    border: 1px dashed #c7c7c7;
    margin-bottom: 0 !important;
}
.tstructDesignMode #wBdr .grid-stack .grid-stack-placeholder > .placeholder-content {
    background: #fffca240 !important;
}
.tstructDesignMode #wBdr .ui-draggable .grid-stack-item-content.ui-draggable-handle:not(.form-group){
    z-index: 100000000 !important;
    cursor: move;
}
.tstructDesignMode .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
    z-index: 100000001 !important;
}
.tstructDesignMode #wBdr{
    background:url(../images/b3.png);
}

div#visibleMobile ul li{
    padding-left:5px !important;
}
div#visibleMobile ul{
    height: 25px !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
    padding-left:12px !important;
}
