.focusTheField, .form-control:focus, .ms-container .ms-list:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px rgba(102,233,214,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(110,211,207,.44) !important;
}

.focusTheField, .form-control:focus {
    outline: 0 !important;
}

.header .navbar-inner {
    background: #0097a7 !important;
}

span#goback {
    color: #fff !important;
}

button.icon-cog.icon-basic-gear {
    color: #fff;
    background: 0;
}

.icon-services.bcrumb.left {
    color: #fff !important;
    background: #00bcd4 !important;
}

.appGlobalParams {
    color: #fff;
}

.header .nav .dropdown-toggle:hover, .header .nav .dropdown.open .dropdown-toggle {
    background: #00bcd4 !important;
    opacity: .8;
}

#moduleSelector:focus {
    border: 1px solid #00bcd4 !important;
}

#moduleSelector {
    background: #2ec8dc;
    color: #fff !important;
    border: 1px solid #c7c7c7;
}

.ui-autocomplete .ui-state-active {
    color: #000 !important;
    background: #e0f2f1 !important;
}

#header {
    background-color: #fff;
}

#navbar {
    border-top: 1px #e0f2f1 solid;
}

.navbar {
    background: #00bcd4;
}

#breadcrumb a, #breadcrumb-panel, .wizard-progress .step.complete:before, #chartSelData .selectedIcon {
    background: #00bcd4 !important;
}

.wizard-progress .step.in-progress:before {
    background: #00bcd4 !important;
    background: -moz-linear-gradient(left,#00bcd4 0,#fff 100%) !important;
    background: -webkit-linear-gradient(left,#00bcd4 0,#fff 100%) !important;
    background: linear-gradient(to right,#00bcd4 0,#fff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bcd4',endColorstr='#fff',GradientType=1);
}

.wizard-progress .step.in-progress .node, #chartSelData a.selected .card {
    border-color: #00bcd4;
}

.wizard-progress .step.complete .node, .AXpaginationWrapper .pageNumberBtn.active {
    border-color: #00bcd4;
    background-color: #00bcd4;
}

input.themeInp:focus, textarea.themeInp:focus {
    border-bottom: 1px solid #00bcd4 !important;
    box-shadow: 0 1px 0 0 #00bcd4 !important;
}

.MainMenu {
    color: #FFF;
}

#prouct-name {
    color: #000;
}

#breadcrumb-panel {
    COLOR: #fff !important;
    background: #00bcd4 !important;
}

#breadcrumb span {
    color: #fff;
}

.tstruct-content {
    background-color: #FFF;
}

.pickbg {
    background: #bac1cd;
}

.gridData tr.grey1 {
    background-color: #EEE;
}

.gridData th span {
    color: #C00;
}

.gridData .borderRight {
    border-right: 1px solid #CCC;
}

.grid-icons {
    background: #f8f8f8;
}

.button {
    color: #FFF;
}

.tstructclose-button {
    background: gray;
}

.arrow-down, .arrow-up {
    color: #666;
}

.gridData th a {
    color: #000;
}

    .gridData th a:hover {
        color: #666;
    }

.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121 !important;
}

#divAppearanceLeft {
    background-color: #bac1cd;
}

    #divAppearanceLeft image {
        border: 1px solid #d5d5d5;
    }

#backgroundDiv {
    background-color: #d3d3d3;
}

.divFilter {
    color: #333;
}

.listViewDc {
    background-color: #fff;
    border-color: #bac1cd;
}

.tstcap {
    color: #000;
}

.dvFoot, .dvadminheader {
    color: #666;
}

#refreshFilter, #tdAdvSrch, .dvadminsubheader {
    color: #fff;
}

.dvFoot {
    background-color: #bac1cd;
    border: 1 solid #bac1cd;
}

#searchInput, select {
    border: 1px solid #b8b8b7;
}

.backbutton {
    background: 0;
}

#leftPanel {
    color: #666;
}

.containerDc {
    background: #f8f8f8;
}

.ui-dialog .ui-dialog-titlebar {
    background-color: #00bcd4;
}

.breadcrumb-panel, .leftPartAC .panelHeading {
    background: #2ec8dc !important;
    color: #fff;
}

.divcontainer {
    background: #efefef;
}

.divcont {
    background: #fff;
}

#dvInfo {
    color: #484848;
}

#btnShowCond {
    color: #00bcd4;
}

#btnExport, #btnImport, #btnView, .btnExpImp, .btnwfsavenew, .ivcaptions {
    color: #fff;
}

.btnExpImp {
    background: #9c9c9c;
}

#New, #btnClearimp, .btncancel, .btnwfcancel {
    background: #707070;
    color: #fff;
}

#btnExport {
    background: #00bcd4;
}

table.gridData.clonedHtml th {
    border: 1px solid #eee;
}

.leftPartAC ul.listUl li a:hover {
    color: #000 !important;
    background: #e0f2f1 !important;
}

.form-control:focus {
    border-color: #00bcd4 !important;
}

#leftMenuToggleBtn, .colorIcon, span#dashBoardIcon, span#homeIcon, #wizarTypeSel a.iconAnchr:hover, #wizarTypeSel a.iconAnchr:focus, .wizard-progress .step.active a, button.iconBtn.nextPrevBtn {
    color:#21b7a7 !important;
}

.impExpHis li.active a, .leftPartACHeader .dropdown-menu li.active a {
    background: #00bcd4 !important;
    color: #fff !important;
}

#wrapperForSearch .closeGLSearch {
    color: #20bbab !important;
    opacity: 1;
}

.impExpHis li.dropdown ul.dropdown-menu li a:hover, .leftPartACHeader .dropdown-menu li a:hover {
    color: #000 !important;
    background: #e0f2f1 !important;
}

.search-button {
    color: #439c99 !important;
}

.hotbtn, .hotbtntiny {
    color: #FFF !important;
    background: #009688 !important;
    border: 0 !important;
}

#breadcrumb h3, #editAxGlo, .gridData th, .navLeft, span.pull-right.glyphicon.glyphicon-refresh.icon-arrows-rotate {
    color: #fff !important;
}

.gridData th {
    background-color: #77c9d4 !important;
}

.focusTheField {
    border-width: 1px !important;
    border-color: #00bcd4 !important;
}

button.btn.btn-primary.dropdown-toggle:focus, button.noBg.colorButton.icon-basic-settings:focus, button.noBg.icon-basic-gear:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
}

.navbar-header, .navbar-inverse {
    background-color: #fff !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f5f5f5)) !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #00bcd4 !important;
    color: #fff !important;
}

.panelsHeader {
    color: #000;
    background: #bef5ef !important;
}

i#showGLSearch {
    color: #fff;
}

.dataTables_scrollHeadInner, .gridThemeHeader {
    background-color: #00bcd4;
    color: #fff;
}

#searchoverrelay .panel-heading {
    background-color: #54bbb7 !important;
    color: #fff !important;
}

    #searchoverrelay .panel-heading h4, span.glyphicon.glyphicon-remove.icon-arrows-remove {
        color: #fff !important;
    }

/*#GridView1 tr.even:hover {
    background: #e0f2f1 !important;
    color: #000;
}*/

button.icon-cog {
    background: 0;
    color: #fff !important;
}

#Button1 span.icon-software-pencil, #ExportImportCogIcon button.noBg.icon-basic-gear, #newMenuIconsWrapper span#themeIcon, button.remodal-close.icon-basic-remove,.colorIcon{
    color: #0997a6 !important;
}
span#themeIcon, span#themeIcon:focus, span#themeIcon:hover, .colorIcon{
    margin-bottom: 0 !important;
    padding: 0 !important;
    color: #fff !important;
}

div#hamburgerMenuIcon button:focus .line, div#hamburgerMenuIcon button:hover .line {
    background-color: #20bbab !important;
}

.gridHeader th {
    background: #77c9d4 !important;
    color: #fff;
}

.dropdown .btn-primary {
    color: #fff;
    background-color: #009688 !important;
    border-color: #009688 !important;
}

    .dropdown .btn-primary:hover {
        color: #fff;
        opacity: .8;
        background-color: #009688;
        border-color: #009688;
    }

.customSetupTableMN tr.activeSearchTr td, .customSetupTableMN tr.activeSearchTr th {
    color: #1b1b1b !important;
}

.customSetupTableMN tr.activeSearchTr:not(:first-child) {
     background: #ffffff !important;
}

.modal-header .close {
    color: #00bcd4 !important;
    opacity: 1;
}

    .modal-header .close:hover {
             opacity: .8;
    }

#moduleSelector span.icon-arrows-down {
    color: #fff !important;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
    border-top: solid 7px #00bcd4;
    -webkit-animation-name: inherit;
    animation-name: inherit;
}

.c-button--dropdown {
    background-color: #24bdae;
    color: #e6e9ed;
}

    .c-button--dropdown:focus, .c-button--dropdown:hover {
        background-color: #33decd;
    }

label#lblProperty {
    background-color: #4db6ac !important;
    color: #fff !important;
}

input#btnSave {
    background-color: #00bcd4 !important;
}

#divtr4 tr {
    background: #33a195 !important;
}

table.table.table-bordered.firstble thead {
    background-color: #77c9d4 !important;
    color: #fff;
}

table#gridHd2 th {
    background: #77c9d4 !important;
}

.menuSetWrapper .menuTitle {
    border-bottom: 2px solid #15b1a1;
    color: #003c4c;
}

.menuSetWrapper p a:focus, .menuSetWrapper p a:focus [class^=icon-], .menuSetWrapper p a:hover, .menuSetWrapper p a:hover [class^=icon-] {
    text-decoration: none;
    background: #80cbc4;
    color: #fff;
}

.menuSetItem.activeItem [class^=icon-], .menuSetItem.activeItem a, span.hirarchy.activeItem {
    background: #4db6ac !important;
    color: #fff;
}

#menuContentFooter button.activeItem {
    background: #4db6ac;
    color: #fff;
}

.customSetupTableMN tr:hover {
    background: #e0f2f1;
}

button.btn.btn-primary.dropdown-toggle:focus {
    opacity: .8;
}

.dashBoardTitle.hpbHeaderTitle {
    background: #00897b;
    color: #fff;
}

#HPBmainWrapper .tabs .indicator {
    background-color: #004d40;
}

#HPBmainWrapper .tabs .tab a.active, #HPBmainWrapper .tabs .tab a:hover {
    color: #00897b;
}

.collectionListUl .collection-item:hover, li.collection-item.activeLi {
    background: #e0f2f1;
    color: #000;
}



i.glyphicon.glyphicon-remove.icon-arrows-remove {
    color: #4db6ac;
}

span#btnAddNew, span#btnDelete {
    font-size: 15px;
}

span#delCond1 {
    font-size: 15PX;
}

#ivirChatWrapper button.ivirChartButton.active span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload {
    color: #80cbc4 !important;
}

    #ivirChatWrapper button.ivirChartButton:focus span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:focus, button.noBg:focus span[class*=fa] {
        color: #00897b !important;
    }

    #ivirChatWrapper button.ivirChartButton:hover span.ivirGraphIcon, #ivirDownloadWrapper button.active span.ivirDownload:hover, button.noBg:hover span[class*=fa], button.noBg:hover span[class*=icon], span.ivirDownload.fa.fa-file-excel-o.CSV:hover, span.ivirDownload.fa.fa-file-excel-o.EXCEL:hover, span.ivirDownload.fa.fa-file-pdf-o.PDF:hover, span.ivirDownload.fa.fa-print.PRINT:hover {
        color: #00695c !important;
    }

.colorButton {
    color: #20bbab !important;
}

.remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove {
    color: #fff !important;
    right: 7px;
}

    .remodal-wrapper.remodal-is-opened #axpertPopupWrapper button.remodal-close.icon-basic-remove:hover {
        opacity: .7 !important;
    }

.colorButton:hover, .hotbtndynamic:focus {
    opacity: .8;
}

button.noBg.panel-control .iconforom, button.noBg.panel-control .iconforom:focus, button.noBg.panel-control .iconforom:hover {
    color: #fff !important;
}

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    background: #fff !important;
}

a.ui-state-default:hover {
    background: #00bcd4 !important;
    color: #fff !important;
    border: 0;
}

tr.tblrowcolor:focus, tr.tblrowcolor:hover {
    background-color: #bfe9ef;
    cursor: pointer;
}

.hotbtndynamic {
    color: #FFF !important;
    background: #009688 !important;
}

.header .nav .dropdown-toggle:focus {
    background: #00bcd4 !important;
    opacity: .8;
}

.leftico.ico, .reload, .rightico, .addOption {
    color: #00bcd4 !important;
}

span#tabCollapseButton {
    color: #00bcd4;
}

.firstble tr:nth-of-type(even), .gridData:not(.ivirMainGrid) tr:nth-of-type(even) {
    background: #ebfdff !important;
}

    .firstble tr:nth-of-type(even):hover, .gridData:not(.ivirMainGrid) tr:hover, .gridData:not(.ivirMainGrid) tr:nth-of-type(even):hover {
        background: #ccf4f9 !important;
    }

span.mobIleMenuIcon {
    color: #20bbab;
    text-shadow: 0 0 5px #303f9f;
}

.hasMobMenuChilds .selected {
    background: #20bbab;
    color: #fff !important;
}

.ms-container .ms-list:focus {
    border-color: #00bcd4 !important;
    outline: 0;
}

#header p.fdata {
    background: #00bcd4 !important;
    COLOR: #fff !important;
}

.gridData span.icon-software-pencil, table#GridView1 span.icon-basic-sheet-multiple {
    color: #07bbd2 !important;
}

a#listep2 span.round-tab.glyphicon.glyphicon-pencil.icon-software-pencil.disabled {
    color: #777 !important;
}

#main div#divTitle {
    background: #00bcd4 !important;
    color: #fff !important;
}

span.icon-tstructMenuBgIcn {
    background-image: url(images/tstruct.png) !important;
}

span.icon-iviewMenuBgIcn {
    background-image: url(images/iview.png) !important;
}

span.icon-pageMenuBgIcn {
    background-image: url(images/page.png) !important;
}
span.icon-linkMenuBgIcn {
    background-image: url(images/menu.png) !important;
}

span.icon-helpMenuBgIcn {
    background-image: url(images/help.png) !important;
}

button.noBg:-moz-focusring {
    outline: green dotted 1px !important;
}

.panel-heading .accordion-toggle:after {
    color: #51a5e8 !important;
}

span.mobileMenu.icon-tstructMenuBgIcn {
    background-image: url(images/mobile-tstruct.png) !important;
}

span.mobileMenu.icon-iviewMenuBgIcn {
    background-image: url(images/mobile-iview.png) !important;
}

span.mobileMenu.icon-linkMenuBgIcn {
    background-image: url(images/mobile-menu.png) !important;
}

.file-upload .file-select:focus {
    border: 1px solid #00bcd4 !important;
    outline: #00bcd4 solid 1px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px rgba(102,233,214,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(110,211,207,.44) !important;
}

button.noBg.colorButton.icon-basic-settings:focus {
    padding: 0 !important;
    outline: -webkit-focus-ring-color auto !important;
}

.uploadfile {
    background: #4bbac5;
}

label.lbluploadtxt {
    color: #fff !important;
}

.ui-datepicker td {
    padding: .19px !important;
}

span#GSclearBtn:hover,#GSclearBtn {
    color: #0097a7 !important;
}


.modal-header .close:focus {
    opacity: 0.8;
    outline: -webkit-focus-ring-color auto 5px !important;
}

.modal-header .close:-moz-focusring {
    opacity: 0.8;
    outline: 1px dotted #6e6d6d;
}

.coldbtn {
    border-radius: 4px !important;
}

#customizer:focus {
    outline: none !important;
}


button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all, button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all:hover {
    color: blue !important;
}

#nextPick {
    color: #0097a7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: white !important;
    background-color: #0097a7 !important;
    background: linear-gradient(to bottom, #0097a7 0%, #0097a7 100%) !important;
}

@media(max-width:414px) {
    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
        text-align: center;
    }
}

@media(max-width:618px) {
    .editLayoutFooter .coldbtn {
        margin: 3px !important;
    }

    .editLayoutFooter .previousNextEditButton {
        padding-left: 0px;
    }
}



.grdButtons .normalbtntiny:focus,.grdButtons .normalbtntiny:hover {
    opacity: 0.8 !important;
    border-color: #ef5350 !important;
   -webkit-box-shadow: inset 0 1px 1px rgba(110,211,207,.08),0 0 8px rgba(102,233,214,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(110,211,207,.44) !important;
    border-color: #08bdac !important;
     outline: 0px !important;
}

.grdButtons .normalbtntiny:-moz-focusring {
    outline: #000 dotted 1px !important;
    }


button.btn.btn-primary.dropdown-toggle:hover {
    opacity: .8;
}


button.btn.btn-primary.dropdown-toggle:focus {
  opacity: 0.8 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #08bdac !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #08bdac !important;
    border-color: #21756d !important;
    outline: 0px !important;
}


.jconfirm-light .jconfirm-buttons button.hotbtntiny:focus{
    opacity: .8;
        color: #FFF !important;
    background: #009688 !important;
    border: 0 !important;
    }
.tgl-ios:checked+.tgl-btn.togglecustom{
    background: #6ed3cf !important;
}
.popover,.popover-title,.popover-content{
   background: #000 !important;
   color: #fff !important;
   font-size: 11px;
}

.popover.right>.arrow:after{
 border-right-color: #000;
}

.popover.left>.arrow:after{
 border-left-color: #000;
}
.popover.top>.arrow:after{
 border-top-color: #000;
}

.popover.bottom>.arrow:after{
 border-bottom-color: #000;
}
#propertySheet .hpbHeaderTitle,.cutsomColorbtn,.createBadge::after {
    background: #004d40 !important;  /* light-blue darken-4 */
    color: white;
}
.highlightOption,.highlightOption:hover {
    background-color: #00bcd4 !important;
    color: white !important;
}

button.noBg.custombuilderico .iconforom, button.noBg.custombuilderico .iconforom:focus, button.noBg.custombuilderico .iconforom:hover {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: white !important;
    background-color: #0097a7 !important;
    background: linear-gradient(to bottom,#0097a7 0,#0097a7 100%) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #77c9d4 !important;
     background: #77c9d4 !important;
}

a#tblResponsibilities_previous:hover,a#tblResponsibilities_next:hover {
    color: #fff !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #77c9d4 !important;
    border-color: #77c9d4 !important;
}

.pickListFooter {
    color: #0097a7 !important;
}
#uldropelements li a:hover, #uldropelements li a:focus {
    border-left: 5px solid #00bcd4 !important;
    background: #a0dbe2 !important;
    padding-left: 15px;
    color: black !important;
}
th.sorting:focus, th.sorting_asc:focus {
    outline: 1px solid #fff !important;
}
.modal-header button#btnModalClose {
   float: right !important;
   color: #fff;
   opacity: 1;
}

.btextDir-rtl .modal-header button#btnModalClose {float: left!important;}
.badge {
    background-color: #00adc3;
}
.wizard-progress .step.active.flat:before {
    border-top-color: #00bcd4 !important;
   
}

.wizard-progress .step.complete.flat {
    background: #00bcd4;
}

.wizard-progress .step.in-progress.flat {
    background: #00bcd4;
    background: -moz-linear-gradient(left, #2196f3 0, #fff 120%);
    background: -webkit-linear-gradient(left, #00bcd4 0, #fff 120%);
    background: linear-gradient(to right, #00bcd4 0, #fff 120%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color', endColorstr='#fff', GradientType=1);
}

.gridDataimport th {
    background-color: hsla(187, 100%, 42%, 0.54) !important;
    color: #000 !important;
}
.themecolorbg{     
    background-color:#00bcd4 !important;
    background:#00bcd4 !important;
}
.jconfirm-title-c {
    background-color: #00bcd4 !important;
    color: #fff !important;
    padding: 24px 0px 0px 17px;
    margin: -30px -25px 16px -25px !important;
    font-weight: normal !important;

}
.modal-header, .modal-title {
    background-color:#00bcd4 !important;
    color: #fff !important;
   }
.modal-header .close {
    color: #fff !important;
    opacity:1;
}
#breadcrumb-panelpopup #lblcustom, #closeList {
    color: #fff !important;
}
#breadcrumb-panelpopup {
    background:#00bcd4 !important;
}
.homePageBody .main-header .navbar.cloud-header {
        background-image: linear-gradient(141deg, #f7f9f8 10%, #08e6dc 51%, #04ada3 75%);
}
.homePageBody .main-header .navbar {
    background-color: #26C6DA !important;
}
#nav-searchbox input {background: #07757f !important;}
.homePageBody .sidebar-menu > li.active > a {
    border-left-color: #26C6DA!important;
}
.homePageBody .sidebar-menu > li:hover > a, .homePageBody .sidebar-menu > li.active > a, .homePageBody .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #26C6DA!important;
}
.homePageBody .sidebar-menu .treeview-menu > li.active > a, .homePageBody .sidebar-menu .treeview-menu > li > a:hover {
    color: #26C6DA!important;
}
.homePageBody .sidebar-menu .treeview-menu > li > a {
    color: #26C6DA!important;
}
.header-list li i {color: #26C6DA!important;}
.split-btn {background: #26C6DA!important;}
.split-btn-vertical {background: #26C6DA!important;}
/*.splitter {background: #26C6DA!important;}
.splitter-horizontal {background: #26C6DA!important;}*/
.head-list li:hover {
    background: #26c6da;
}
.item-list li:hover {background: #26C6DA !important;}
div#icons li:not(.dropDownLst) a {background: #26C6DA !important;}
div#icons li.gropuedBtn button {background: #26C6DA !important;}
div#icons li .dropdown-menu li a:hover{background:#26C6DA !important}
div#icons li .dropdown-menu li a{background:#fff !important;color:#000;}
div#icons li#myFiltersLi {background: #26C6DA !important;}
div#icons li.gropuedBtn {background: #26C6DA !important;}
@media only screen and (min-width:320px) and (max-width:767px) {
 .homePageBody .main-header .navbar.cloud-header {
        background-image: linear-gradient(180deg,#0fb3a4 0%,#f7f9f8 1%, #f7f9f8 20%, #21bd9a 75%, #08af98 90%) !important;
    }
}
