<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="Access-Control-Allow-Origin" value="*" />
             </customHeaders>
    </httpProtocol>
    </system.webServer>
    
</configuration>