.grdButtons .normalbtntiny:focus, .grdButtons .normalbtntiny:hover, button.btn.btn-primary.dropdown-toggle:focus, button.noBg.icon-basic-gear:focus {
    outline: none;
}

/*span#themeIcon {
    margin-bottom: 0 !important;
    padding: 0 !important;
    color: #000 !important;
}*/

.dashBoardTitle {
    background: #607d8b;
    color: #fff;
}

/*.icon-services.left.bcrumb.pd5 span {
    color: #666 !important;
}*/

.dashBoardTitle.hpbHeaderTitle {
    background: #607d8b;
    color: #fff;
}

#HPBmainWrapper .tabs .indicator {
    background-color: #212121;
}

#HPBmainWrapper .tabs .tab a.active, #HPBmainWrapper .tabs .tab a:hover {
    color: #607d8b;
}

.collectionListUl .collection-item:hover, li.collection-item.activeLi {
    background: #e0e0e0;
    color: #000;
}


button.btn.btn-primary.dropdown-toggle:focus {
    opacity: .8;
}

span#btnAddNew, span#btnDelete {
    font-size: 15px;
}

span#delCond1 {
    font-size: 15PX;
}

tr.tblrowcolor:focus, tr.tblrowcolor:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

table.table.table-bordered.firstble thead {
    background-color: #607d8b !important;
    color: #fff !important;
}

.header .nav .dropdown-toggle:focus {
    background: #383838 !important;
    opacity: .8;
}

.firstble tr:nth-of-type(even), .gridData:not(.ivirMainGrid) tr:nth-of-type(even) {
    background: #fbfbfb !important;
}

    .firstble tr:nth-of-type(even):hover, .gridData:not(.ivirMainGrid) tr:hover, .gridData:not(.ivirMainGrid) tr:nth-of-type(even):hover {
        background: #f4f4f4 !important;
    }

span.icon-tstructMenuBgIcn {
    background-image: url(images/tstruct.png) !important;
}

span.icon-iviewMenuBgIcn {
    background-image: url(images/iview.png) !important;
}

span.icon-pageMenuBgIcn {
    background-image: url(images/page.png) !important;
}

span.icon-linkMenuBgIcn {
    background-image: url(images/menu.png) !important;
}

span.icon-helpMenuBgIcn {
    background-image: url(images/help.png) !important;
}

span.mobileMenu.icon-tstructMenuBgIcn {
    background-image: url(images/mobile-tstruct.png) !important;
}

span.mobileMenu.icon-iviewMenuBgIcn {
    background-image: url(images/mobile-iview.png) !important;
}

span.mobileMenu.icon-linkMenuBgIcn {
    background-image: url(images/mobile-menu.png) !important;
}

.file-upload .file-select:focus {
    border: 1px solid #66afe9 !important;
    outline: #66afe9 solid 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/*.modal-open .modal {
    z-index: 999999 !important;
}*/

button.noBg.colorButton.icon-basic-settings:focus {
    padding: 0 !important;
    outline: -webkit-focus-ring-color auto !important;
}
.ui-datepicker td {
    padding: 0.19px !important;
}

.modal-header .close:focus {
     opacity: 0.8;
    outline: -webkit-focus-ring-color auto 5px !important;
}
.modal-header .close:-moz-focusring {
     opacity: 0.8;
    outline: 1px dotted #607d8b;
}
button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all,button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all:hover {
    color: blue  !important ;
}
@media(max-width:414px){
    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
    text-align: center;
}

}
.coldbtn{
    border-radius:4px !important;
}
#customizer:focus {
    outline: none !important;
}
#nextPick {
    color: #e64a19 !important;
}
 .customSetupTableMN tr.activeSearchTr td{
     color:#1b1b1b;
 }
@media(max-width:414px) {
    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
        text-align: center;
    }
}

@media(max-width:618px){
.editLayoutFooter .coldbtn {
    margin: 3px !important;
}
.editLayoutFooter .previousNextEditButton {
    padding-left: 0px;
}

}

.popover,.popover-title,.popover-content{
   background: #000 !important;
   color: #fff !important;
   font-size: 11px;
}
.popover.right>.arrow:after{
 border-right-color: #000;
}

.popover.left>.arrow:after{
 border-left-color: #000;
}
.popover.top>.arrow:after{
 border-top-color: #000;
}

.popover.bottom>.arrow:after{
 border-bottom-color: #000;
}

#propertySheet .hpbHeaderTitle,.cutsomColorbtn,.createBadge::after {
         background: #212121;  /* light-blue darken-4 */
    color: white;
}

#editAxGlo,.iconforom {
    color: #fff !important;
}

.menu-classic #showGLSearch {
    color: #fff;
}

button.noBg.custombuilderico .iconforom, button.noBg.custombuilderico .iconforom:focus, button.noBg.custombuilderico .iconforom:hover {
    color: #fff !important;
}

/* #breadcrumb-panel, .wizard-progress .step.complete:before, #chartSelData .selectedIcon { */
.wizard-progress .step.complete:before, #chartSelData .selectedIcon {
    COLOR: #fff !important;
    background: #607d8b !important;
}

#goback{
     COLOR: #fff !important;
}

#breadcrumb h3 {
               color: #fff !important;
      }

.gridData th {
    background-color: #607d8b !important;
    color: #fff !important;
}

th.sorting:focus, th.sorting_asc:focus {
    outline: 1px solid #fff !important;
}

.modal-header button#btnModalClose {
   float: right !important;
   color: #fff;
   opacity: 1;
}

.btextDir-rtl .modal-header button#btnModalClose {float: left!important;}

   

.hotbtn, .hotbtntiny {
color: #FFF !important;
background: #212121;
background-color: #212121;
}

.wizard-progress .step.in-progress:not(.flat):before {
    background: #607d8b;
    background: -moz-linear-gradient(left,#607d8b 0,#fff 100%);
    background: -webkit-linear-gradient(left,#607d8b 0,#fff 100%);
    background: linear-gradient(to right,#607d8b 0,#fff 100%);
}

.wizard-progress .step.in-progress .node {
    border-color: #4d4e50;
}

.wizard-progress .step.complete .node {
    border-color: #5d5d5d;
    background-color: #343535;
}


.wizard-progress .step.flat:before {
    border-top: 10px solid #7b7676;

}
.wizard-progress .step.in-progress.flat {
    background: #9d9c9c;
    background: -moz-linear-gradient(left,#2196f3 0,#fff 120%);
    background: -webkit-linear-gradient(left,#9d9c9c 0,#fff 120%);
    background: linear-gradient(to right,#9d9c9c 0,#fff 120%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-color',endColorstr='#fff',GradientType=1);
}
.wizard-progress .step.complete.flat {
    background: #9d9c9c;
}
.homePageBody .main-header .navbar.cloud-header {
    background-image: linear-gradient(141deg, #f7f9f8 10%, #7d7070 32%, #827f7f 75%);
}
.homePageBody .main-header .navbar {
    background-color: #607d8b!important;
}
#nav-searchbox input {background: #2d2c2c !important;}
.homePageBody .sidebar-menu > li.active > a {
    border-left-color: #607d8b!important;
}
.homePageBody .sidebar-menu > li:hover > a, .homePageBody .sidebar-menu > li.active > a, .homePageBody .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #607d8b!important;
}
.homePageBody .sidebar-menu .treeview-menu > li.active > a, .homePageBody .sidebar-menu .treeview-menu > li > a:hover {
    color: #607d8b!important;
}
.homePageBody .sidebar-menu .treeview-menu > li > a {
    color: #607d8b!important;
}
.header-list li i {color: #607d8b!important;}
.split-btn {background: #607d8b!important;}
.split-btn-vertical {background: #607d8b!important;}
/*.splitter {background: #607d8b!important;}
.splitter-horizontal {background: #607d8b!important;}*/
.head-list li:hover {
    background: #607d8b;
}
.item-list li:hover {background: #a7a7a7 !important;}
/* div#icons li:not(.dropDownLst) a {background: #a7a7a7 !important;}
div#icons li.gropuedBtn button {background: #a7a7a7 !important;}
div#icons li .dropdown-menu li a:hover{background:#a7a7a7 !important}
div#icons li .dropdown-menu li a{background:#fff !important;color:#000;}
div#icons li.gropuedBtn {background: #a7a7a7 !important;} */
.ui-autocomplete .ui-state-active {
    color: #000 !important;
    background: #c7c4c4 !important;
}
.modal-header {background-color: #607d8b !important;}
.modal-title{color:#fff !important;}
@media only screen and (min-width:320px) and (max-width:767px) {
.homePageBody .main-header .navbar.cloud-header {
    background-image: linear-gradient(180deg,#2d2c2c 0%,#f7f9f8 1%, #f7f9f8 20%, #6b6969 80%, #2d2c2c 90%) !important;
}
}
