//
// Transform
//

.transform-90 {
    transform: rotate(90deg);
    transform-origin: right top;
}

.transform-270 {
    transform: rotate(270deg);
    transform-origin: right top;
}

.transform-origin-inherit {
    transform-origin: inherit;
}